doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		// common css
		link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
		link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
		link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
		link(rel='stylesheet' href='/asstest/coustom/css/main.css')
		link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

		script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
		script(src='/asstest/plugins/popper/popper.min.js')
		script(src='/asstest/plugins/date/jquery-ui.js')
		script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
		script(src='/asstest/plugins/notify/notify.js')
		script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
		script(src="/asstest/plugins/jquery_validation/additional-methods.js")

		// Bootstrap 5 CSS & JS
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

		// common js setups
		script(src='/asstest/coustom/js/base.converter.js')
		script(src='/asstest/coustom/js/common.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

		link(href='/asstest/coustom/css/namuna/namuna-14/namuna-14-page.css' rel='stylesheet')
		script(src='/asstest/coustom/js/handlers/namuna/namuna-14/namuna-14-create-entry-page-handler.js' type='module' defer)


		title Edit नमुना १४ मुद्रांक हिशोब नोंदवही
		style.
			.heading-1 {
				font-weight: bold !important;
				font-size: 1.4rem;
				text-align: center;
				color: #bb2525;
				border-radius: 15px;
				border: 2px solid #bb2525;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 8px;
				margin: 0 auto 1.4rem;
				width: fit-content;
			}

			label.error {
				color: red;
				font-size: 0.9rem;
			}

	body
		include ../../include/navs.pug
		- 
			const months = [
				"०१ (जानेवारी)", "०२ (फेब्रुवारी)", "०३ (मार्च)", "०४ (एप्रिल)", 
				"०५ (मे)", "०६ (जून)", "०७ (जुलै)", "०८ (ऑगस्ट)", 
				"०९ (सप्टेंबर)", "१० (ऑक्टोबर)", "११ (नोव्हेंबर)", "१२ (डिसेंबर)"
			]
		.container
			h2.heading-1.mt-2.mb-1 Edit नमुना १४ मुद्रांक हिशोब नोंदवही

			div
				.d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
					a.btn.btn-primary(href='/namuna/14') यादी

			if namuna14Entry

				form(id='namuna-14-form').mt-1
					.form.form-1
						//- h4.text-center.fw-bold नमुना १८ नोंदणी

						.row.justify-content-center.justify-content-md-between.gx-4.gy-2
							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="month") महिना
									select.form-select(id="month" name="month" required)
										option(value='') --निवडा--
										each month, monthIndex in months 
											option(value=(monthIndex + 1) selected = (((monthIndex + 1) == namuna14Entry.month) ? true: false))=month

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="year") वर्ष
									select.form-select(id="year" name="year" required)
										option(value='') --निवडा--
										- let currentYear = new Date().getFullYear()
										- let startYear = currentYear - 25
										each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i).reverse()
											option(value=year selected = ((year == namuna14Entry.year) ? true: false)) #{year}


							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="date") दिनांक
									input.form-control.datepicker(type="text" id="date" name="date" required placeholder=" " value=namuna14Entry._date)

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="certificate_number") प्रमाणक क्रमांक
									input.form-control(type="text" id="certificate_number" name="certificate_number" required placeholder=" " value=namuna14Entry.certificate_number)

							//- Doubtness
							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="received_stamp_value") मिळालेल्या मुद्रकाची किमत (रू. पै.)
									input.form-control(type="number" id="received_stamp_value" name="received_stamp_value" required placeholder=" " value=namuna14Entry.received_stamp_value)

							.col-11.col-md-12.col-lg-4
								.form-group
									label.form-label(for="letter_number") पत्र क्रमांक 
									input.form-control(id="letter_number" name="letter_number" required placeholder="" value=namuna14Entry.letter_number)

							.col-11.col-md-12.col-lg-4
								.form-group
									label.form-label(for="receipt_number") पावती क्रमांक
									input.form-control(id="receipt_number" name="receipt_number" required placeholder="" value=namuna14Entry.receipt_number)

							//- 
							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="receipt_date") पावती दिनांक	
									input.form-control.datepicker(type="text" id="receipt_date" name="receipt_date" required placeholder="" value=namuna14Entry._receipt_date)

							.col-11.col-md-12.col-lg-4
								.form-group
									label.form-label(for="used_stamp_value") चिकटवलेल्या मुद्रकाची किंमत (रू. पै.)
									input.form-control(type="text" id="used_stamp_value" name="used_stamp_value" placeholder="" value=namuna14Entry.used_stamp_value)

							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="daily_balance") दैनिक शिल्लक
									input.form-control(type="number" id="daily_balance" name="daily_balance" required placeholder="" value=namuna14Entry.daily_balance)

							.col-11.col-md-12.col-lg-12
								.form-group
									label.form-label(for="remarks") शेरा
									input.form-control(id="remarks" name="remarks" placeholder="शेरा" value=namuna14Entry.remarks)

									input(name='id' value=namuna14Entry.id hidden)


						.d-flex.gap-4.justify-content-center
							button.btn.btn-success(type='button' id="update-namuna-14-entry") Update
							button.btn.btn-secondary(type='reset' id='reset') Reset             
			else 
				h4.fw-bold.text-center संबंधित नोंद उपलब्ध नाही

