doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  
    link(href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css' rel='stylesheet')


    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js") 


    //toggle
    script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')
    // extras

    // common js setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src='/asstest/coustom/js/handlers/meter/tap-connection-form-handler.js')

    style.
        .error {
            color:red !important;
            font-style:italic !important;
            font-weight:700 !important;
        }
        .bg-warning{
            background-color:#f0d688 !important;
        }
        body{
            
        }

        form{
            width: 70%;
            margin: 2rem auto;
        }
        .form {
            box-shadow:
                rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            background: white;

            padding: 2rem 1rem;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }

        @media screen and (max-width: 576px){
            form {
                width: 95%;
            }
        }

body
    include ../include/navs.pug
    .container-fluid
        .row.p-0.p-1.pt-3
            .col-12
                center
                    a(href="/meter/tap-connection-list").float-right.btn.btn-primary.btn-sm.mr-2 नळ यादी बघा
                    h5.font-weight-bold.m-3 नवीन नळ जोडणी
            .col-12
                form(id='tap-connection-form')
                    .form
                        .row
                            //- .col-12.col-md-6.col-lg-2
                            //-     .form-group
                            //-         label.font-weight-bold(for='my-input') नळ क्र.: 
                            //-         input.form-control-sm.form-control(type='number' placeholder="" autocomplete="off" name="tap_number" value=tapConnection.tap_number)
                            
                            .col-12.col-md-6.col-lg-2
                                .form-group
                                    label.font-weight-bold(for='my-input') मालमत्ता क्रमांक  
                                    input.form-control-sm.form-control(type='text' placeholder="" autocomplete="off" name="malmatta_no" value=tapConnection.malmatta_no)
                            .col-12.col-md-6.col-lg-3
                                .form-group
                                    label.font-weight-bold(for='my-input') नळ धारकाचा क्रमांक:
                                    input.form-control-sm.form-control(type='text' placeholder="" autocomplete="off" name="tap_owner_number" value=tapConnection.tap_owner_number)
                            .col-12.col-md-6.col-lg-4
                                .form-group
                                    label.font-weight-bold(for='my-input') नळ धारकाचे पूर्ण नाव:
                                    input.form-control-sm.form-control(type='text' placeholder="" autocomplete="off" name="name" value=tapConnection.name)
                            .col-12.col-md-6.col-lg-3
                                .form-group
                                    label.font-weight-bold(for='my-input') नळ धारकाचा फोन क्र.:
                                    input.form-control-sm.form-control(type='text' placeholder="" autocomplete="off" name="mobile" maxlength='10' value=tapConnection.mobile)
                            .col-12.col-md-6.col-lg-3
                                .form-group
                                    label.font-weight-bold(for='my-input') पत्ता
                                    textarea.form-control-sm.form-control(rows="1" type='text' placeholder="" autocomplete="off" name="address") #{tapConnection.address}

                            .col-12.col-md-6.col-lg-3
                                .form-group
                                    label.font-weight-bold(for='my-input') व्हाल क्र.: 
                                    input.form-control-sm.form-control(type='number' placeholder="" autocomplete="off" name="valve_number" value=tapConnection.valve_number)
                                    input(value=tapConnection.id name='id' hidden readonly)
                            
                            .col-12.col-md-6.col-lg-3
                                .form-group
                                    label.font-weight-bold(for='my-input') मागील विशेष पाणी कर:
                                    input.form-control-sm.form-control.is-number(type='text' placeholder="" autocomplete="off" name="last_special_water_tax" value=tapConnection.last_special_water_tax)
                            .col-12.col-md-6.col-lg-3
                                .form-group
                                    label.font-weight-bold(for='my-input') मागील सामान्य पाणी कर: 
                                    input.form-control-sm.form-control.is-number(type='text' placeholder="" autocomplete="off" name="last_general_water_tax" value=tapConnection.last_general_water_tax)                           

                            .col-12.text-center
                                button.btn.btn-success(id='update-tap-connection-btn') जतन करा


