doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Edit marriage
    // common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  
    link(href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css' rel='stylesheet')

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")  
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js") 

    //toggle
    script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')

    // extras

    //mask plugin jquery    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

    // common js setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src='/asstest/coustom/js/handlers/webcam.handler.marage.js')
    script(src='/asstest/coustom/js/handlers/marriage.js')
    style.
        .error {
            color:red !important;
            font-style:italic !important;
            font-weight:700 !important;
        }
        .bg-warning{
            background-color:#f0d688 !important;
        }
        body{
            
            height:100vh;
        }
        @media (min-width: 576px) {
        .modal-dialog { 
            max-width: none; 
        }
        }
        .modal-dialog {
            width: 98%;
            height: 92%;
            padding: 0;
        }
        textarea{
            resize: none;
        }
    script. 
        let formId = #{marriageData.id}
body
    include ../include/navs.pug
    .container-fluid
        .row.p-0.p-1.pt-3
            .col-12
                center
                    span.font-weight-bold
                        | (भाग चार- ब ) महाराष्ट्र शासन राजपत्र मे 20, 1999,/ वैशाख 30, शके 1921 नमनुा "ई" form no. E
                        a(href="/marriage/list").float-right.btn.btn-primary.btn-sm.mr-2 यादी बघा
                    h5.font-weight-bold.m-3 विवाह नोंदणीचे प्रमाणपत्र

                    h6.font-weight-bold.text-secondary [पहा कलम ६(१) आधण नियम ५] (see section 6[1][e] and rule 5]

            .col-12
                form#editMarriageForm
                    .row
                        .col-4
                            .card
                                .card-header.bg-warning.font-weight-bold पती माहिती
                                .card-body.row
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') नाव:
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" name="marriageHusbandNameE" value=marriageData.marriageHusbandNameE)
                                        input#marriageHusbandNameM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" name="marriageHusbandNameM" value=marriageData.marriageHusbandNameM)
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') आधारकाडा क्र.: 
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" name="marriageHusbandAadharE" class="aadharNo" maxlength="12" value=marriageData.marriageHusbandAadharE)
                                        input.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" name="marriageHusbandAadharM" maxlength="14" value=marriageData.marriageHusbandAadharM)
                                    .form-group.col-12
                                        label.font-weight-bold(for='my-input') राहणार:
                                        textarea.mainText.form-control-sm.form-control(type='text' placeholder="English" name="marriageHusbandAddressE" ) #{marriageData.marriageHusbandAddressE}
                                        textarea.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" name="marriageHusbandAddressM" ) #{marriageData.marriageHusbandAddressM}
                                    
                                    .form-group.col-12.col-md-12 
                                        label.font-weight-bold()  वडलांचे नाव
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" value=marriageData.marriageHusbandFatherNameE  name="marriageHusbandFatherNameE")
                                        input#marriageHusbandFatherNameM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" value=marriageData.marriageHusbandFatherNameM name="marriageHusbandFatherNameM" )
                                    
                                    
                                    .form-group.col-12.col-md-12 
                                        label.font-weight-bold() धर्म 
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" value=marriageData.marriageHusbandReligionE name="marriageHusbandReligionE")
                                        input#marriageHusbandReligionM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" value=marriageData.marriageHusbandReligionM name="marriageHusbandReligionM" )
                                    
                                    .form-group.col-12.col-md-12 
                                        label.font-weight-bold() राष्ट्रीयत्व 
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" value=marriageData.marriageHusbandNationalityE name="marriageHusbandNationalityE")
                                        input#marriageHusbandNationalityM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" value=marriageData.marriageHusbandNationalityM name="marriageHusbandNationalityM" )                                    
                                    .form-group.col-6
                                        .custom-file
                                            input#image_1.custom-file-input(type='file')
                                            label.custom-file-label(for='customFile') Choose file
                                    .form-group.col-6
                                        input(type="button" value="वरचा फोटो काढा" id="spanMale" )   
                                    .form-group.col-6
                                        img#image-1-preview(width="200" height="200" src="/upload/"+marriageData.image_h)
                                    .form-group.col-6
                                        #cameraMale(style="height:auto;width:auto; text-align:left;")

                        .col-4
                            .card
                                .card-header.bg-warning.font-weight-bold पत्नी माहिती
                                .card-body.row
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') नाव:
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" name="marriageWifedNameE" value=marriageData.marriageWifedNameE )
                                        input#marriageWifeNameM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" name="marriageWifeNameM" value=marriageData.marriageWifeNameM)
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') आधारकाडा क्र.: 
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" name="marriageWifedAadharE" class="aadharNo" maxlength="12" value=marriageData.marriageWifedAadharE)
                                        input.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" name="marriageWifeAadharM" maxlength="14" value=marriageData.marriageWifeAadharM)
                                    .form-group.col-12
                                        label.font-weight-bold(for='my-input') राहणार:
                                        textarea.mainText.form-control-sm.form-control(type='text' placeholder="English" name="marriageWifeAddressE" ) #{marriageData.marriageWifeAddressE}
                                        textarea#marriageWifeAddressM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" name="marriageWifeAddressM" ) #{marriageData.marriageWifeAddressM}
                                    
                                    .form-group.col-12.col-md-12 
                                        label.font-weight-bold()  वडलांचे नाव
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" value=marriageData.marriageWifeFatherNameE name="marriageWifeFatherNameE")
                                        input#marriageWifeFatherNameM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" value=marriageData.marriageWifeFatherNameM name="marriageWifeFatherNameM" )
                                    
                                    
                                    .form-group.col-12.col-md-12 
                                        label.font-weight-bold() धर्म 
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" value=marriageData.marriageWifeReligionE name="marriageWifeReligionE")
                                        input#marriageWifeReligionM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" value=marriageData.marriageWifeReligionM name="marriageWifeReligionM" )
                                    
                                    .form-group.col-12.col-md-12 
                                        label.font-weight-bold() राष्ट्रीयत्व 
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" value=marriageData.marriageWifeNationalityE name="marriageWifeNationalityE")
                                        input#marriageWifeNationalityM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" value=marriageData.marriageWifeNationalityM name="marriageWifeNationalityM" )
                                    
                                    .form-group.col-6
                                        .custom-file
                                            input#image_2.custom-file-input(type='file')
                                            label.custom-file-label(for='customFile') Choose file
                                    .form-group.col-6
                                        input(type="button" value="वधूचा फोटो काढा" id="spanFemale")
                                    .form-group.col-6
                                        img#image-2-preview(width="200" height="200" src="/upload/" + marriageData.image_w)
                                    .form-group.col-6
                                        #cameraFemale(style="height:auto;width:auto; text-align:left;")
                        .col-4
                            .card
                                .card-header.bg-warning.font-weight-bold विवाह माहिती
                                .card-body.row
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') अनु क्रमांक:
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="अनु क्रमांक" name="marriagAnuKramankOne" value=marriageData.marriageAnuKramank)
                                        input.secText.form-control-sm.form-control(type='text' placeholder="अनु क्रमांक" name="marriagAnuKramankTwo" value=marriageData.marriageAnuKramankM)
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') खंड क्रंमाक:
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="खंड क्रंमाक" name="marriageVolumeOne" value=marriageData.marriageVolume)
                                        input.secText.form-control-sm.form-control(type='text' placeholder="खंड क्रंमाक" name="marriageVolumeTwo" value=marriageData.marriageVolumeM)
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') विवाह दिनांक:
                                        input.mainText.form-control-sm.form-control(type='text' class="marriageDate" placeholder="दिनांक" name="marriageDateOne" value=marriageData.marriageDate)
                                        input.secText.form-control-sm.form-control(type='text' class="marriageDate" placeholder="दिनांक" name="marriageDateTwo" value=marriageData.marriageDateM)
                                    .form-group.col-6
                                        label.font-weight-bold(for='my-input') नोंदणी दिनांक:
                                        input.mainText.form-control-sm.form-control(type='text' class="marriageDate" placeholder="दिनांक" name="registration_date" value=marriageData.registration_date)
                                        input.secText.form-control-sm.form-control(type='text' class="marriageDate" placeholder="दिनांक" name="registration_date_two" value=marriageData.registration_date_two)
                                    

                                    
                                    .form-group.col-12.col-md-12 
                                        label.font-weight-bold() माहिती देणाऱ्याचे नाव  
                                        input.mainText.form-control-sm.form-control(type='text' placeholder="English" value=marriageData.marriageInformerNameE name="marriageInformerNameE")
                                        input#marriageInformerNameM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" value=marriageData.marriageInformerNameM name="marriageInformerNameM" )
                                                 
                                    
                                    .form-group.col-12
                                        label.font-weight-bold(for='my-input') विवाह स्थळ: 
                                        textarea.mainText.form-control-sm.form-control(type='text' placeholder="English" name="marriagePlaceE" ) #{marriageData.marriagePlaceE}
                                        textarea#marriagePlaceM.secText.form-control-sm.form-control(type='text' placeholder="मराठीत" name="marriagePlaceM" ) #{marriageData.marriagePlaceM}
                                    .form-group.col-12
                                        button#editSaveMarriage.btn.btn-success.float-right.mt-2 सुधारणी करा

