.modal#masterModal(tabindex='-1' role='dialog')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5.modal-title Modal title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body 
				.row
					.col-6.offset-4.mb-3
						form.form-inline
							.form-group.mx-sm-3.mb-2
								select#selectSearch-1.form-control
									option(value="1") नाव
									option(value="2") मामत्ता क्र
									option(value="3") अनु/घर क्रमांक टाका
									option(value='4') भोगवटदाराचे नाव
							.form-group.mx-sm-3.mb-2
								input#homeId-type.form-control(type='text' placeholder='विकल्प निवडा')
								input#homeId.form-control(type='hidden' placeholder='विकल्प निवडा')
							button#btnGetUserDetails.btn.btn-primary.mb-2(type='submit') माहित पहा

				form.row#divUserDetails.d-none
					.col-4
						.card
							.card-header.bg-warning.font-weight-bold मालमत्ता माहिती
							.card-body.row
								.form-group.col-6
									label.font-weight-bold(for='my-input') अनु क्रमांक
									input.myMainId.form-control-sm.form-control(type='text' value="" readonly)
								.form-group.col-6
									label.font-weight-bold(for='my-input') घर क्रमांक
									input.myMainId.form-control-sm.form-control(type='text' value="" readonly)
								.form-group.col-6
									label.font-weight-bold(for='my-input') मालमत्ता क्र.
									input#newMalmattaNo.form-control-sm.form-control(type='text' name='newMalmattaNo')
								.form-group.col-6
									label.font-weight-bold(for='my-input') वार्ड नं
									input#newWardNo.form-control-sm.form-control(type='text' name='newWardNo')
								.form-group.col-4
									label.font-weight-bold(for='my-input') जुनाघर क्र.
									input#oldHomeNo.form-control-sm.form-control(type='text' name='oldHomeNo')

								.form-group.col-6
									p.font-weight-bold.mb-0 पाणीकर
									select.form-select.form-control(type="text" id="waterTax" name="waterTax")
										option(value="विशेष पाणीकर") विशेष पाणीकर
										option(value="सामान्य पाणीकर") सामान्य पाणीकर
										option(value="नाही") नाही

					.col-8
						.card
							.card-header.bg-warning.font-weight-bold मालकाची माहिती
							.card-body.row
								.form-group.col-6
									label.font-weight-bold(for='my-input') मालमत्ता धारकाचे नाव व पत्नीचे नाव
									input#newOwnerName.form-control-sm.form-control(type='text' name='newOwnerName')
								.form-group.col-6
									label.font-weight-bold(for='my-input') भोगवटदाराचे नाव
									input#newSecondOwnerName.form-control-sm.form-control(type='text' name='newSecondOwnerName')
								.form-group.col-6
									label.font-weight-bold(for='my-input') मोबाईल क्रमांक 
									input#newMobileNo.form-control-sm.form-control(type='text' name='newMobileNo' maxlength="10")
								.form-group.col-6
									label.font-weight-bold(for='my-input') आधार क्रं.
									input#newAadharNo.form-control-sm.form-control(type='text' name='newAadharNo' maxlength="14")
								.form-group.col-6
									label.font-weight-bold(for='my-input') ग्रामपंचायत
									input#newGramPanchayet.form-control-sm.form-control(type='text' name='newGramPanchayet')
								.form-group.col-6
									label.font-weight-bold(for='my-input') गावाचे नाव
									input#newVillageName.form-control-sm.form-control(type='text' name='newVillageName')
					.col-12.mt-5
						.card
							.card-header.bg-warning.font-weight-bold  मालमत्तेचा फेरफार
							.card-body.row
								.form-group.col-12
									label.font-weight-bold(for='my-input') जुना धारक
									input#newOldDharak.form-control-sm.form-control(type='text' name='newOldDharak' value="-" readonly)
								.form-group.col-4
									label.font-weight-bold(for='my-input') नवीन धारक
									input#newNewDharak.form-control-sm.form-control(type='text' name='newNewDharak' value="-" readonly)
								.form-group.col-4
									label.font-weight-bold(for='my-input') दिनांक
									input#newPherfarDate.form-control-sm.form-control(type='text' name='newPherfarDate' value="-" readonly)
								.form-group.col-4
									label.font-weight-bold(for='my-input') ठराव क्रमांक
									input#newPherfarTharav.form-control-sm.form-control(type='text' name='newPherfarTharav' value="-" readonly)
								.form-group.col-4
									label.font-weight-bold(for='my-input') कोणत्या दस्तावेजनी
									select#newPherfarDocument.form-control(type='text' name='newPherfarDocument' readonly)
										option(value="") -- निवडा --
										-let _dastavej = dastaveg != null ? dastaveg : []
										each value,index in _dastavej
											option(value=value) #{value}
								.form-group.col-12 
									input.pherfar-text.form-control-sm.form-control(type='text' disabled)
					.col-4.mt-5
						.card
							.card-header.bg-warning.font-weight-bold जागेची माहिती
							.card-body
								.form-group
									label.font-weight-bold(for='my-input') गट क्र./भुमापण क्र. /नगर भामपण क्र
									input#newGaatNo.form-control-sm.form-control(type='text' name='newGaatNo')
								.form-group
									label.font-weight-bold(for='my-input') घरकुल असल्यास
									select#gharkulYojna.form-control(type='text' name='gharkulYojna')
										each value,index in gharkulYojanaList
											option(value=value.id) #{value.text}

								.form-group
									label.font-weight-bold(for='my-input') शौच्छालय
									select#havingToilet.form-control(type='text' name='havingToilet')
										each value,index in ["होय","नाही"]
											option(value=value) #{value}
					.col-4.mt-5
						.card
							.card-header.bg-warning.font-weight-bold क्षेत्रफळ माहिती
							.card-body.row
								//- sq foot
								.form-group.col-6
									label.font-weight-bold(for='my-input') जागेची लांबी  (फुट)
									input#newAreaHeightFoot.isNaN.form-control-sm.form-control(type='text' name='newAreaHeightFoot' value="-")
								.form-group.col-6
									label.font-weight-bold(for='my-input') जागेची रुंदी  (फुट)
									input#newAreaWidthFoot.isNaN.form-control-sm.form-control(type='text' name='newAreaWidthFoot' value="-")

								//-  sq meter
								.form-group.col-6
									label.font-weight-bold(for='my-input') जागेची लांबी (मी.)
									input#newAreaHeightMeter.isNaN2.form-control-sm.form-control(type='text' name='newAreaHeightMeter' value="-")
								.form-group.col-6
									label.font-weight-bold(for='my-input') जागेची रुंदी (मी.)
									input#newAreaWidthMeter.isNaN2.form-control-sm.form-control(type='text' name='newAreaWidthMeter' value="-")

								//- total area in foot
								.form-group.col-6
									label.font-weight-bold(for='my-input') एकूण जागेचे क्षेत्र.(चौ.फुट)
									input#newTotalAreaSquareFoot.form-control-sm.form-control(type='text' name='newTotalAreaSquareFoot' value="-")

								//- total area in meter
								.form-group.col-6
									label.font-weight-bold(for='my-input') एकूण जागेची चौ.मी.
									input#newTotalAreaSquareMeter.form-control-sm.form-control(type='text' name='newTotalAreaSquareMeter' value="-")

					.col-4.mt-5
						.card
							.card-header.bg-warning.font-weight-bold दिशा माहिती
							.card-body.row
								.form-group.col-6
									label.font-weight-bold(for='my-input') पूर्वेस
									input#newEastLandmark.form-control-sm.form-control(type='text' name='newEastLandmark')
								.form-group.col-6
									label.font-weight-bold(for='my-input') पश्चिमेस
									input#newWestLandmark.form-control-sm.form-control(type='text' name='newWestLandmark')
								.form-group.col-6   
									label.font-weight-bold(for='my-input') उत्तरेस
									input#newNorthLandmark.form-control-sm.form-control(type='text' name='newNorthLandmark')
								.form-group.col-6
									label.font-weight-bold(for='my-input') दक्षिणेस
									input#newSouthLandmark.form-control-sm.form-control(type='text' name='newSouthLandmark')
								.form-group.col-12
									label.font-weight-bold(for='my-input') बोजा/शेरा
									textarea#newBojaShera.form-control-sm.form-control(type='text' name='newBojaShera' value="-")

					//- Old image upload code
					//- .col-12.col-md-6.mt-3
					//- 	.form-group.col-12
					//- 		label.font-weight-bold(for='my-input') घराचा फोटो
					//- 		input#image1.form-control-sm.form-control(type='file')
					//- 		img#image-1-preview(src="" alt="" width="100%" style="border:1px solid" height="400")
					//- .col-12.col-md-6.mt-3
					//- 	.form-group.col-12
					//- 		label.font-weight-bold(for='my-input') नकाशा फोटो 
					//- 		input#image2.form-control-sm.form-control(type='file')
					//- 		img#image-2-preview(src="" alt="" width="100%" style="border:1px solid" height="400")


					//- image using camera
					.col-12.col-md-6.mt-3
						.form-group.col-12
							label.font-weight-bold(for='my-input') घराचा फोटो
							button#home-capture-image-btn.mb-1.btn.btn-success(type='button' value='Click') Click
							#home-camera-capture-image.d-flex.justify-content-center.mb-2(style="border:0px solid;" )
							img#home-photo-preview(src='' alt="" width="100%" style="border:1px solid" height="400")
					.col-12.col-md-6.mt-3
						.form-group.col-12
							label.font-weight-bold(for='my-input') नकाशा फोटो
							button#map-capture-image-btn.mb-1.btn.btn-success(type='button' value="Click") Click
							#map-camera-capture-image.d-flex.justify-content-center.mb-2(style="border:0px solid;" )
							img#map-photo-preview(src='' alt="" width="100%" style="border:1px solid" height="400")



					.col-12
						.form-group.col-12.mt-4
							button#removeUserDetails.btn.btn-danger.float-right.ml-3 
								span.fa.fa-trash.mr-2
								| नमुना ८ काढून काढा
							button#moveMore.btn.btn-primary.float-right.ml-3 
								span.fa.fa-forward.mr-2
								| नमुना ८ कर दुरीस्ती
							button#saveNewUserForm.btn.btn-success.float-right
								span.fa.fa-floppy-o.mr-2
								| माहिती जतन करा

			.modal-footer.d-none
				button.btn.btn-primary(type='button') Save changes
				button.btn.btn-secondary(type='button' data-dismiss='modal') Close



.modal#masterModal1(tabindex='-1' role='dialog')
	.modal-dialog.modal-xl(role='document')
		.modal-content
			.modal-header
				h5.modal-title Modal title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				.row.justify-content-center(style='row-gap: 1rem;')
					.col-6
						form.form-inline
							.form-group.mx-sm-3.mb-2
								select#selectSearch.form-control.text-secondary
									option(value="1") नाव
									option(value="2") मामत्ता क्र
									option(value="3") अनु/घर क्रमांक टाका
									option(value='4') भोगवटदाराचे नाव
							.form-group.mx-sm-3.mb-2
								input#homeId1-type.form-control(type='text' placeholder='')
								input#homeId1.form-control(type='hidden' placeholder='')
							//- button#btnGetUserDetails1.btn.btn-primary.mb-2(type='submit') माहित पहा

				form.row.justify-content-center#previewDetails.d-none
					.col-11.col-md-4
						.card
							.card-header.bg-warning.font-weight-bold मालमत्ता माहिती
							.card-body
								.row.justify-content-center
									.form-group.col-6
										label.font-weight-bold(for='my-input') अनु क्रमांक
										input.myMainId1.readOnly.form-control-sm.form-control(type='text' value="" readonly)
									.form-group.col-6
										label.font-weight-bold(for='my-input') घर क्रमांक
										input.myMainId1.readOnly.form-control-sm.form-control(type='text' value="" readonly)
									.form-group.col-6
										label.font-weight-bold(for='my-input') मालमत्ता क्र.
										input#newMalmattaNo1.readOnly.form-control-sm.form-control(type='text' name='' readonly)
									.form-group.col-6
										label.font-weight-bold(for='my-input') वार्ड नं
										input#newWardNo1.readOnly.form-control-sm.form-control(type='text' name='')
									.form-group.col-6
										label.font-weight-bold(for='my-input') जुना घर क्रमांक
										input#oldHomeNo1.readOnly.form-control-sm.form-control(type='text' name='')
									.form-group.col-6
										label.font-weight-bold(for='my-input') पाणीकर
										input#waterTax1.form-control-sm.form-control(type='text', readonly)

					.col-11.col-md-8
						.card
							.card-header.bg-warning.font-weight-bold मालकाची माहिती 
							.card-body
								.row.justify-content-center
									.form-group.col-12.col-md-6
										label.font-weight-bold(for='my-input') मालमत्ता धारकाचे नाव व पत्नीचे नाव
										input#newOwnerName1.readOnly.form-control-sm.form-control(type='text' name='')
									.form-group.col-12.col-md-6
										label.font-weight-bold(for='my-input') भोगवटदाराचे नाव
										input#newSecondOwnerName1.readOnly.form-control-sm.form-control(type='text' name='')
									.form-group.col-12.col-md-6
										label.font-weight-bold(for='my-input') मोबाईल क्रमांक 
										input#newMobileNo1.readOnly.form-control-sm.form-control(type='text' name='')
									.form-group.col-12.col-md-6
										label.font-weight-bold(for='my-input') आधार क्रं.
										input#newAadharNo1.readOnly.form-control-sm.form-control(type='text' name='')
									.form-group.col-12.col-md-6
										label.font-weight-bold(for='my-input') ग्रामपंचायत
										input#newGramPanchayet1.readOnly.form-control-sm.form-control(type='text' name='')
									.form-group.col-12.col-md-6
										label.font-weight-bold(for='my-input') गावाचे नाव
										input#newVillageName1.readOnly.form-control-sm.form-control(type='text' name='')

					.col-12
						.card
							.card-body
								.row.justify-content-center
									.form-group.col-12
										button#sendNineNavigation.btn.btn-success.float-right.d-none
											span.fa.fa-floppy-o.mr-2
											| नमुना ९ भरा / दुरुस्ती करा
										button#btnPrintEight.btn.btn-success.float-right.d-none
											span.fa.fa-floppy-o.mr-2
											| पावती प्रिंट करा

										button#btnPrintEightSingleImage.btn.btn-success.float-right.d-none
											span.fa.fa-floppy-o.mr-2
											| फोटो पावती प्रिंट करा
										input#pavtiName.d-none.form-control.col-4.float-left.mr-3(type='text' placeholder='पावतीसाठीच्ये नाव')
										input#pavtiRuppe.d-none.form-control.col-1.float-left.mr-3(type='text' placeholder='पावती रुपये')
										input#d1.d-none.form-control.col-2.float-left.mr-3(type='text' placeholder='वर्ष पासून')
										input#d2.d-none.form-control.col-2.float-left.mr-3(type='text' placeholder='वर्ष पर्यंत')

										button#btnPrintNineSamanya.btn.btn-success.float-right.d-none
											span.fa.fa-floppy-o.mr-2
											| नमुना ९ सामान्य प्रिंट करा

			.modal-footer.d-none
				.row.justify-content-center
					.col-11.text-center
						button.btn.btn-primary(type='button') Save changes
						button.btn.btn-secondary(type='button' data-dismiss='modal') Close


.modal#yearModal(tabindex='-1' role='dialog')
	.modal-dialog(role='document' style="width:60% !important; margin-inline: auto;")
		.modal-content
			.modal-header
				h5.modal-title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body 
				.row.justify-content-center
					.col-12.col-md-5
						.form-group.mb-2
							input#date1.form-control(placeholder="---- पासून वर्ष ----")
					.col-12.col-md-1
						.form-group.mt-2.text-center
							span.font-weight-bold ते
					.col-12.col-md-5
						.form-group.mb-2
							input#date2.form-control(placeholder="---- पासून वर्ष ----")
					.col-12.col-md-5
						.form-group.mb-2
							input#printDate.form-control(placeholder="---- प्रिंट दिनांक----")
					.col-12
						center
							button#btnGetPrintSpace.btn.btn-primary.mb-2(type='submit') प्रिंट करा

.modal#yearModal1(tabindex='-1' role='dialog')
	.modal-dialog(role='document' style="width:70% !important; margin: auto auto;")
		.modal-content
			.modal-header
				h5.modal-title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body 
				.row.justify-content-center
					.col-12.col-md-3
						.form-group.mb-2
							input#date11.form-control(placeholder="---- पासून वर्ष ----")
					.col-12.col-md-1
						.form-group.mt-2.text-center
							span.font-weight-bold ते
					.col-12.col-md-3
						.form-group.mb-2
							input#date21.form-control(placeholder="---- पासून वर्ष ----")
					.col-12.col-md-1
						.form-group.mt-2.text-center
							span.font-weight-bold आणि
					.col-12.col-md-3
						.form-group.mb-2
							input#date31.form-control(placeholder="--- दिनांक ---")
					.col-12
						center
							button#btnGetPrintSpace1.btn.btn-primary.mb-2(type='submit') प्रिंट क्रमांक
.modal#meterModel(tabindex='-1' role='dialog')
	.modal-dialog(role='document' style="width:60% !important;")
		.modal-content
			.modal-header
				h5.modal-title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body 
				.row.justify-content-center 
					.col-3
						.form-group.mb-2
							input#meterPrintDate.form-control(placeholder="दिनांक")
					.col-3
						.form-group.mb-2 
							input.form-control(id='valve-number' placeholder='वॉल्व नंबर') 
					.col-3
						.form-group.mb-2 
							input.form-control(id='date-from' placeholder='पासून')
					.col-3
						.form-group.mb-2 
							input.form-control(id='date-to' placeholder='पर्यंत' ) 
					.col-6
						.text-center
							button#printMeterBill.btn.btn-primary.mb-2(type='submit') प्रिंट क्रमांक

.modal#meterModelPaniNondaniBill(tabindex='-1' role='dialog')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5.modal-title
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body 
				.row.justify-content-center
					.col-2
						.form-group.mb-2
							label(style='opacity: 0;') -
							input#meterPaniNondaniBillFrom.form-control(placeholder="---- पासून  ----")
					.col-1
						.form-group.mb-2
							label.font-weight-bold(style='opacity: 0;') ---
							label.form-control.font-weight-bold.border-0(for="")  ते
					.col-2
						.form-group.mb-2
							label.font-weight-bold(style='opacity: 0;') ---
							input#meterPaniNondaniBillTo.form-control(placeholder="---- पर्यंत ----")
					.col-3
						.form-group.mb-2 
							label.font-weight-bold(style='opacity: 0;') ते
							select.form-control(id='from-date' placeholder='कालावधी पासून')

					.col-3
						.form-group.mb-2 
							label.font-weight-bold(style='opacity: 0;') ते
							input.form-control(id='to-date' placeholder='कालावधी पर्यन्त' readonly)
					.col-12
						center
							.form-group
								button#printMeterPaniNondaniBill.btn.btn-primary.mb-2(type='submit') प्रिंट क्रमांक


.modal#webListModal(tabindex='-1' role='dialog')
	.modal-dialog(role='document' style="width:70% !important; margin-inline: auto;")
		.modal-content
			.modal-header
				h5.modal-title.text-secondary ग्रामपंचायत अंतर्गत वापरल्या जाणाऱ्या वेबसाईट
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body 
				.row
					.col-12
						table.table.table-bordered
							thead
								tr
									th(width="10%") क्रमांक
									th(width="90%") वेबसाईट यादी
							tbody
								if gpSite
									each siteList,index in gpSite
										tr
											td.text-secondary.font-weight-bold #{index+1}
											td.text-success.font-weight-bold 
												a(href=siteList.site_url,target="new") #{siteList.site_name}   