style. 
    .header-container {
        display: grid;
        grid-template-columns: 6rem 2fr 6rem;
        gap: 2rem;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .grid-el {
        padding: 0.7rem;
        font-weight: bold;
    }
    .el-1 {
        margin-left: 2rem;
    }
    .el-3 {
        margin-right: 2rem;
    }
    .el-2,
    .el-1,
    .el-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .heading-2{
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .heading-1{
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .heading-3 {
        font-size: 1.1rem;
        text-align: center;
    }
    .el-3 span {
        font-size: 0.59rem;
    }

div.header-container
    - let _gp = zp || gp
    div.grid-el.el-1
        img(src="/img/header-images/mudra-nav.jpg" width="100" height="40")
        span नमुना-८
    div.grid-el.el-2
        span.heading-1 महाराष्ट्र शासन राजपत्र असाधारण भाग चार-ब मार्च ३, २०१६/फाल्गुल १३ शके १९३७ नुसार नमुना ८ नियम ३२(९)
        span.heading-3 ग्रामपंचायत कार्यालय #{_gp.gp_name}, प.स. #{_gp.gp_taluka}, जि. #{_gp.gp_dist}
        span.heading-2 सन. #{y1} ते #{y2} साला करिता करास पात्र असलेल्या इमारती व जमिनी यांची भांडवली मूल्यांकनानुसार कर आकारणी नोंदणी पुस्तिका (असेसमेंट रजिस्टर)             
    div.grid-el.el-3
        img(src="/img/header-images/g-sevalogo-new.jpeg" width="150" height="40")
        span पान क्र:- #{(count + 1) ? (count + 1) : "1"}