doctype html
head
    title Sample
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js')

    style.
        @media print {
            @page {
                size: A4 portrait;
            }

            .application-page {
                page-break-after: always;
                width: 90%;
            }

            table {
                page-break-inside: avoid;
            }

            .print-btn {
                display: none;
            }
        }

        .dynamicValueColor {
            color: #CA3125;
            font-weight: bold;
        }

        .my-print {
            border: 1px solid black;
            padding: 10px;
        }

        .applicantDetails {
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin: 0;
            padding: 0;
        }

        #table1 {
            border: 1px solid black;
            width: 100%;
        }

        tr td,
        th {
            border: 1px solid black;
        }

        .waterMark {
            position: absolute;
            opacity: 0.3;
            margin-top: 150px;
            top: calc(50% - 200px);
            left: calc(50% - 200px);
            width: 400px;
            height: 400px;
        }

body
    each application in applicationsList
        - let data = application;
        - let doc = JSON.parse(data.docDetails || "[]");
        - let doc1 = doc[0]
        - let doc2 = doc[1] ? doc[1] : null;

        //- ONE PAGE PER APPLICATION
        div.application-page

            //- TWO COPIES ON SAME PAGE
            each copyIndex in [1, 2]
                .my-print(style='width:100%;' class=(copyIndex === 2 ? 'mt-3' : ''))
                    .row
                        .col-12.text-center
                            h6.font-weight-bold.dynamicValueColor(style='font-size:13px;')
                                | महाराष्ट्र लोकसेवा हक्क अध्यादेश २०१५ क्र.- आरटीएस- २०१५/प्र. क्र. ३२/प स -५, दिनांक १४ जुलै २०१५

                        .col-12.text-center
                            h4.font-weight-bold.dynamicValueColor(style='font-size:25px;')
                                | ग्रामपंचायत कार्यालय #{zp.gp_name}, प स #{zp.gp_taluka}, जी #{zp.gp_dist}

                        .col-12.text-center
                            h5.font-weight-bold.dynamicValueColor(style='font-size:18px;')
                                | महाराष्ट्र लोकसेवा हक्क अध्यादेश २०१५ अंतर्गत दाखल / प्रमाणपत्र मिळण्याकरिता अर्जाचा नमुना  

                        .col-12
                            img.waterMark(src='/img/water-mark-images/Seal_of_Maharashtra.png')

                            .row
                                .col-6
                                    .d-flex.flex-column.justify-content-between.m-0.p-0
                                        div
                                            h6.font-weight-bold
                                                | कार्यालयीन अर्ज नोंदणी क्रमांक -
                                                span.dynamicValueColor #{data.id}
                                            h6.font-weight-bold
                                                | दिनांक -
                                                span.dynamicValueColor #{data._create_date}

                                        div
                                            h6.font-weight-bold प्रति,
                                            h6.font-weight-bold सरपंच / ग्रामपंचायत अधिकारी / निबंधक
                                            h6.font-weight-bold ग्रामपंचायत
                                            p.font-weight-bold
                                                | ता #{zp.gp_taluka} जिल्हा #{zp.gp_dist}

                                .col-6
                                    .applicantDetails.px-2
                                        each field in [ { label: 'नाव', value: data.formName }, { label: 'पत्ता', value: `${data.formAddress? data.formAddress : zp.gp_name } ता. ${zp.gp_taluka} जिल्हा. ${zp.gp_dist}` }, { label: 'दूरध्वनी क्रमांक', value: data.formMobile }, { label: 'आधार कार्ड क्र (असल्यास)', value: data.formAadhar }, { label: 'ई-मेल आयडी (असल्यास)', value: data.formEmail || '-' }]
                                            div.d-flex.align-items-center
                                                h6.m-0.mt-1.font-weight-bold
                                                    | #{field.label} -
                                                    span.dynamicValueColor #{field.value}

                        .col-12

                            div
                                table#table1
                                    tr
                                        th.text-center अ क्र
                                        th.text-center दाखल्याची नोंद
                                        th.text-center होय / नाही
                                    each val, i in doc
                                        tr
                                            td.text-center #{i + 1}
                                            td.text-center #{val.docTitle}
                                            td.text-center होय

                        .col-12.mt-2
                            h6.font-weight-bold
                                | मला महाराष्ट्र हक्क अध्यक्ष - २०१५ अंतर्गत दाखल देण्यात यावा. तरी दाखल मिळावा ही विनंती.

                        .col-12.d-flex.justify-content-end.flex-column.align-items-end
                            h6.font-weight-bold अंगठा
                            h6.font-weight-bold आपला विश्वासू

            //- separator between copy 1 & copy 2
            span(style='display:block;border-top:0.1rem dashed black;margin:8px 0;')




//- doctype html
//- html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title महाराष्ट्र लोकसेवा हक्क अध्यादेश नोंदवही 

        script(src="/asstest/coustom/css/tailwind.js")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&family=Yatra+One&display=swap" rel="stylesheet")

        style.
            table { border-collapse: collapse; width: 100%; }
            td, th {
                padding: 0.3rem;
                border: 1px solid oklch(26.2% 0.051 172.552);
                vertical-align: top;
                font-size:0.8rem;
            }

            @media print {
                @page { size: A4 landscape; margin: 9mm; }
                .hide-print { display: none !important; }
                #print { height:100lvh; }
                .my-print { position: relative; background: none !important; }
                * { -webkit-print-color-adjust: exact !important; print-color-adjust: exact !important; }
                .print-bg {
                    background-image: url('/img/background/bg-tricolor.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top center;
                }

                /* keep header repeating */
                thead { display: table-header-group !important; }
                //- tfoot { display: table-footer-group !important; }
                tr    { page-break-inside: avoid; break-inside: avoid; }
            }

            .tiro-devanagari-marathi-regular {
                font-family: "Tiro Devanagari Marathi", serif;
                font-weight: 400;
                font-style: normal;
            }

    body
        - let year = ''

        div(class="hide-print")
            div(class="fixed top-[45%] right-[2%] flex flex-col items-end gap-2 z-50")
                button(class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded shadow-md" onclick="window.print()") Print

                select(class="form-select block w-fit mt-1 px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500 text-sm text-gray-700")
                    option(value='1' selected=(gp && gp.srapanch_sign_display == 1)) सरपंच सही दाखवा
                    option(value='-1' selected=(gp && gp.srapanch_sign_display == 0)) सरपंच सही लपवा
                    option(value='2' selected=(gp && gp.srapanch_sign_display == 1)) ग्रा.अ. सही दाखवा
                    option(value='-2' selected=(gp && gp.srapanch_sign_display == 0)) ग्रा.अ. सही लपवा
                    option(value='3' selected=(gp && gp.srapanch_sign_display == 1)) दोन्ही सही दाखवा
                    option(value='-3' selected=(gp && gp.srapanch_sign_display == 0)) दोन्ही सही लपवा

                select(id='certificate-dropdown' class="form-select block w-full mt-1 px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500 text-sm text-gray-700")

                    option(value="" selected= (filterCertificate == "")) सर्व दाखले
                    - let options = ["जन्म नोंद दाखला","मृत्यू नोंद दाखला","विवाह नोंदणी दाखला","नमुना नं. 8 चा उतारा","निराधार असले बाबतचा दाखला","इतर काम लिहावे कोणते असल्यास","गावातील तक्रारी नोद येथे लिहावी ","ग्रामपंचायत येणे बाकी नसल्याचा दाखला"]
                    each _option in options
                        option(value=_option selected=(filterCertificate == _option)) #{_option} दाखवा

        if !(applicationsList && applicationsList.length)
            h2(class='mt-8 text-center text-2xl font-bold text-red-500') निवडलेल्या  मालमत्ता धारकासाठी कोणतीही माहीती  नमुद नाही .
        else
            #print(class="tiro-devanagari-marathi-regular")







                //- ================ OLD TEMP
                div(class="my-print p-2 border border-gray-900 bg-white/80 relative h-full print-bg")
                    div(class="absolute inset-0 bg-white opacity-80")
                    .relative.z-10.bg-white.bg-opacity-80.h-full

                        table
                            thead
                                tr
                                    th(colspan='10' class='border !border-b-0 p-0') 
                                        p(class='text-xl p-0') ग्रामपंचायत कार्यालय , #{gp && gp.gp_name ? gp.gp_name : '—'} , पं. स. #{gp && gp.gp_taluka ? gp.gp_taluka : '—'} , जि. #{gp && gp.gp_dist ? gp.gp_dist : '—'}
                                tr(class='border-b-0')
                                    th(colspan='10' class='border !border-b-0 !border-t-0 p-0') 
                                        p(class='text-sm p-0') महाराष्ट्र लोकसेवा हक्क अध्यादेश २०१५ क्रमांक - आर.टी.एस-२०१५/प्र.क्र. ३२/पं.स.-५, दिनांक १४ जुलै २०१५

                                tr(class='border-b-0') 
                                    th(colspan='10' class='border !border-b-0 !border-t-0 p-0') 
                                        p(class='text-lg p-0') सहपत्र - ब

                                tr(class='border-b-0')
                                    th(colspan='10' class='border !border-b-0 !border-t-0 p-0') 
                                        p(class='text-lg p-0') महाराष्ट्र लोकसेवा हक्क अध्यादेश नोंदवही

                                tr
                                    th(colspan='10')
                                        div ग्रामपंचायत कार्यालय , #{gp && gp.gp_name ? gp.gp_name : '—'} , पं. स. #{gp && gp.gp_taluka ? gp.gp_taluka : '—'} , जि. #{gp && gp.gp_dist ? gp.gp_dist : '—'}

                                tr
                                    th(rowspan='2' colspan='1') अ. क्र.
                                    th(rowspan='2' colspan='1') अर्ज क्र.
                                    th(rowspan='2' colspan='1') अर्जदाराचे नाव व पत्ता
                                    th(rowspan='2' colspan='1') अर्ज प्राप्त झाल्याचा दिनांक
                                    th(rowspan='2' colspan='1') अर्ज कोणत्या सेवेशी दाखल केलेला आहे त्याचा तपशील
                                    th(rowspan='1' colspan='2') प्रमाणपत्र / दाखला सेवा शुल्क
                                    th(rowspan='2' colspan='1') सेवा उपलब्ध केल्याचा दिनांक
                                    th(rowspan='2' colspan='1') सेवा उपलब्ध झाल्याबद्दल सही / अंगठा
                                    th(rowspan='2' colspan='1') शेरा

                                tr
                                    th(rowspan='1' colspan='1') पावती क्रं
                                    th(rowspan='1' colspan='1') रुपये

                                tr
                                    each m in ['१','२','३','४','५','६','७','८','९']
                                        th #{m}

                            - let count = 0;
                            tbody

                                each application, _index in applicationsList
                                    - const applicantName = application.formName || '—'
                                    - const applicantAddr = application.formAddress || ''
                                    - const receivedDate = application.create_date || application.docSmsDate || application.docRemarkDate || ''
                                    - const serviceDetail = application.docDetails || '[]'
                                    //- - const remark = application.docRemark || '-'
                                    - var parsedDocs = []
                                    - try { parsedDocs = JSON.parse(serviceDetail); } catch(e) { parsedDocs = null; }
                                    
                                    - let toShow = filterCertificate == '' || (parsedDocs && parsedDocs.length && parsedDocs.filter(d => d.docTitle === filterCertificate).length > 0)
                                    if toShow
                                        tr
                                            td #{count + 1}
                                            - count += 1
                                            td #{application.id}
                                            td
                                                div 
                                                    span(class='font-bold') नाव :
                                                    span #{applicantName}
                                                if applicantAddr
                                                    div 
                                                        span(class='font-bold') पत्ता: 
                                                        span #{applicantAddr}
                                                if application.formMobile
                                                    div 
                                                        span(class='font-bold') मोबाईल क्र.: 
                                                        span #{application.formMobile}
                                                if application.formEmail
                                                    div 
                                                        span(class='font-bold') ई-मेल: 
                                                        span #{application.formEmail}

                                            td #{application._create_date}
                                                
                                            td
                                                
                                                if parsedDocs && Array.isArray(parsedDocs) && parsedDocs.length
                                                    ul
                                                        each doc in parsedDocs
                                                            if filterCertificate == '' || (doc.docTitle === filterCertificate)
                                                                li
                                                                    if doc.docTitle
                                                                        strong #{doc.docTitle}:
                                                                    if doc.docCol1
                                                                        span &nbsp; #{doc.docCol1}
                                                                    if doc.docCol2
                                                                    span &nbsp; (#{doc.docCol2})
                                                else
                                                    | -
                                                    //- if serviceDetail
                                                    //-     div #{serviceDetail}
                                                    //- else
                                                    //-     div -

                                            td
                                            td
                                            td #{application._docRemarkDate} 
                                            td
                                            td 
                                                span.opacity-0 accepted



    script.
        let certDropdown = document.getElementById('certificate-dropdown')

        certDropdown.addEventListener("change", function(){
            let certSelectedDropdownValue = this.value;
            window.open(`/application/report?cert=${encodeURIComponent(certSelectedDropdownValue)}`, '_self')
        })