doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // common css
  link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
  link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
  link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
  link(rel='stylesheet' href='/asstest/coustom/css/main.css')
  link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  
  link(href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css' rel='stylesheet')


  script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
  script(src='/asstest/plugins/popper/popper.min.js')
  script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
  script(src='/asstest/plugins/date/jquery-ui.js')
  script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
  script(src='/asstest/plugins/notify/notify.js')
  script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
  script(src="/asstest/plugins/jquery_validation/additional-methods.js")  

  //toggle
  script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')
  // extras
  script(src='/asstest/plugins/select/js/select2.full.min.js')
  // common js setups
  script(src='/asstest/coustom/js/base.converter.js')
  script(src='/asstest/coustom/js/common.js')
  style.
    .error {
      background-color:yellow;
      padding:2px;
      color:red !important;
      font-style:italic !important;
      font-weight:700 !important;
    }

    #tableRow div{
      background: #c4c8b4;
      padding: 0.6rem 1rem;
      border: 1px solid white;
    }

    @media (max-width: 768px){
      #tableRow div{
        font-size: 0.9rem;
      }
    }
body
  include ./include/navs.pug
  .container-fluid
    .row.p-0.mb-0
      .col-12.p-0
        .card-group
          .card.bg-light-gray
            .card-body
              .row.justify-content-center
                .col-8
                  center
                    h5.font-weight-bold.mb-2 नमुना ९ सामान्य व पाणी करासंदर्भात नोंदणी फॉर्म
                .col-11
                  .form-group.row.mb-0
                    .col-12
                      .card
                        .card-header.bg-warning.font-weight-bold.text-center धारकाची माहिती
                        .card-body
                          .row

                            .form-group.col-6.col-md-4.col-lg-2
                              label.font-weight-bold(for='my-input') अनु / घर क्रमांक 
                              input.form-control-sm.form-control(type='text' readonly value=user.id)

                            .form-group.col-6.col-md-4.col-lg-2
                              label.font-weight-bold(for='my-input')  मालमत्ता क्र.
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_malmattaNo)

                            .form-group.col-6.col-md-4.col-lg-2
                              label.font-weight-bold(for='my-input') वार्ड नं
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_wardNo)

                            .form-group.col-6.col-md-4.col-lg-2
                              label.font-weight-bold(for='my-input') जुना घर क्रमांक
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_homeNo)

                            .form-group.col-12.col-sm-6.col-md-4.col-lg-2
                              label.font-weight-bold(for='my-input') मोबाइल नों.
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_mobileNo maxlength="10")

                            .form-group.col-12.col-sm-6.col-md-4.col-lg-2
                              label.font-weight-bold(for='my-input') आधार क्रं.
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_aadharNo maxlength="12")

                            .form-group.col-12.col-md-4
                              label.font-weight-bold(for='my-input') मालमत्ता धारकाचे नाव व पत्नीचे नाव
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_ownerName)
                            .form-group.col-12.col-md-4
                              label.font-weight-bold(for='my-input') भोगवटदाराचे नाव
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_secondOwnerName)
                            .form-group.col-12.col-md-4.mb-0
                              label.font-weight-bold(for='my-input') गट क्र./भुमापण क्र. /नगर भामपण क्र
                              input.form-control-sm.form-control(type='text' readonly value=user.feu_gaatNo)

                if(update == false)
                  form#newForm9.col-12
                    .row
                      .col-12.col-md-6
                        .row#tableRow
                          .col-12.text-center.bg-warning सामान्य कर 

                          .col-6.col-sm-4
                            span.font-weight-bold मागील इमारत कर:
                            input#lastBuildingTax.isNaN.form-control(type="text" value="0" data-i="1" name="lastBuildingTax" tabindex="1")
                            input#lastUpdateId.form-control(type="hidden" value="0" data-i="1" name="lastUpdateId")
                          .col-6.col-sm-4 
                            - var building_tax = totalTaxData_1.building_tax + totalTaxData_1.open_area_tax + totalTaxData_1.other_tex;
                            span.font-weight-bold चालू इमारत कर:
                            input#currentBuildingTax.isNaN.form-control(type="text" value=building_tax data-i="1" name="currentBuildingTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण इमारत कर:
                            input#totalBuildingTax.form-control(type="text" value="0" readonly name="totalBuildingTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील दिवा कर:
                            input#lastDivaTax.isNaN.form-control(type="text" value="0" data-i="2" name="lastDivaTax" tabindex="2")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू दिवा कर:
                            input#currentDivaTax.isNaN.form-control(type="text" value=totalTaxData_1.dava_kar data-i="2" name="currentDivaTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण दिवा कर:
                            input#totalDivaTax.form-control(type="text" value="0" readonly name="totalDivaTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील आरोग्य कर:
                            input#lastArogyaTax.isNaN.form-control(type="text" value="0" data-i="3" name="lastArogyaTax" tabindex="3")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू आरोग्य कर:
                            input#currentArogyaTax.isNaN.form-control(type="text" value=totalTaxData_1.arogya_kar data-i="3" name="currentArogyaTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण आरोग्य कर:
                            input#totalArogyaTax.form-control(type="text" value="0" readonly name="totalArogyaTax")



                          .col-6.col-sm-4 
                            span.font-weight-bold मागील स्वच्छता कर:
                            input#lastCleaningTax.isNaN.form-control(type="text" value="0" data-i="9" name="lastCleaningTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू स्वच्छता कर:
                            input#currentCleaningTax.isNaN.form-control(type="text" value=totalTaxData_1.cleaning_tax data-i="9" name="currentCleaningTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण स्वच्छता कर:
                            input#totalCleaningTax.form-control(type="text" value="0" readonly name="totalCleaningTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील अग्नी कर:
                            input#lastFireblegateTax.isNaN.form-control(type="text" value="0" data-i="8" name="lastFireblegateTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू अग्नी कर:
                            input#currentFireblegateTax.isNaN.form-control(type="text" value=totalTaxData_1.fireblegate_tax data-i="8" name="currentFireblegateTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण अग्नी कर:
                            input#totalFireblegateTax.form-control(type="text" value="0" readonly name="totalFireblegateTax")

                          //- New taxes

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील शिक्षण कर:
                            input#lastEducationTax.isNaN.form-control(type="text" value="0" data-i="7" name="lastEducationTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू शिक्षण कर:
                            input#currentEducationTax.isNaN.form-control(type="text" value=totalTaxData_1.education_tax data-i="7" name="currentEducationTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण शिक्षण कर:
                            input#totalEducationTax.form-control(type="text" value="0" readonly name="totalEducationTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील वृक्ष कर:
                            input#lastTreeTax.isNaN.form-control(type="text" value="0" data-i="10" name="lastTreeTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू वृक्ष कर:
                            input#currentTreeTax.isNaN.form-control(type="text" value=totalTaxData_1.tree_tax data-i="10" name="currentTreeTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण वृक्ष कर:
                            input#totalTreeTax.form-control(type="text" value="0" readonly name="totalTreeTax")


                          .col-6.col-sm-4 
                            span.font-weight-bold मागील दंड कर (५%):
                            input#lastTaxFine.form-control(type="text" value="0" readonly name="lastTaxFine" )
                            span.font-weight-bold.text-primary जुना उर्वरित कर:
                            input#lastYearTaxFineCheck(type="checkbox").ml-2
                            span.ml-2 (भरला)
                            input#lastYearTaxFine.form-control(type="text" value="0" readonly name="lastYearTaxFine")
                            input#lastYearTaxFineClone.form-control(type="hidden" value="0")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू कारवार सूट:
                            input#lastTaxRelief.isNaN.form-control(type="text" value="0" data-i="4" name="lastTaxRelief")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण:
                            input#totalTax.form-control(type="text" value="0" readonly name="totalTax")

                          .col-12.bg-info
                            span.font-weight-bold.text-white एकूण सामान्य कर:
                            input#totalSampurnaTax.form-control(type="text" value="0" readonly name="totalSampurnaTax")

                      .col-12.col-md-6
                        .row#tableRow
                          .col-12.text-center.bg-warning पाणी कर

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील विशेष पाणी कर:
                            input#lastSpacialWaterTax.isNaN.form-control(type="text" value="0" data-i="5" name="lastSpacialWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू विशेष पाणी कर:
                            input#currentSpacialWaterTax.isNaN.form-control(type="text" value="0" data-i="5" name="currentSpacialWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण विशेष पाणी कर:
                            input#totalSpacialWaterTax.form-control(type="text" value="0" readonly name="totalSpacialWaterTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील सामान्य पाणी कर:
                            input#lastGenealWaterTax.isNaN.form-control(type="text" value="0" data-i="6" name="lastGenealWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू सामान्य पाणी कर:
                            input#currentGenealWaterTax.isNaN.form-control(type="text" value="0" data-i="6" name="currentGenealWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण सामान्य पाणी कर:
                            input#totalGenealWaterTax.form-control(type="text" value="0" readonly name="totalGenealWaterTax")

                          .col-12.p-2.bg-info 
                            span.font-weight-bold.text-white एकूण पाणी कर:
                            input#totalWaterTax.form-control(type="text" readonly value="0" name="totalWaterTax")

                        button#saveFormData.btn.btn-sm.btn-success.float-right नमुना ९ जतन करा
                else
                  form#newForm9.col-12.col-md-11
                    .row
                      .col-12.col-md-6

                        .row#tableRow
                          .col-12.text-center.bg-warning सामान्य कर 




                          .col-6.col-sm-4 
                            span.font-weight-bold मागील इमारत कर:
                            input#lastUpdateId.form-control(type="hidden" value=formNineSavedDetails.id name="lastUpdateId")
                            input(type="checkbox" id='resetTaxToZeroSamanyaCheckbox').ml-2
                            input(id='lastBuildingTaxClone' type='hidden' value=formNineSavedDetails.lastBuildingTax)
                            input#lastBuildingTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastBuildingTax data-i="1" name="lastBuildingTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू इमारत कर:
                            input#currentBuildingTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentBuildingTax data-i="1" name="currentBuildingTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण इमारत कर:
                            input#totalBuildingTax.form-control(type="text" value=formNineSavedDetails.totalBuildingTax readonly name="totalBuildingTax")

                          .col-6.col-sm-4
                            span.font-weight-bold मागील दिवा कर:
                            input(id='lastDivaTaxClone' type='hidden' value=formNineSavedDetails.lastDivaTax)
                            input#lastDivaTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastDivaTax data-i="2" name="lastDivaTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू दिवा कर:
                            input#currentDivaTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentDivaTax data-i="2" name="currentDivaTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण दिवा कर:
                            input#totalDivaTax.form-control(type="text" value=formNineSavedDetails.totalDivaTax readonly name="totalDivaTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील आरोग्य कर:
                            input(id='lastArogyaTaxClone' type='hidden' value=formNineSavedDetails.lastArogyaTax)
                            input#lastArogyaTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastArogyaTax data-i="3" name="lastArogyaTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू आरोग्य कर:
                            input#currentArogyaTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentArogyaTax data-i="3" name="currentArogyaTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण आरोग्य कर:
                            input#totalArogyaTax.form-control(type="text" value=formNineSavedDetails.totalArogyaTax readonly name="totalArogyaTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील स्वच्छता कर:
                            input(id='lastCleaningTaxClone' type='hidden' value=formNineSavedDetails.lastCleaningTax)
                            input#lastCleaningTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastCleaningTax data-i="9" name="lastCleaningTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू स्वच्छता कर:
                            input#currentCleaningTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentCleaningTax data-i="9" name="currentCleaningTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण स्वच्छता कर:
                            input#totalCleaningTax.form-control(type="text" value=formNineSavedDetails.totalCleaningTax readonly name="totalCleaningTax")

                          //- New taxes
                          .col-6.col-sm-4 
                            span.font-weight-bold मागील अग्नी कर:
                            input(id='lastFireblegateTaxClone' type='hidden' value=formNineSavedDetails.lastFireblegateTax)
                            input#lastFireblegateTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastFireblegateTax data-i="8" name="lastFireblegateTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू अग्नी कर:
                            input#currentFireblegateTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentFireblegateTax data-i="8" name="currentFireblegateTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण अग्नी कर:
                            input#totalFireblegateTax.form-control(type="text" value=formNineSavedDetails.totalFireblegateTax readonly name="totalFireblegateTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील शिक्षण कर:
                            input(id='lastEducationTaxClone' type='hidden' value=formNineSavedDetails.lastEducationTax)
                            input#lastEducationTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastEducationTax data-i="7" name="lastEducationTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू शिक्षण कर:
                            input#currentEducationTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentEducationTax data-i="7" name="currentEducationTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण शिक्षण कर:
                            input#totalEducationTax.form-control(type="text" value=formNineSavedDetails.totalEducationTax readonly name="totalEducationTax")


                          .col-6.col-sm-4 
                            span.font-weight-bold मागील वृक्ष कर:
                            input(id='lastTreeTaxClone' type='hidden' value=formNineSavedDetails.lastTreeTax)
                            input#lastTreeTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastTreeTax data-i="10" name="lastTreeTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू वृक्ष कर:
                            input#currentTreeTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentTreeTax data-i="10" name="currentTreeTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण वृक्ष कर:
                            input#totalTreeTax.form-control(type="text" value=formNineSavedDetails.totalTreeTax readonly name="totalTreeTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील दंड कर (५%):
                            input#lastTaxFine.form-control(type="text" value=Math.round(formNineSavedDetails.lastTaxFine) readonly name="lastTaxFine")
                            span.font-weight-bold.text-primary जुना उर्वरित कर:
                            input#lastYearTaxFineCheck(type="checkbox").ml-2
                            span.ml-2 (भरला)
                            input#lastYearTaxFine.form-control(type="text" value=Math.round(formNineSavedDetails.lastYearTaxFine) readonly name="lastYearTaxFine")
                            input#lastYearTaxFineClone.form-control(type="hidden" value=Math.round(formNineSavedDetails.lastYearTaxFine))
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू कारवार सूट:
                            input#lastTaxRelief.isNaN.form-control(type="text" value=formNineSavedDetails.lastTaxRelief data-i="4" name="lastTaxRelief")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण:
                            input#totalTax.form-control(type="text" value=formNineSavedDetails.totalTax readonly name="totalTax")

                          //- ekoon kar
                          .col-6.col-sm-4 
                            span.font-weight-bold मागील एकूण सामान्य कर:
                            input#totalLastSamanyaTax.form-control(type="text" readonly)
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू कूण सामान्य कर:
                            input#totalCurrentSamanyaTax.form-control(type="text" readonly)
                          .col-6.col-sm-4 
                            span.font-weight-bold -
                            //- input#totalTreeTax.form-control(type="text" value=formNineSavedDetails.totalTreeTax readonly name="totalTreeTax")



                          .col-12.bg-info
                            span.font-weight-bold.text-white एकूण सामान्य कर:
                            input#totalSampurnaTax.form-control(type="text" value=formNineSavedDetails.totalSampurnaTax  readonly name="totalSampurnaTax")

                      .col-12.col-md-6
                        .row#tableRow
                          .col-12.text-center.bg-warning पाणी कर

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील विशेष पाणी कर:
                            input(type="checkbox" id='resetTaxToZeroWaterCheckbox').ml-2
                            input(id='lastSpacialWaterTaxClone' type='hidden' value=formNineSavedDetails.lastSpacialWaterTax)
                            input#lastSpacialWaterTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastSpacialWaterTax data-i="5" name="lastSpacialWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू विशेष पाणी कर:
                            input#currentSpacialWaterTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentSpacialWaterTax data-i="5" name="currentSpacialWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण विशेष पाणी कर:
                            input#totalSpacialWaterTax.form-control(type="text" value=formNineSavedDetails.totalSpacialWaterTax readonly name="totalSpacialWaterTax")

                          .col-6.col-sm-4 
                            span.font-weight-bold मागील सामान्य पाणी कर:
                            input(id='lastGenealWaterTaxClone' type='hidden' value=formNineSavedDetails.lastGenealWaterTax)
                            input#lastGenealWaterTax.isNaN.form-control(type="text" value=formNineSavedDetails.lastGenealWaterTax data-i="6" name="lastGenealWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू सामान्य पाणी कर:
                            input#currentGenealWaterTax.isNaN.form-control(type="text" value=formNineSavedDetails.currentGenealWaterTax data-i="6" name="currentGenealWaterTax")
                          .col-6.col-sm-4 
                            span.font-weight-bold एकूण सामान्य पाणी कर:
                            input#totalGenealWaterTax.form-control(type="text" value=formNineSavedDetails.totalGenealWaterTax readonly name="totalGenealWaterTax")


                          //- ekoon kar
                          .col-6.col-sm-4 
                            span.font-weight-bold मागील एकूण पाणी कर:
                            input#totalLastWaterTax.form-control(type="text" readonly)
                          .col-6.col-sm-4 
                            span.font-weight-bold चालू एकूण पाणी कर:
                            input#totalCurrentWaterTax.form-control(type="text" readonly)
                          .col-6.col-sm-4 
                            span.font-weight-bold -
                            //- input#totalTreeTax.form-control(type="text" value=formNineSavedDetails.totalTreeTax readonly name="totalTreeTax")







                          .col-12.p-2.bg-info
                            span.font-weight-bold.text-white एकूण पाणी कर:
                            input#totalWaterTax.form-control(type="text" readonly value="0" name="totalWaterTax")

                        button#saveFormData.btn.btn-sm.btn-success.float-right नमुना ९ जतन करा

  script.
    $(document).ready(function() {
      form9TaxHandler.totalTaxData = !{totalTaxData};
      form9TaxHandler.id = #{user.id};
      //- console.log(form9TaxHandler.id,'---id')
      form9TaxHandler.firstCalculationAllInOne(1);
      form9TaxHandler.firstCalculationAllInOne(2);
      form9TaxHandler.firstCalculationAllInOne(3);
      form9TaxHandler.firstCalculationAllInOne(7);
      form9TaxHandler.firstCalculationAllInOne(8);
      form9TaxHandler.firstCalculationAllInOne(9);
      form9TaxHandler.firstCalculationAllInOne(10);




      const inputs = document.querySelectorAll('input');

    // Add keydown event listener to each input
      inputs.forEach((input, index) => {
        input.addEventListener('keydown', (event) => {
          if (event.key === 'Tab') {
            event.preventDefault(); // Prevent the default tab behavior

            // Calculate the index of the next input to focus
            let nextIndex = index + 3; // Jump to the 3rd next input
            if (nextIndex >= inputs.length) {
              nextIndex = nextIndex % inputs.length; // Wrap around if needed
            }

            // Focus the next input
            inputs[nextIndex].focus();
          }
        });
      });
    });

  script(src='/asstest/coustom/js/handlers/new-form-9-tax.js')