doctype html
head
	title दरपत्रक प्रमाणपत्र
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible' content='ie=edge')
	// common css
	link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
	style.
		@media print {
			@page{
				size: A4 landscape;
				margin: 0px;
			}
		}
		.year-font {
			font-size: 0.8rem;
			font-weight: bold;
			color: red;
			position: relative;
			z-index: 1;
		}

		.year-font::before {
			content: '';
			position: absolute;
			height: 1.1rem;
			width: 3.9rem;
			background: #fff;
			z-index: -1;

		}
		.year-font.y2::before {
			width: 4.7rem !important;
		}

		.font-1{
			font-size: 1.5rem;
			font-weight: bold;
			z-index: 100;
			color: red;
		}
		.font-small{
			font-size: 0.8rem;
			font-weight: bold;
			z-index: 100;
			color: blue;
		}
		.font-small-2{
			font-size: 0.67rem;
			font-weight: 800;
			z-index: 100;
			color: blue;
		}
		.font-small-3{
			font-size: 0.67rem;
			font-weight: 700;
			z-index: 100;
			color: blue;
		}
		.bg-small{
			background: white;
			width: 90px;
		}
		.bg-small-2{
			background: white;
			width: 180px;
		}
		div {
			z-index: 100;
		}
//- body(style="width:210mm; height:297mm;")
body.position-relative(style="width:297mm; height:210mm;")

	img.position-absolute.w-100.h-100(src="/img/blank-certificates-images/darpatrak-pramanpatra.jpg")
	//- gpNames
	.position-absolute.font-1(style='top: 8.9%; left: 34%') #{gp.gp_name}
	.position-absolute.font-1(style='top: 8.9%; left: 56%;') #{gp.gp_taluka}
	.position-absolute.font-1(style='top: 8.9%; left: 76.1%;') #{gp.gp_dist}


	//- Bandhkam Prakars
	- let bandhkam = bandhkamPrakar;
	- let rccBandhkam = bandhkam[0].tax_rate;
	.position-absolute.font-small-3.bg-small(style='top: 32%; left: 36%;') #{rccBandhkam} .Rs
	- let dagadVitaBandhkam = bandhkam[1].tax_rate;
	.position-absolute.font-small-3.bg-small(style='top: 34.9%; left: 36%;') #{dagadVitaBandhkam} .Rs
	- let dagadMatiEmarat = bandhkam[2].tax_rate;
	.position-absolute.font-small-3.bg-small(style='top: 40.7%; left: 36%;') #{dagadMatiEmarat} .Rs
	- let zopadiMati = bandhkam[3].tax_rate;
	.position-absolute.font-small-3.bg-small(style='top: 43.6%; left: 36%;') #{zopadiMati} .Rs
	- let openSpace = bandhkam[4].tax_rate;
	.position-absolute.font-small-3.bg-small(style='top: 46.5%; left: 36%;') #{openSpace} .Rs
	- let openPlot = bandhkam[5].tax_rate;
	.position-absolute.font-small-3.bg-small(style='top: 49.4%; left: 36%;') #{openPlot} .Rs
	- let manoreAndOther = bandhkam[6].tax_rate;
	.position-absolute.font-small-3.bg-small(style='top: 52.3%; left: 36%;') #{manoreAndOther} .Rs


	//- Right Side table tax
	- let _rccBandhkam = bandhkam[0].ready_nakar_rate;
	.position-absolute.font-small-3.bg-small-2(style='top: 62.6%; left: 59%;') #{_rccBandhkam} /- रु . प्रति चौ. मी
	- let _etarPakke = bandhkam[1].ready_nakar_rate;
	.position-absolute.font-small-3.bg-small-2(style='top: 66.5%; left: 59%;') #{_etarPakke} /- रु . प्रति चौ. मी
	- let _ardhaPakke = bandhkam[2].ready_nakar_rate;
	.position-absolute.font-small-3.bg-small-2(style='top: 70.3%; left: 59%;') #{_ardhaPakke} /- रु . प्रति चौ. मी
	- let _kacche = bandhkam[3].ready_nakar_rate;
	.position-absolute.font-small-3.bg-small-2(style='top: 74.1%; left: 59%;') #{_kacche} /- रु . प्रति चौ. मी

	//- Arogya Diva Ka
	-let _0to300Tax = arogyaDivaKar[0].adk_arogya;
	.position-absolute.font-small-3.bg-small(style='top: 57.8%; left: 36%;') #{_0to300Tax} .Rs
	-let _301to700Tax = arogyaDivaKar[1].adk_arogya;
	.position-absolute.font-small-3.bg-small(style='top: 60.7%; left: 36%;') #{_301to700Tax} .Rs
	-let _701to1000000Tax = arogyaDivaKar[2].adk_arogya;
	.position-absolute.font-small-3.bg-small(style='top: 63.6%; left: 36%;') #{_701to1000000Tax} .Rs

	//- 10th row
	- let _openSpace = bandhkam[4].ready_nakar_rate;
	.position-absolute.font-small-3.bg-small(style='top: 75.1%; left: 36%;') #{_openSpace} .Rs


	//-gp Members
	.position-absolute.font-small-2.bg-small-2(style='top: 32.35%; left: 70.2%') #{sarpanch}
	.position-absolute.font-small-2.bg-small-2(style='top: 36%; left: 70.2%;') #{upSarpanch}
	.position-absolute.font-small-2.bg-small-2(style='top: 39.65%; left: 70.2%;') #{'-'}
	.position-absolute.font-small-2.bg-small-2(style='top: 43.3%; left: 70.2%;') #{'-'}
	.position-absolute.font-small-2.bg-small-2(style='top: 46.95%; left: 70.2%;') #{gramsevak}


	//- Years
	.position-absolute.year-font(style='bottom: 18.8%; left: 8.2%;') #{y1}
	.position-absolute.year-font.y2(style='bottom: 18.8%; left: 14.8%;') #{y2}

	//- gpNames downside
	.position-absolute.font-small(style='bottom: 7.9%; left: 21%') #{gp.gp_name}
	.position-absolute.font-small(style='bottom: 7.9%; left: 41.5%') #{gp.gp_name}
	.position-absolute.font-small(style='bottom: 7.9%; left: 60.7%;') #{gp.gp_taluka}
	.position-absolute.font-small(style='bottom: 7.9%; left: 79.5%;') #{gp.gp_taluka}

