doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  // common css
  link(rel='stylesheet', href='/asstest/plugins/bs4/css/bootstrap.css')
  link(rel='stylesheet', href='/asstest/plugins/font-awesome470/css/font-awesome.css')
  link(rel='stylesheet', href='/asstest/plugins/date/jquery-ui.css')
  link(rel='stylesheet', href='/asstest/coustom/css/main.css')
  link(rel='stylesheet', href='/asstest/plugins/select/css/select2.min.css')  
  link(href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css', rel='stylesheet')
  
  

  script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
  script(src='/asstest/plugins/popper/popper.min.js')
  script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
  script(src='/asstest/plugins/date/jquery-ui.js')
  
  script(src='/asstest/plugins/xlxs/xlsx.js')
  script(src='/asstest/plugins/xlxs/jszip.js')
  script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
  script(src='/asstest/plugins/notify/notify.js')
  script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
  script(src="/asstest/plugins/jquery_validation/additional-methods.js")  
  
  //toggle
  script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')
  // extras

  // common js setups
  script(src='/asstest/coustom/js/base.converter.js')
  script(src='/asstest/coustom/js/common.js')
  script(src='/asstest/coustom/js/handlers/network-service-manager.js')
  style.
    .error {
      color:red !important;
      font-style:italic !important;
      font-weight:700 !important;
    }
    .bg-warning{
      background-color:#f0d688 !important;
    }
    body{
      
      height:100vh;
    }
    @media (min-width: 576px) {
    .modal-dialog { max-width: none; }
      }
      .modal-dialog {
        width: 50%;
        height: 92%;
        padding: 0;
      }
body
    include ../include/navs.pug
    .modal#masterSMSModal(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title क्ष title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body 
              .row
                .col-12
                  form
                    .row
                      .form-group.col-4
                        label(for='comment') दाखला:
                        select#smsType.form-control
                          option(value="0") ---- निवडा ----
                          option(value="1") सर्वांना
                          option(value="2") नवीन
                          option(value="3") सर्वांना आणि नवीन
                          option(value="4") स्वता ठरवा
                      .form-group.col-8.smsFile
                        label(for='comment') 
                          | मोबाईल क्रमांक निवडा 
                          small.text-danger (excel 1st column name must be 'mobile'):
                          a(href="/asstest/sample.xlsx" target="new") नमुना
                        input#smsFile(type="file")
                      .form-group.col-12
                        label(for='comment') 
                          strong क्रमांक 
                          small.text-danger (दोन क्रमांक मध्ये ( , ) पाहिजे आणि क्रमांक 10 अंकी पाहिजे:
                        textarea#smsList.form-control(rows='5' placeholder="उदाहरण 785*****54,859*****74")
                      .form-group.col-12
                        label(for='comment') संदेश:
                        textarea#smsMessage.form-control(rows='5' placeholder="संदेश मजकूर इथे लिहा")
                        - var a = 'ग्रा.पं, '+ gp.gp_name;
                        input#gpName(type="hidden" value=a)
                      .form-group.col-12
                        button#btnSendSMS.btn.btn-primary.mb-2(type='submit') संदेश पाठवा
                    

    .container-fluid
        .row
          .col-12.mt-3
              h4.ml-5.text-center
                span.fa.fa-envelope-open.mr-2
                | संदेश सरवीस
                a(href="#").float-right.sendSMSNewApplication.btn.btn-success.btn-sm.ml-2 नवीन संदेश पाठवा
          .col-12
              table.table.table-bordered.text-center
                  thead
                    tr.bg-primary.text-white
                        th(width="8%") अनु क्रमांक
                        th(width="65%") संदेश
                        th(width="5%") पाठवलेले
                        th(width="17%") दिनांक
                        th(width="10%") अधिक
                  tbody#mobileSmsSendList
                    if(list.length == 0)
                      tr
                        td(colspan="15").text-center.text-danger संदेश यादी रिकामी आहे.
                    else
                      each value,index in list
                        tr
                          td #{index + 1}
                          td.text-left #{value.sms}
                          td #{value.send_count}
                          td #{value.sms_date}
                          td
                            - var url = `/network-service/remove/${value.id}`;
                            a(href=url).btn.btn-outline-danger
                              i.fa.fa-trash
                          
    script.
      $(function(){
      })
