doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')


        title #{title}
        //- common css
        link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
        link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
        link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
        link(rel='stylesheet' href='/asstest/coustom/css/main.css')
        link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  
        link(href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css' rel='stylesheet')

        script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
        script(src='/asstest/plugins/popper/popper.min.js')
        script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
        script(src='/asstest/plugins/date/jquery-ui.js')  
        script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
        script(src='/asstest/plugins/notify/notify.js')
        script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
        script(src="/asstest/plugins/jquery_validation/additional-methods.js")  
        //-mask plugin jquery
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js") 

        //-toggle
        script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')
        //- extras
        script(src='/asstest/plugins/select/js/select2.full.min.js')
        //- common js setups
        script(src='/asstest/coustom/js/base.converter.js')
        script(src='/asstest/coustom/js/common.js')

        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')

        link(href='/asstest/coustom/css/gp/awards/award-form.css' rel='stylesheet')
        link(href='/asstest/coustom/css/namuna/common-new-form.css' rel='stylesheet')
        script(src='/asstest/coustom/js/handlers/gp/awards/award-form-handler.js')

    body.w-100
        include ../../include/navs.pug

        section 
            .container
                div
                    h2.heading-1.text-center पुरस्कार फॉर्म Edit
                .text-end
                    a.btn.btn-primary.text-light(href='/awards') यादी बघा


                if !award
                    .alert.alert-danger.mt-4.text-center
                        | पुरस्कार सापडला नाही. कृपया परत जाणे किंवा नवीन पुरस्कार जोडा.

                else
                    form(id='award-form')
                        .form.form-1
                            .row.g-3
                                .col-md-6
                                    .form-group
                                        label(for='award_name') पुरस्काराचे नाव
                                        input.form-control#award_name(type='text' name='award_name' placeholder='Award Name' value=award.award_name required)

                                .col-md-6
                                    .form-group
                                        label(for='award_year') वर्ष
                                        input.form-control#award_year(type='text' name='award_year' placeholder='Year' value=award.award_year required)

                                .col-md-12
                                    .form-group
                                        label(for='award_desc') माहिती / टिप्पणी
                                        textarea.form-control#award_desc(name='award_desc' rows='3' placeholder='Award Description') #{award.award_desc}


                                input(name='id' value=award.id hidden required)

                            .text-end.mt-3
                                button.btn.btn-success#update-award-btn(type='submit') अपडेट करा
