doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        // common css
        link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
        link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
        link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
        link(rel='stylesheet' href='/asstest/coustom/css/main.css')
        link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

        script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
        script(src='/asstest/plugins/popper/popper.min.js')
        script(src='/asstest/plugins/date/jquery-ui.js')
        script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
        script(src='/asstest/plugins/notify/notify.js')
        script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
        script(src="/asstest/plugins/jquery_validation/additional-methods.js")

        // Bootstrap 5 CSS & JS
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        // common js setups
        script(src='/asstest/coustom/js/base.converter.js')
        script(src='/asstest/coustom/js/common.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

        link(href='/asstest/coustom/css/namuna/namuna-30/namuna-30-page.css' rel='stylesheet')
        script(src='/asstest/coustom/js/handlers/namuna/namuna-30/namuna-30-create-entry-page-handler.js' type='module' defer)


        title Edit नमुना ३० ग्रामपंचायत लेखापरीक्षा आक्षेप पूर्तता नोंदवही 

        style.


            label.error {
                color: red;
                font-size: 0.8rem;
            }

    body
        include ../../include/navs.pug

        - 
            const months = [
                "०१ (जानेवारी)", "०२ (फेब्रुवारी)", "०३ (मार्च)", "०४ (एप्रिल)", 
                "०५ (मे)", "०६ (जून)", "०७ (जुलै)", "०८ (ऑगस्ट)", 
                "०९ (सप्टेंबर)", "१० (ऑक्टोबर)", "११ (नोव्हेंबर)", "१२ (डिसेंबर)"
            ]

        .container
            h2.heading-1.mt-2.mb-1 Edit नमुना ३० ग्रामपंचायत लेखापरीक्षा आक्षेप पूर्तता नोंदवही 

            div
                .d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
                    a.btn.btn-primary(href='/namuna/30') यादी

            form(id='namuna-30-form').mt-1
                .form.form-1
                    //- h4.text-center.fw-bold नमुना ३० दुरुस्ती

                    .row.justify-content-center.justify-content-md-between.gx-4.gy-2

                        //- ============================
                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="month") महिना
                                select.form-select(id="month" name="month" required)
                                    option(value='') --निवडा--

                                    each month, monthIndex in months
                                        option(value=(monthIndex + 1) selected = (((monthIndex + 1) == namuna30Entry.month) ? true : false)) #{month}

                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="audit_report_year") लेखापरीक्षण अहवाल वर्ष
                                input.form-control(type="number" id="audit_report_year" name="audit_report_year" required placeholder="लेखापरीक्षण अहवाल वर्ष" value=namuna30Entry.audit_report_year)

                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="objection_count") आक्षेपांची संख्या
                                input.form-control(type="number" id="objection_count" name="objection_count" required placeholder="आक्षेपांची संख्या" value=namuna30Entry.objection_count)

                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="objection_sequence") आक्षेप अनुक्रमांक
                                input.form-control(type="text" id="objection_sequence" name="objection_sequence" required placeholder="आक्षेप अनुक्रमांक" value=namuna30Entry.objection_sequence)

                        //- ============================
                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="report_received_date") लेखापरीक्षण अहवाल प्राप्त झाल्याचा दिनांक
                                input.form-control.datepicker(type="text" id="report_received_date" name="report_received_date" required placeholder="लेखापरीक्षण अहवाल प्राप्त झाल्याचा दिनांक" value=namuna30Entry._report_received_date)

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="info_only_objection_count") केवळ माहितीसाठी आक्षेपांची संख्या
                                input.form-control(type="number" id="info_only_objection_count" name="info_only_objection_count" placeholder="केवळ माहितीसाठी आक्षेपांची संख्या" value=namuna30Entry.info_only_objection_count)

                        //- ============================
                        .col-11.col-md-6.col-lg-4
                            .form-group
                                label.form-label(for="info_only_objection_sequence") केवळ माहितीसाठी आक्षेप क्रमांक
                                input.form-control(type="text" id="info_only_objection_sequence" name="info_only_objection_sequence" placeholder="केवळ माहितीसाठी आक्षेप अनुक्रमांक" value=namuna30Entry.info_only_objection_sequence)

                        .col-11.col-md-6.col-lg-4
                            .form-group
                                label.form-label(for="resolve_objection_sequence") पूर्तता करावयाचे आक्षेप क्रमांक
                                input.form-control(type="text" id="resolve_objection_sequence" name="resolve_objection_sequence" required placeholder="पूर्तता करावयाचे आक्षेप अनुक्रमांक" value=namuna30Entry.resolve_objection_sequence)

                        .col-11.col-md-6.col-lg-4
                            .form-group
                                label.form-label(for="resolve_objection_count") पूर्तता करावयाचे आक्षेपांची संख्या
                                input.form-control(type="number" id="resolve_objection_count" name="resolve_objection_count" required placeholder="पूर्तता करावयाचे आक्षेपांची संख्या" value=namuna30Entry.resolve_objection_count)

                        //- ============================
                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="resolved_objection_outward_number") पूर्तता केलेले आक्षेप पंचायत समितीकडे पाठविल्याचा जावक क्रमांक
                                input.form-control(type="text" id="resolved_objection_outward_number" name="resolved_objection_outward_number" placeholder="" value=namuna30Entry.resolved_objection_outward_number)

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="resolved_objection_outward_date") पूर्तता केलेले आक्षेप पंचायत समितीकडे पाठविल्याचा  दिनांक
                                input.form-control.datepicker(type="text" id="resolved_objection_outward_date" name="resolved_objection_outward_date" placeholder="" value=namuna30Entry._resolved_objection_outward_date)

                        //- ============================
                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="resolution_forwarded_number") पूर्तता केलेले आक्षेप पंचायत समितीने जि.प. कडे / लेखा परीक्षाकडे पाठविलेल्याचा ठराव क्रमांक
                                input.form-control(type="text" id="resolution_forwarded_number" name="resolution_forwarded_number" placeholder="" value=namuna30Entry.resolution_forwarded_number)

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="resolution_forwarded_date") पूर्तता केलेले आक्षेप पंचायत समितीने जि.प. कडे / लेखा परीक्षाकडे पाठविलेल्याचा  जावक क्रमांक दिनांक
                                input.form-control.datepicker(type="text" id="resolution_forwarded_date" name="resolution_forwarded_date" placeholder="" value=namuna30Entry._resolution_forwarded_date)

                        //- ============================
                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="zp_approved_objection_sequence") जि. प. / लेखा परीक्षक यांनी मंजूर केलेले आक्षेपांची संख्या आक्षेप क्रमांक
                                input.form-control(type="text" id="zp_approved_objection_sequence" name="zp_approved_objection_sequence" placeholder="मंजूर आक्षेप अनुक्रमांक" value=namuna30Entry.zp_approved_objection_sequence)

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="zp_approved_objection_count") जि. प. / लेखा परीक्षक यांनी मंजूर केलेले आक्षेपांची संख्या
                                input.form-control(type="number" id="zp_approved_objection_count" name="zp_approved_objection_count" placeholder="मंजूर आक्षेपांची संख्या" value=namuna30Entry.zp_approved_objection_count)

                        //- ============================
                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="book_adjustment_details") पुस्तकी समायोजन
                                input.form-control(type="text" id="book_adjustment_details" name="book_adjustment_details" placeholder="पुस्तकी समायोजन" value=namuna30Entry.book_adjustment_details)

                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="recovery_details") वसुली
                                input.form-control(type="text" id="recovery_details" name="recovery_details" placeholder="वसुली" value=namuna30Entry.recovery_details)

                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="assessment_details") मुल्यांकन
                                input.form-control(type="text" id="assessment_details" name="assessment_details" placeholder="मुल्यांकन" value=namuna30Entry.assessment_details)

                        .col-11.col-md-6.col-lg-3
                            .form-group
                                label.form-label(for="irregularity_details") नियमबाहय
                                input.form-control(type="text" id="irregularity_details" name="irregularity_details" placeholder="नियमबाहय" value=namuna30Entry.irregularity_details)

                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="total_remaining_objection_count") एकूण
                                input.form-control(type="number" id="total_remaining_objection_count" name="total_remaining_objection_count" placeholder="एकूण" value=namuna30Entry.total_remaining_objection_count)

                        //- ============================
                        .col-11.col-md-6.col-lg-6
                            .form-group
                                label.form-label(for="remarks") शेरा
                                input.form-control(id="remarks" name="remarks" placeholder="शेरा" value=namuna30Entry.remarks)

                                input(name='id' value=namuna30Entry.id hidden)

                    .d-flex.gap-4.justify-content-center
                        button.btn.btn-success(type='button' id="update-namuna-30-entry") Update
                        button.btn.btn-secondary(type='reset' id='reset') Reset
