doctype html
html(lang='mr')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title बांधकाम ना हरकत प्रमाणपत्र

        script(src='https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4')

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap' rel='stylesheet')

        style.
            body {
                font-family: "Tiro Devanagari Marathi", serif;
            }


            .print-page {
                background-image:
                    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
                    url("/img/water-mark-images/Seal_of_Maharashtra.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 80%;
            }


            @page {
                size: A4 portrait;
                margin: 8mm;
                border: 2px solid black;

            }
            @media print {
                .hide-print { display: none !important; }
                body { margin: 0; padding: 0; background: white; }
                #print { width: 210mm !important; margin: 0 !important; }
                .print-page {
                    page-break-after: avoid;
                    -webkit-print-color-adjust: exact;
                    print-color-adjust: exact;

                        background-image:
                            linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
                            url("/img/water-mark-images/Seal_of_Maharashtra.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 80%;
                }


                .print-watermark {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    width: 60%;
                    transform: translate(-50%, -50%);
                    opacity: 0.15;           /* watermark effect */
                    z-index: -1;             /* behind content */
                    pointer-events: none;
                }
            }



    body(class='bg-gray-100 text-black text-[1.05rem] leading-[1.85]')
        div(class='hide-print fixed top-1/2 right-4 z-50')
            button(onclick='window.print()' class='bg-blue-600 text-white px-4 py-2 rounded shadow') Print

        div(id='print' class='relative w-[210mm] min-h-[297mm] mx-auto')
            div(class='print-page bg-white')
                div(class='relative p-2 flex flex-col')
                    //- img.print-watermark(src="/img/water-mark-images/Seal_of_Maharashtra.png")

                    // ===== HEADER =====
                    - let members = gp && gp.gp_member ? JSON.parse(gp.gp_member) : []
                    - let gramsevakDetails = members && members.length > 0 ? members.find((member) => member && (member.p_name == 'ग्रामसेवक' || member.p_name == 'ग्रामविकास अधिकारी' || member.p_name == 'ग्रामपंचायत अधिकारी')) : null
                    - let sarpanchDetails = members && members.length > 0 ? members.find((member) => member && (member.p_name == 'सरपंच')) : null
                    - let upsarpanchDetails = members && members.length > 0 ? members.find((member) => member && (member.p_name == 'उपसरपंच')) : null

                    div(class='grid grid-cols-7 gap-1')
                        div(class='col-span-1')
                            img(src='/img/header-images/sant-gadge-baba1.png' class='w-20 rounded-full')
                            
                        div(class='col-span-5')
                            div(class='text-center font-extrabold text-[32px] text-red-600')
                                | ग्रामपंचायत कार्यालय 
                                span(class='font-bold') #{gp.gp_name}

                            div(class='text-center text-[20px] mt-1 text-blue-800')
                                | पंचायत समिती 
                                span(class='font-bold') #{gp.gp_taluka}
                                | , जि. 
                                span(class='font-bold') #{gp.gp_dist}
                        div(class='col-span-1')
                            img(src='/img/header-images/sant-gadge-baba.png' class='w-20 rounded-full')
                            
                    div
                        div(class='text-sm flex justify-evenly items-center gap-1')

                            div(class='text-center text-gray-700')
                                div सरपंच
                                div(class='font-extrabold text-blue-900') #{sarpanchDetails ? sarpanchDetails.name : '-'}

                            div(class='text-center text-gray-700')  
                                div उपसरपंच
                                div(class='font-extrabold text-blue-900') #{upsarpanchDetails ? upsarpanchDetails.name : '-'}

                            div(class='text-center text-gray-700') 
                                div ग्रामपंचायत अधिकारी
                                div(class='font-extrabold text-blue-900') #{gramsevakDetails ? gramsevakDetails.name : '-'}




                    hr(class='my-4 border-black')

                    // ===== TITLE =====
                    div(class='text-center font-bold text-[18px] mb-5')
                        | बांधकाम ना हरकत प्रमाणपत्र (NOC)

                    //- // ===== MAIN CONTENT =====
                    p(class='text-justify mb-6')
                        | &emsp;&emsp;सरपंच/ग्रामपंचायत अधिकारी ग्राम पंचायत 
                        span(class='font-bold') #{gp.gp_name}
                        |  पं. स. 
                        span(class='font-bold') #{gp.gp_taluka}
                        |  कडून घरबांधकाम करिता प्रमाणपत्र देण्यात येते कि 
                        span(class='font-bold') #{constructionApplication.malmatta_dharak_name}
                        |  रा. 
                        span(class='font-bold') #{constructionApplication.applicant_address}
                        |  यांनी सादर केलेल्या अर्जानुसार तसेच नमुना ८ ची सत्यप्रत बांधकामाचा नकाश्या, आर्किटेक्चर/स्था अभियंताचा दाखला, उपकर १% भरल्याची चलन स्वीप/विकास शुल्क भरल्याची नमुना ७ ची पावती सादर केलेली आहे. मौजा 
                        span(class='font-bold') #{constructionApplication.gp_name}
                        |  मालमत्ता क्र. 
                        span(class='font-bold') #{constructionApplication.resolution_malmatta_number}
                        |  स.न. 
                        span(class='font-bold') #{constructionApplication.survey_no}
                        |  गट नं. 
                        span(class='font-bold') #{constructionApplication.group_no}
                        |  प्लॉट नं. 
                        span(class='font-bold') #{constructionApplication.plot_no}
                        |  एकूण क्षेत्रफळ 
                        span(class='font-bold') #{constructionApplication.total_area_sq_m}
                        |  चौ. मी. (
                        span(class='font-bold') #{constructionApplication.total_area_sq_ft}
                        |  चौ. फुट) त्यापैकी वरचा मजला 
                        span(class='font-bold') #{constructionApplication.upper_floor_area_sq_m}
                        |  चौ. मी. असे एकूण क्षेत्रफळ :- 
                        span(class='font-bold') #{constructionApplication.approved_construction_area_sq_m}
                        |  चौ. मी. वर मासिक सभा दिनांक 
                        span(class='font-bold') #{constructionApplication._masik_sabha_date}
                        |  ठराव क्र. 
                        span(class='font-bold') #{constructionApplication.masik_tharav_number}
                        |  अन्वये पुढील अटी व शर्तीला अधीन राहून घर बांधकाम करिता ना हरकत प्रमाणपत्र देण्यात येत आहे.


                    // ===== CONDITIONS =====
                    div(class='font-bold mb-3')
                        | अटी व शर्ती:-

                    ol(class='list-decimal text-rose-500 ml-6 text-justify space-y-1 mb-2 text-[17px]')
                        li बांधकाम करिता ज्या प्लॉट किवा जागेवर ना हरकत दिली आहे. त्याच जागेवर किवा प्लॉट वर बांधकाम करावे. सदर बांधकाम इतर ठिकाणी केल्यास व न्यायालयीन प्रकरण झाल्यास ग्रा. पं. जबाबदार राहणार नाही.
                        li घरबांधकाम मंजूर प्लान नुसार करावे.
                        li घरबांधकाम करतांना मंजूर प्लान मध्ये बदल झाल्यास ना हरकत प्रमाणपत्र रद्द झाल्याचे समजण्यात येईल.
                        li बांधकामाचे साहित्य सार्वजनिक रस्त्यावर टाकता येणार नाही.
                        li बांधकाम पूर्ण झाल्यावर रेनवाटर हार्वेस्टिंग ‌द्वारे छतावरचे पाणी जमिनीमध्ये पुनर्भरन करावे लागेल.
                        li घरबांधकाम पूर्ण झाल्यावर संबंधीत आर्किटेक्चर स्था अभियंताचे घराबंधाकाम पूर्ण झाल्यावर प्रमाणपत्र ग्राम पंचायत सादर करावे लागेल.
                        li घरबांधकाम करिता M.S.E.D.C.L. नियमानुसार घरगुती वीज पुरवठा घेण्यास काही हरकत नाही.
                        li नगररचना विभागाची पूर्व परवानगी घेणे बंधन कारक राहील.

                    div(class='mb-12')
                        p ग्रामपंचायतने नमूद केलेल्या सर्व अटी व शर्तींचे पालन होत नसल्याचे आढळून आल्यास, सदर ना हरकत प्रमाणपत्र रद्द करण्याचे सर्व अधिकार ग्रामपंचायतीकडे राहतील.
                        p वरील अटी/शर्तीचे अधीन राहून घर बांधकाम करिता ना हरकत प्रमाणपत्र देण्यात येत आहे

                    // ===== FOOTER =====

                    div(class='mt-auto flex justify-between')
                        div
                            | दिनांक : 
                            span(class='font-bold') #{constructionApplication._construction_certificate_date}

                        div(class='text-right')
                            | सरपंच / ग्रामपंचायत अधिकारी
                            br
                            | ग्राम पंचायत 
                            span(class='font-bold') #{gp.gp_name}
                            div पंचायत समिती #{gp.gp_taluka}
