doctype html
head
  title नमुना ९ सामान्य व इतर कर
  meta(charset='UTF-8')
  meta(name='viewport' content='width.p-1.m-0=device-width.p-1.m-0, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  // common css
  script(src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js")
  script(src="/asstest/coustom/js/handlers/common/generate-qr-code-util-handler.js" defer)
  style.

    @page { 
      size: A4 landscape;
      margin: 5mm 5mm 5mm 5mm;
      -webkit-print-color-adjust: exact; 
    }

    .m-top {
      margin: 5mm 5mm 5mm 5mm !important;
    }

    .m-bottom {
      margin: 5mm 5mm 5mm 5mm !important;
    }

    .m-bottom-second {
      margin: 5mm 5mm 5mm 5mm !important;
    }

    tr, td, th {
      border-color: transparent !important;
    }

    .transperent {
      background-color: transparent !important;
      color: transparent !important;
    }

    .year-1 {
      position: absolute;
      left: 240px;
      top: 60px;
    }

    .year-2 {
      position: absolute;
      left: 350px;
      top: 60px;
    }

    .page-number {
      position: absolute;
      right: 160px;
      top: 34px;
    }

    .td-list {
      margin-top: 220px;
    }

    .zp {
      position: absolute;
      top: 0px;
      left: 517px;
    }

    .td-list span {
      position: absolute;
      font-size: 11px !important;
    }

    .td-list .td-1 {
      top: 0px;
      left: 0px;
    }

    .td-list .td-2 {
      top: 0px;
      left: 20px;
      width: 0px;
    }

    .td-list .td-3 {
      top: 0px;
      left: 60px;
      width: 1px !important;
    }

    .td-list .td-4 {
      top: 0px;
      left: 90px;
      width: 150px;
    }

    .td-list .td-5 {
      top: 0px;
      left: 267px;
    }

    .td-list .td-6 {
      top: 0px;
      left: 360px;
    }

    .td-list .td-7 {
      top: 0px;
      left: 415px;
    }

    .td-list .td-8 {
      top: 0px;
      left: 465px;
    }

    .td-list .td-9 {
      top: 0px;
      left: 515px;
    }

    .td-list .td-10 {
      top: 0px;
      left: 557px;
    }

    .td-list .td-11 {
      top: 0px;
      left: 603px;
    }

    .td-list .td-12 {
      top: 0px;
      left: 659px;
    }

    .td-list .td-13 {
      top: 0px;
      left: 710px;
    }

    .td-list .td-14 {
      top: 0px;
      left: 760px;
    }

    .td-list .td-15 {
      top: 0px;
      left: 820px;
    }

    .td-list .td-16 {
      top: 0px;
      left: 863px;
    }

    .td-list .td-17 {
      top: 0px;
      left: 923px;
    }

    .td-list .td-18 {
      top: 0px;
      left: 980px;
    }

    #table2 td {
      padding-left: 0px;
      padding-right: 0px;
    }

    #table3 td {
      padding-left: 5px;
      padding-right: 5px;
    }

    .set-height > td.td {
      height: 100px;
    }

    .set-height > td.td1 {
      height: 100px;
    }

    .set-p-break {
      page-break-before: always;
    }

    td {
      font-size: 11px !important;
      border: 0px solid;
    }

    table {
      width: 80% !important;
    }

    .h6 {
      font-size: 11px !important;
    }

    .h5 {
      font-size: 11px !important;
    }

    .h7 {
      font-size: 11px !important;
    }

    .d-none {
      display: none !important;
    }

    .transperent {
      background-color: transparent !important;
      color: transparent !important;
    }

center
  div(id='mentioned-qr-target-tag' style='display: none;' data-target='qr-code-container' data-targetUrl="" data-size='130')
  - var pageCount = 0;
  - var lastBuildingTax = 0;
  - var currentBuildingTax = 0;
  - var totalBuildingTax = 0;
  - var lastDivaTax = 0;
  - var currentDivaTax = 0;
  - var totalDivaTax = 0;
  - var lastArogyaTax = 0;
  - var currentArogyaTax = 0;
  - var totalArogyaTax = 0;
  - var totalSampurnaTax = 0;
  - var main_length = Math.ceil(data.length/5);
  - var count = 0
  - var start = 0;

  //- page-२
  .set-p-break.m-bottom-second
    div(style="position:relative;display:inline-block;width:410mm;height:280mm !important;")

      //- Image 1 to edit
      img(src="/print/namuna-9/pageFormNineSamanyaOther-blank-2-copy.jpg" width="100%" height="103%")
      div(style="position: absolute;top:0;width:110%")
        h4(style="position: absolute;top:-20px;left:858px;font-size:24px").text-primary.zp #{zp.gp_name}
        div(style="position: absolute;top:65px;left:-1420px;font-size:17px").page-number
          span पान क्र. #{count}
        div(style="position:absolute;top:-15px;left:1380px;font-size:24px")
          div(style="border:1px solid black; padding:1px;").qr-code-container

        div.mt-1.mb-2
          p.text-center.h6.font-weight-bold(style="display:flex")
            span(style="position: absolute;top:71px;left:477px;font-size:20px;background:white; width:13.5rem;").h4.year-1 #{year.year1} ते #{year.year2}
            //- span(style="position: absolute;top:71px;left:606px;font-size:20px").h4.year-2 #{year.year2}
  while count <  main_length
    - start = count*5;
    - array1 = data.slice(start, (start+5));
    - arrayLen =  5 - array1.length;
    if(arrayLen !== 0)
      while arrayLen > 0
        - var singleVar = {lastBuildingTax: 0,currentBuildingTax: 0,totalBuildingTax: 0,lastDivaTax: 0, currentDivaTax: 0, totalDivaTax: 0, lastArogyaTax: 0, currentArogyaTax: 0, totalArogyaTax: 0, totalSampurnaTax: 0, lastTaxFine: 0, feu_homeN: '-',feu_homeNo:'-',feu_malmattaNo:'-', feu_malmattaNo: '-', feu_ownerName: '-', feu_secondOwnerName: '-', lastBuildingTax: 0, currentBuildingTax: 0, totalBuildingTax: 0, lastDivaTax: 0, currentDivaTax: 0, totalDivaTax: 0, lastArogyaTax: 0, currentArogyaTax: 0, totalArogyaTax: 0, lastTaxFine: 0, lastYearTaxFine: 0, totalSampurnaTax: 0}
        - array1.push(singleVar)
        - arrayLen--
    - count++; 
    .row.set-p-break.m-top
      - var lastBuildingTax = 0;
      - var currentBuildingTax = 0;
      - var totalBuildingTax = 0;
      - var lastDivaTax = 0;
      - var currentDivaTax = 0;
      - var totalDivaTax = 0;
      - var lastArogyaTax = 0;
      - let lastCleaningTax = 0;
      - let currentCleaningTax = 0;
      - let totalCleaningTax = 0;
      - var currentArogyaTax = 0;
      - var totalArogyaTax = 0;
      - var totalSampurnaTax = 0;
      - var lastTaxFine = 0;
      .col-12(style="position:relative;display:inline-block;width:410mm;height:280mm !important")
        .bg-danger.p-2
          img(src="/print/namuna-9/pageFormNineSamanyaOther-print.jpg" width="100%" height="100%" style="margin-left: -2rem;")
        div(style="position: absolute;top:0;width:110%")
          h4(style="position: absolute;top:-29px;left:811px;font-size:24px").text-primary.zp #{zp.gp_name}
          div(style="position: absolute;top:55px;left:-1390px;font-size:18px").page-number
            span पान क्र. #{count}
          div(style="position:absolute;top:-25px;left:1377px;font-size:17px")
            div(style="border:1px solid black; padding:1px;").qr-code-container

          div.mt-2.mb-2
            p.text-center.h5.font-weight-bold(style="display:flex")
              span(style="position: absolute;top:62px;left:462px;font-size:20px; background:white; width:13.7rem; padding-block:1px;").h4.year-1 #{year.year1} ते #{year.year2}
            //-   span(style="position: absolute;top:68px;left:590px;font-size:20px").h4.year-2 #{year.year2}
          div.td-list(style="position:relative")
            each val,index in array1
              - pageCount += 1;
              - lastBuildingTax += Math.round(val.lastBuildingTax);
              - currentBuildingTax += Math.round(val.currentBuildingTax);
              - totalBuildingTax += Math.round(val.totalBuildingTax);
              - lastDivaTax += Math.round(val.lastDivaTax);
              - currentDivaTax += Math.round(val.currentDivaTax);
              - totalDivaTax += Math.round(val.lastDivaTax) + Math.round(val.currentDivaTax);
              - lastArogyaTax += Math.round(val.lastArogyaTax);
              - currentArogyaTax += Math.round(val.currentArogyaTax);
              - totalArogyaTax += Math.round(val.lastArogyaTax ) + Math.round(val.currentArogyaTax); 

              - lastCleaningTax += Math.round(val.lastCleaningTax || 0);
              - currentCleaningTax += Math.round(val.currentCleaningTax || 0);
              - totalCleaningTax += Math.round(val.lastCleaningTax || 0) + Math.round(val.currentCleaningTax || 0);
              - totalSampurnaTax += Math.round(val.lastBuildingTax) + Math.round(val.currentBuildingTax) + Math.round(val.lastDivaTax)+ Math.round(val.currentDivaTax) + Math.round(val.lastArogyaTax) + Math.round(val.currentArogyaTax) + Math.round(val.lastCleaningTax || 0) + Math.round(val.currentCleaningTax || 0) +  (Math.round(val.lastTaxFine) + Math.round(val.lastYearTaxFine ));
              - lastTaxFine += (Math.round(val.lastTaxFine) + Math.round(val.lastYearTaxFine));
              - style = `position: absolute;top:${index*152}px; background-color:red;width:100%`
                div(style=style)

                  span.td-3(style="position: absolute;top:60px;left:1px;font-size:16px !important;font-weight: bold;transform:rotateZ(90deg)") #{pageCount}

                  span.td-2(style="position: absolute;top:60px;left:30px;font-size:16px !important;transform:rotateZ(90deg)") #{val.feu_homeNo}
                  span.td-3(style="position: absolute;top:60px;left:60px;font-size:16px !important;font-weight: bold;transform:rotateZ(90deg)") #{val.feu_malmattaNo}
                  span.td-4(style="text-align: start; position: absolute;top:7px;left:89px;font-size:16px !important;width:222px;word-break: break-word;overflow-wrap:hyphens: auto;-ms-hyphens: auto;-moz-hyphens: auto; break-word;") #{val.feu_ownerName}
                  span.td-5(style="text-align: start; position: absolute;top:5px;left:323px;font-size:16px !important;width:151px; word-break: break-word;overflow-wrap:hyphens: auto;-ms-hyphens: auto;-moz-hyphens: auto; break-word;") #{val.feu_secondOwnerName} 
                  span.td-6(style="position: absolute;top:5px;left:480px;font-size:16px !important;") #{Math.round(val.lastBuildingTax)}
                  span.td-7(style="position: absolute;top:2px;left:555px;font-size:16px !important;") #{Math.round(val.currentBuildingTax)}
                  span.td-8(style="position: absolute;top:2px;left:630px;font-size:16px !important;") #{Math.round(val.totalBuildingTax)}
                  span.td-9(style="position: absolute;top:2px;left:715px;font-size:16px !important;") #{Math.round(val.lastDivaTax)}
                  span.td-10(style="position: absolute;top:2px;left:790px;font-size:16px !important;") #{Math.round(val.currentDivaTax)}
                  span.td-11(style="position: absolute;top:2px;left:852px;font-size:16px !important;") #{Math.round(val.lastDivaTax + val.currentDivaTax)}
                  span.td-12(style="position: absolute;top:2px;left:913px;font-size:16px !important;") #{Math.round(val.lastArogyaTax)}
                  span.td-13(style="position: absolute;top:2px;left:985px;font-size:16px !important;") #{Math.round(val.currentArogyaTax)}
                  span.td-14(style="position: absolute;top:2px;left:1056px;font-size:16px !important;") #{Math.round(val.lastArogyaTax)  + Math.round(val.currentArogyaTax)}

                  span.td-13(style="position: absolute;top:2px;left:1111px;font-size:16px !important;") #{Math.round(val.lastCleaningTax || 0)}
                  span.td-14(style="position: absolute;top:2px;left:1170px;font-size:16px !important;") #{Math.round(val.currentCleaningTax || 0)}
                  span.td-15(style="position: absolute;top:2px;left:1238px;font-size:16px !important;") #{Math.round(val.lastCleaningTax || 0)  + Math.round(val.currentCleaningTax || 0)}
                  - val111 = Math.round(val.lastTaxFine) + Math.round(val.lastYearTaxFine)
                  span.td-16(style="position: absolute;top:2px;left:1313px;font-size:16px !important;")  #{isNaN(val111)? 0:val111}
                  span.td-17(style="position: absolute;top:2px;left:1369px;font-size:16px !important;") -
                  span.td-18(style="position: absolute;top:2px;left:1416px;font-size:16px !important;")  #{isNaN(val111)? 0:val111}
                  - let _total_sampuran_tax =  Math.round(val.lastBuildingTax) + Math.round(val.currentBuildingTax) + Math.round(val.lastDivaTax)+ Math.round(val.currentDivaTax) + Math.round(val.lastArogyaTax) + Math.round(val.currentArogyaTax) + Math.round(val.lastCleaningTax || 0) + Math.round(val.currentCleaningTax || 0) +  (Math.round(val.lastTaxFine) + Math.round(val.lastYearTaxFine));
                  span.td-19(style="position: absolute;top:2px;left:1468px;font-size:16px !important;") 
                    strong #{Math.round(_total_sampuran_tax)}
                - style = `position: absolute;top:${index*100}px;width:100%`

            div(style='position: absolute;top:759px;width:100%;font-size:16px !important')
              span.td-1 
              span.td-2 
              span.td-3 
              span.td-4 
              span.td-5 
              span.td-6
                strong(style='position: absolute;top:00px;font-size:16px !important;left:118px;') #{lastBuildingTax}
              span.td-7
                strong(style='position: absolute;top:00px;font-size:16px !important;left:141px') #{currentBuildingTax}
              span.td-8
                strong(style='position: absolute;top:00px;font-size:16px !important;left:163px; ') #{totalBuildingTax}
              span.td-9
                strong(style='position: absolute;top:00px;font-size:16px !important;left:199px;') #{lastDivaTax}
              span.td-10
                strong(style='position: absolute;top:00px;font-size:16px !important;left:232px')  #{currentDivaTax}
              span.td-11
                strong(style='position: absolute;top:00px;font-size:16px !important;left:248px;')  #{totalDivaTax}
              span.td-12
                strong(style='position: absolute;top:00px;font-size:16px !important;left:253px;')  #{lastArogyaTax}
              span.td-13
                strong(style='position: absolute;top:00px;font-size:16px !important;left:273px')  #{currentArogyaTax}
              span.td-14
                strong(style='position: absolute;top:00px;font-size:16px !important;left:295px;')  #{totalArogyaTax}


              span.td-15
                strong(style='position: absolute;top:00px;font-size:16px !important;left:295px;')  #{lastCleaningTax}
              span.td-16
                strong(style='position: absolute;top:00px;font-size:16px !important;left:311px;')  #{currentCleaningTax}
              span.td-17
                strong(style='position: absolute;top:00px;font-size:16px !important;left:312px;')  #{totalCleaningTax}
              span.td-18 
                strong(style='position: absolute;top:00px;font-size:16px !important;left:329px;')  #{isNaN(lastTaxFine)? 0 : lastTaxFine} 
              span.td-19 
                strong(style='position: absolute;top:00px;font-size:16px !important;left:518px;') -  
              span.td-20
                strong(style='position: absolute;top:00px;font-size:16px !important;left:565px;') #{isNaN(lastTaxFine)? 0:lastTaxFine}
              span.td-18
                strong(style='position: absolute;top:00px;font-size:16px !important;left:490px') #{totalSampurnaTax}
    .row.set-p-break.m-bottom-second
      div(style="position:relative;display:inline-block;width:410mm;height:280mm !important;")
        img(src="/print/namuna-9/pageFormNineSamanyaOther-blank-2-copy.jpg" width="100%" height="103%" style="margin-left: 2rem;")
        div(style="position: absolute;top:0;width:110%")
          h4(style="position: absolute;top:-23px;left:886px;font-size:24px").text-primary.zp #{zp.gp_name}
          div(style="position: absolute;top:40px;left:1410px;font-size:24px").page-number
            span #{count}
          div.mt-1.mb-2
            p.text-center.h6.font-weight-bold(style="display:flex")
              span(style="position: absolute;top:71px;left:511px;font-size:20px; background:white;width:13.4rem;").h4.year-1 #{year.year1} ते #{year.year2}
            //-   span(style="position: absolute;top:71px;left:637px;font-size:20px").h4.year-2 #{year.year2}


script.
    
    //- document.getElementById('mentioned-qr-target-tag').dataset.targetUrl = window.location.origin;
    const qrDiv = document.getElementById('mentioned-qr-target-tag');

    if (qrDiv) {
    
        // 3️⃣ Access the dataset (data-* attributes) of the element
        const qrData = qrDiv.dataset;
       

        // 4️⃣ Set the 'targetUrl' data attribute to the current origin of the page
        qrData.targeturl = window.location.href;

        // ✅ Now the div has data-target-url="https://your-domain.com" dynamically
    }