doctype html
head
  title सामान्य कर मागणी बिल
  meta(charset='UTF-8')
  meta(name='viewport' content='width.p-1.m-0=device-width.p-1.m-0, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  script(src="/asstest/plugins/qrcodejs/qrcode.min.js")
  // COMMON CSS
  link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')

  //- COMMON JS
  script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
  script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
  script(src='/asstest/coustom/js/common.js')
  script(src="/asstest/coustom/js/handlers/pagination.js")

  style.
    @media print {
      @page { 
        size: auto;
          margin: 7mm 7mm 4mm 10mm;
        }
        body {
          margin:0;
          padding:0;
        }
        body {
          transform: scale(1);
        }
        img {
          page-break-inside: avoid;
        }
        .p-hide{
          display:none
        }
        .pagination {
          display: none;
        }
      }  

      .main-heading {
        margin-left:10%
      }

      .heading-second{
        margin-left:30%
      }

      .heading-second-2{
        margin-left:30%
      }

      .set-p-break {
        page-break-before: always;
      }

      .c-0 {
        page-break-before: always;
      }

      .img{
        width:65px;
        height:70px;
      }

      .img1{
        margin-top:-10px;
        width:70px;
        height:90px;
      }

      p{
        font-size:15px !important;
      }

      .qrcode img{
        width:100%;
        height:100%;
      }
  script.
    let totalRecords = !{JSON.stringify(totalRecords)}


body
  - var pageCount = billStart;

  <ul class="pagination">
    <li class="page-item">
      <button class="bg-primary text-light page-link previous-button">Previous</button>
    </li>
    <div class='d-flex page-numbers'> 
    </div> 
    <li class="page-item">
      <button class="bg-success text-light page-link next-button">Next</button>
    </li>
  </ul>

  each val,index in data
    - pageCount += 1;
    - var  className = 'row m-0 mb-5 c-'+ (index%2); 
    div(class=className)
      div(style="position:relative;display:inline-block;width:290mm;height:200mm !important")
        img(src="/print/4.jpg" alt="" style="width:100%;height:100%;")
        div(style="position: absolute;top:0;width:100%")
          - var url = '/home_map_image/home_photo/'+val.feu_image

          img(src=url alt="" style="position:absolute;left:23rem;top:39.8rem;width:155px;height:115px")
          img(src=url alt="" style="position:absolute;left:58.5rem;top:39.8rem;width:155px;height:115px")

          - var id = 'qrcode'+pageCount
          - var id2 = 'qrcode_'+pageCount


          div.qrcode(id=id style="position:absolute;left:23rem;top:7.6rem;width:150px;height:115px")
          div.qrcode(id=id2 style="position:absolute;left:58.5rem;top:7.6rem;width:150px;height:115px")

          small(style="position:absolute;left:16rem;top:3rem") #{zp.gp_name}
          small(style="position:absolute;left:51rem;top:3rem") #{zp.gp_name}

          small(style="position:absolute;left:7.5rem;top:4.9rem;width:350px") #{val.feu_ownerName}
          small(style="position:absolute;left:43rem;top:4.9rem") #{val.feu_ownerName}

          small(style="position:absolute;left:7.5rem;top:6.9rem") #{val.feu_secondOwnerName}
          small(style="position:absolute;left:43rem;top:6.9rem") #{val.feu_secondOwnerName}

          small(style="position:absolute;left:4.5rem;top:13.5rem") #{val.feu_malmattaNo}


          small(style="position:absolute;left:4rem;top:9.2rem") #{val.feu_mobileNo}
          small(style="position:absolute;left:40rem;top:9.2rem") #{val.feu_mobileNo}

          small(style="position:absolute;left:9rem;top:11.2rem") #{val.feu_totalArea} /  #{val.feu_totalAreaSquareMeter}
          small(style="position:absolute;left:45rem;top:11.2rem") #{val.feu_totalArea} /  #{val.feu_totalAreaSquareMeter}

          small(style="position:absolute;left:12.5rem;top:13.5rem") #{pageCount}
          small(style="position:absolute;left:18.5rem;top:13.5rem") #{date}
          small(style="position:absolute;left:40rem;top:13.5rem") #{val.feu_malmattaNo}
          small(style="position:absolute;left:47rem;top:13.5rem") #{pageCount}
          small(style="position:absolute;left:53rem;top:13.5rem") #{date}

          small(style="position:absolute;left:14rem;top:17rem") #{year1}
          small(style="position:absolute;left:20rem;top:17rem") #{year2}
          small(style="position:absolute;left:48.5rem;top:17rem") #{year1}
          small(style="position:absolute;left:54.5rem;top:17rem") #{year2}

          p(style="position:absolute;left:14.5rem;top:18.5rem") #{Math.round(val.lastBuildingTax)}
          p(style="position:absolute;left:20.5rem;top:18.5rem") #{Math.round(val.currentBuildingTax)}
          p(style="position:absolute;left:26.5rem;top:18.5rem") #{Math.round(val.lastBuildingTax + val.currentBuildingTax)}

          p(style="position:absolute;left:48.5rem;top:18.5rem") #{Math.round(val.lastBuildingTax)}
          p(style="position:absolute;left:54.5rem;top:18.5rem") #{Math.round(val.currentBuildingTax)}
          p(style="position:absolute;left:61.5rem;top:18.5rem") #{Math.round(val.lastBuildingTax + val.currentBuildingTax)}

          p(style="position:absolute;left:14.5rem;top:21rem") #{Math.round(val.lastDivaTax)}
          p(style="position:absolute;left:20.5rem;top:21rem") #{Math.round(val.currentDivaTax)}
          p(style="position:absolute;left:26.5rem;top:21rem") #{Math.round(val.lastDivaTax + val.currentDivaTax)}

          p(style="position:absolute;left:48.5rem;top:21rem") #{Math.round(val.lastDivaTax)}
          p(style="position:absolute;left:54.5rem;top:21rem") #{Math.round(val.currentDivaTax)}
          p(style="position:absolute;left:61.5rem;top:21rem") #{Math.round(val.lastDivaTax + val.currentDivaTax)}

          p(style="position:absolute;left:14.5rem;top:23.5rem") #{Math.round(val.lastArogyaTax)}
          p(style="position:absolute;left:20.5rem;top:23.5rem") #{Math.round(val.currentArogyaTax)}
          p(style="position:absolute;left:26.5rem;top:23.5rem") #{Math.round(val.lastArogyaTax + val.currentArogyaTax)}

          p(style="position:absolute;left:48.5rem;top:23.5rem") #{Math.round(val.lastArogyaTax)}
          p(style="position:absolute;left:54.5rem;top:23.5rem") #{Math.round(val.currentArogyaTax)}
          p(style="position:absolute;left:61.5rem;top:23.5rem") #{Math.round(val.lastArogyaTax + val.currentArogyaTax)}

          p(style="position:absolute;left:14.5rem;top:26rem") #{Math.round(val.lastSpacialWaterTax) + Math.round(val.lastGenealWaterTax)}
          p(style="position:absolute;left:20.5rem;top:26rem") #{Math.round(val.currentSpacialWaterTax) + Math.round(val.currentGenealWaterTax)}
                                                            //- previous + current
          p(style="position:absolute;left:26.5rem;top:26rem") #{Math.round(val.lastSpacialWaterTax) + Math.round(val.lastGenealWaterTax)  + Math.round(val.currentSpacialWaterTax) + Math.round(val.currentGenealWaterTax)}  
                                                            //- #{Math.round(val.totalWaterTax)}

          p(style="position:absolute;left:48.5rem;top:26rem") #{Math.round(val.lastSpacialWaterTax) + Math.round(val.lastGenealWaterTax)}
          p(style="position:absolute;left:54.5rem;top:26rem") #{Math.round(val.currentSpacialWaterTax) + Math.round(val.currentGenealWaterTax)}
                                                            //- previous + current
          p(style="position:absolute;left:61.5rem;top:26rem") #{Math.round(val.lastSpacialWaterTax) + Math.round(val.lastGenealWaterTax)  + Math.round(val.currentSpacialWaterTax) + Math.round(val.currentGenealWaterTax)}  
                                                            //- #{Math.round(val.totalWaterTax)}

          - var val111 = Math.round(val.lastTaxFine) + Math.round(val.lastYearTaxFine)
          - val111 = isNaN(val111)? 0:val111

          p(style="position:absolute;left:14.5rem;top:28.5rem") #{val111}
          p(style="position:absolute;left:20.5rem;top:28.5rem") #{Math.round(val.lastTaxRelief)}
          p(style="position:absolute;left:26.5rem;top:28.5rem") #{Math.round(val.totalTax)}

          p(style="position:absolute;left:48.5rem;top:28.5rem") #{isNaN(val111)? 0:val111}
          p(style="position:absolute;left:54.5rem;top:28.5rem") #{Math.round(val.lastTaxRelief)}
          p(style="position:absolute;left:61.5rem;top:28.5rem") #{Math.round(val.totalTax)}

          
          - let totalPrevious = Math.round(val.lastBuildingTax) + Math.round(val.lastDivaTax) + Math.round(val.lastArogyaTax) + Math.round(val.lastSpacialWaterTax) + Math.round(val.lastGenealWaterTax) + Math.round(val111)
          - let totalCurrent = Math.round(val.currentBuildingTax) + Math.round(val.currentDivaTax) + Math.round(val.currentArogyaTax) + Math.round(val.currentSpacialWaterTax) + Math.round(val.currentGenealWaterTax) + Math.round(val.lastTaxRelief)

          - let totalPrevPlusCurrent = totalPrevious + totalCurrent
          
          p(style="position:absolute;left:14.5rem;top:31rem") #{totalPrevious}
          p(style="position:absolute;left:20.5rem;top:31rem") #{totalCurrent}
          p(style="position:absolute;left:26.5rem;top:31rem") #{totalPrevPlusCurrent}

          p(style="position:absolute;left:48.5rem;top:31rem") #{totalPrevious}
          p(style="position:absolute;left:54.5rem;top:31rem") #{totalCurrent}
          p(style="position:absolute;left:61.5rem;top:31rem") #{totalPrevPlusCurrent}

          small(style="position:absolute;left:24.5rem;top:35.5rem")
            //- Removing signature
            img(src="/print/sp.jpeg" alt="" onerror="this.style.display='none'" srcset="" width="80")
          small(style="position:absolute;left:24rem;top:38rem") #{zp.gp_name}

          small(style="position:absolute;left:38.5rem;top:36.5rem")
            img(src="/print/d.jpeg" alt="" srcset="" width="50")
          small(style="position:absolute;left:58.5rem;top:35.5rem")
            //- Removing signature
            img(src="/print/sp.jpeg" alt="" srcset="" onerror="this.style.display='none'" width="80")
          small(style="position:absolute;left:59rem;top:38rem") #{zp.gp_name}

  script.
    (function() {
      var data = !{dataString};
      console.log(data)
      var start = #{billStart}
      data.forEach(function(userData,index){
        generateQRCode(++start,userData)
      })
      function generateQRCode(id,userData) {
        let website = 'https://g-seva.com'
        let homeNo = userData.feu_homeNo;
        let wardNo = userData.feu_wardNo;
        let malmattaNo = userData.feu_malmattaNo;
        console.log(userData)
        website +=`/pay/!{zp.pg_registration_no}/${userData.anu_kramank}?r=${encodeURIComponent(window.location.origin)}`;
        new QRCode(document.getElementById("qrcode"+id),website);
        new QRCode(document.getElementById("qrcode_"+id),website);
      }   
    })();
