doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  
    link(href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css' rel='stylesheet')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")  
    //mask plugin jquery
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")   

    //google fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap' rel='stylesheet')


    //toggle
    script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')
    // extras
    script(src='/asstest/plugins/select/js/select2.full.min.js')
    // common js setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src='/asstest/coustom/js/handlers/sms/sms-report-page-handler.js')

    //- 5.3 version bootstrap script
    script(src="/asstest/plugins/bootstrap-5.3.2/js/bootstrap.min.js")


    title SMS Report Status
    style.
        //- table {
        //-     border: 1px solid black;
        //- }

        tr, td, th {
            border: 1px solid black !important;
            padding: 0.4rem 0.2rem;
        }

        th {
            vertical-align: top !important;
        }

body

    include ../include/navs.pug
    .wrapper 
        section 
            .container

                .text-center.mt-4
                    .heading-1 Report

                    .float-right 
                        a(class='btn btn-success' href='/sms') SMS

            .table-container.px-4

                .table-responsive
                    table.table.table-border(style='width: 100%;')

                        thead
                            tr
                                th Sr.No

                                th Campaining Name 
                                //- th Response
                                th Message
                                th Sender Id 

                                th Total Count 
                                th Delivery Count 
                                th Undelivered Count

                                th Created At
                                th Updated At
                                th Fetch latest record
                                th Record


                        tbody 

                            each reportRecord, index in report 
                                tr 

                                    td #{index + 1}

                                    td #{reportRecord.campaining_name}
                                    //- td #{reportRecord.response_data}

                                    td
                                        p(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title=reportRecord.message) #{reportRecord.message}
                                    td #{reportRecord.sender_id}

                                    td #{reportRecord.total_mobile_numbers_count}
                                    td #{reportRecord.delivered_mobile_numbers_count}
                                    td #{reportRecord.not_delivered_mobile_numbers_count}

                                    td #{reportRecord._createdAt}
                                    td #{reportRecord._updatedAt}
                                    td
                                        button.btn.btn-secondary(class='update-sms-delivery-status' data-reportId=reportRecord.id data-scheduleId=reportRecord.response_data) Update Status
                                    
                                    -let scheduleIdOrShootId = reportRecord.response_data ? reportRecord.response_data?.split("/")[1] : ""
                                    td
                                        a.btn.btn-secondary(href=`/sms/delivery-status?id=${reportRecord.id}&scheduleId=${scheduleIdOrShootId}` data-reportId=reportRecord.id data-scheduleId=reportRecord.response_data)  Record


