doctype html
head
    title सभा नोटिस
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    style.

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @media print {
            @page{
                size: A4 portrait;
                //- margin: 1cm;
                border: 1px solid black;
            }

            title{
                display: none !important;
            }

            .my-print{
                position: relative;
                page-break-before: always;
                page-break-inside: avoid; 
                page-break-after: always; 
            }

            //- .notice-text, .footer{
            //-   page-break-inside: avoid; 
            //- }

            .waterMark{
                position: absolute;
                opacity: 0.3;
                width: 100%;
                height: 100%;
            }

            #date-input {
                display: none;
            }
        } 
        
        p,h1,h2,h3,h4,h5,h6 {
            margin: 0px;
            padding: 0px;
        }
        .text-red{ 
            color: red;
        }

        ol {
            display: flex;
            flex-direction: column;
            //- background: red;
            gap: 0.2rem;
            & li {
                margin-bottom: 0.1rem;
                letter-spacing: 0.85px;
            }
        }

        body {
            width: 210mm; 
            height: 297mm;
            //- height: 370mm;
            margin: 0.5rem;
            padding: 0.5rem;
            //- border: 1px solid black;
        }

        .waterMark{
            position: absolute;
            opacity: 0.3;
            top: calc(50% - 300px);
            left: calc(50% - 300px);
            width: 600px;
            height: 600px;
            z-index: -4;
        }

        .my-print{
            height: 370mm;
            //- height: 100%;
            //- min-height: 100vh;
            position: relative;
            margin: 0.5rem !important;
            border: 1px solid black;
        }

        //- li {
        //-   margin-bottom: 1.5rem;
        //-   letter-spacing: 0.85px;
        //- }

        .title-section {
            padding: 1rem;
            height: 8rem;
            border-bottom: 1px solid black;
        }

        .date-section{
            //- padding-right: 4rem;
            font-weight: bold;
            //- position: absolute;
            //- top: 15%;
            margin-top: 1rem;
        }

        h1 {
            font-size: 2rem;
            font-weight: bold !important;
        }

        h2 {
            font-size: 1.2rem;
            font-weight: 500 !important;
        }

        .sarpanchaSign{
            width: 20%;
            margin-bottom: 0.2rem;
        }

        .notice-text{
            padding: 0 2.5rem !important;
            //- position: absolute;
            //- top: 25%;
            margin-top: 1rem;
            //- font-size: 0.8rem !important;
        }

        .footer {
            //- position: absolute;
            //- bottom: 5%;
            //- right: 2%;
        }

        .sabhaVishayHeading {
            text-align: center;
            font-weight: bold;
            font-size: 1.4rem;
            margin: 1.1rem 0;
        }


        p, li {
            font-size: 1rem;
        }


    script(src="/asstest/plugins/qrcodejs/qrcode.min.js")

    script.
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('date-input').addEventListener('input', function(e){

                e.preventDefault();
                const dateValue = new Date(e.target.value);

                const formattedDate = ("0" + dateValue.getDate()).slice(-2) + "/" +
                    ("0" + (dateValue.getMonth() + 1)).slice(-2) + "/" +
                    dateValue.getFullYear();

                const noticeDateElements = document.querySelectorAll('.notice-print-date');

                noticeDateElements.forEach(element => {
                    element.textContent = formattedDate;
                });
            })
        })

body
    -const marathiDayNames = ['रविवार', 'सोमवार', 'मंगळवार', 'बुधवार', 'गुरुवार', 'शुक्रवार', 'शनिवार'];
    -const marathiDayNamesSuffix = ['रविवारी', 'सोमवारी', 'मंगळवारी', 'बुधवारी', 'गुरुवारी', 'शुक्रवारी', 'शनिवारी'];

    input(id="date-input" name="date_input" type="date")

    - let _members = memberList.filter((_m) => (_m && (_m.p_name == "सरपंच" || _m.p_name == "उपसरपंच" || _m.p_name == 'ग्रामसेवक' || _m.p_name == 'ग्रामविकास अधिकारी' || _m.p_name == 'ग्रामपंचायत अधिकारी' || _m.p_name == "सदस्य/सदस्या")))

    each member, i in _members 
        div
            .my-print.m-0.p-0(style='gap: 3rem;')
                - 
                    let _date = notice.notice_date.split('/');
                    let _noticeDate = [_date[1], _date[0], _date[2]].join('/')
                if showWatermark == true || showWatermark == "true"
                    img.waterMark(src="/img/water-mark-images/Seal_of_Maharashtra.png")
                .col-12
                    .title-section
                        .d-flex.justify-content-center.align-items-center.flex-column
                            h1.text-red.mb-3 ग्रामपंचायत कार्यालय #{gp.gp_name}
                            h2.text-red पंचायत समिती #{gp.gp_taluka}, जिल्हा #{gp.gp_dist}

                .col-12
                    .date-section
                        .d-flex.justify-content-center.align-items-center(style='gap: 1.5rem')
                            p.mb-2 #{sabhaDetails.sabhaType}  क्रमांक: #{notice.notice_number === 0 ? '   -   ' : notice.notice_number}
                            p.mb-2 दिनांक: 
                                span.text-red(class="notice-print-date") #{_noticeDate}
                            p.mb-2 सभासद ग्रामपंचायत

                - let months = ["January","February","March","April","May","June","July","August","September","October","November","December"]

                .col-12
                    .notice-text
                        p.font-weight-bold.mb-1 प्रती ,
                        p.mb-1.font-weight-bold &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                            if (member.p_name == 'ग्रामसेवक' || member.p_name == 'ग्रामविकास अधिकारी' || member.p_name == 'ग्रामपंचायत अधिकारी')
                                | कार्यालयीन प्रत
                            else 
                                | श्री / श्रीमती - #{member.name} (#{member.p_name}) ( आधार न. - #{member.sadasyaAadhar} ) ( मो न. - #{member.sadasyaMobile} )
                            
                        if sabhaDetails.sabhaType == "महिला सभा" || sabhaDetails.sabhaType == "तहकुभ महिला सभा"
                            //- h4.sabhaVishayHeading.text-red जाहीर नोटिस 
                            p.sabhaVishayHeading ** 
                                span.text-red महिला सभा 
                                | ** 
                            p.mb-4(style='line-height: 2;') ग्रामपंचायत 
                                span.font-weight-bold #{gp.gp_name} 
                                | अंतर्गत 
                                span.font-weight-bold #{gp.gp_name} 
                                | येथील सर्वत्र महिला नागरिकांना सूचित करण्यात येते कि, ग्रामपंचायत 
                                span.font-weight-bold #{gp.gp_name} 
                                | खालील प्रमाणे विषयास अनुसरून 
                                span.font-weight-bold #{sabhaDetails.sabhaType} 
                                | दिनांक 
                                span.font-weight-bold.text-red #{_noticeDate} 
                                | रोजी 
                                span.font-weight-bold #{notice.notice_scheule} #{notice.notice_time} 
                                | वाजता, 
                                span.font-weight-bold #{notice.notice_place}  
                                | येथे घेण्यात येणार आहे, तेरी सर्वत्र महिला भगिनींनी महिला सभेला हजार राहावे, ही विनंती. 

                            p.sabhaVishayHeading ** विषय ** 
                            ol 
                                li मागील ग्रामसभेचे कामकाज वाचून कायम करणे.
                                li दिनांक #{_noticeDate} चे ग्राम सभेतील विषयावर चर्चा करणे 
                                li आमचा गाव आमचा विकास सन #{_date[2]} - #{Number(_date[2]) + 1} चा कृती आराखडा तयार करणे
                                li या शिवाय अधाक्ष्यांच्या परवानगीने वेळेवर येणार विषय
                                each subject in noticeSubject   
                                    li #{subject}

                            p.mt-2.mb-5.pb-5 करिता जाहीर नोटिस द्वारे प्रसिद्धी देण्यात येत आहे.

                        else 
                            //- h4.sabhaVishayHeading.text-red जाहीर नोटिस 
                            p.sabhaVishayHeading ** 
                                span.text-red #{sabhaDetails.sabhaType} 
                                | ** 
                            p.mb-3 &nbsp;&nbsp;&nbsp; कळविण्यात येते कि ग्रामपंचायतीची
                                span.font-weight-bold &nbsp; #{sabhaType} 
                                |सभा दिनांक 
                                span.font-weight-bold.text-red #{_noticeDate} 
                                |रोजी #{marathiDayNamesSuffix[new Date(_date[2], _date[0] - 1, _date[1]).getDay()]} 
                                span.font-weight-bold #{notice.notice_scheule} 
                                | ठीक 
                                span.font-weight-bold #{notice.notice_time} 
                                |वाजता 
                                span.font-weight-bold #{notice.notice_place} 
                                |येथे होईल. 
                            p.sabhaVishayHeading ** विषय ** 
                            ol 
                                //- li मागील सभेचा प्रस्ताव व वाचन करणे 
                                //- li माहे #{months[Number(_date[0])]} #{_date[2]} महिन्याचे जमा खर्चाला मंजुरता देणे 
                                //- li जन्म - म्तृत्यू - उपजत म्तृत्यू व विवाह नोंदणीस मंजुरता देणे 
                                //- li आलेल्या परिपत्रकाचे वाचन करणे 
                                //- li घर बांधकाम करिता ना हरकतदेनेबाबत 

                                each subject in noticeSubject   
                                    li #{subject}

                            hr  
                            div.col-12
                                p.ml-5.mb-1 या शिवाय अधाक्ष्यांच्या परवानगीने वेळेवर येणार विषय

                .col-12
                    .footer
                        .d-flex.flex-column.justify-content-center.align-items-end.font-weight-bold.pr-5
                            //- Removed signature
                            //- img(src="/print/sp1.jpeg" alt="" class='sarpanchaSign')
                            p.mb-3.mr-5 सरपंच 
                            p.mb-3 ग्रामपंचायत कार्यालय #{gp.gp_name} प. स. #{gp.gp_taluka}
