doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // Common CSS
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")

    // Bootstrap 5 CSS & JS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    // Common JS setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

    link(href='/asstest/coustom/css/namuna/namuna-20/namuna-20-page.css' rel='stylesheet')
    script(src='/asstest/coustom/js/handlers/namuna/namuna-20/namuna-20-create-entry-page-handler.js' type='module' defer)

    title Edit नमुना २० कामाच्या अंदाजाची नोंदवही

    style.
      .heading-1 {
        font-weight: bold !important;
        font-size: 1.4rem;
        text-align: center;
        color: #bb2525;
        border-radius: 15px;
        border: 2px solid #bb2525;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: 0 auto 1.4rem;
        width: fit-content;
      }

      label.error {
        color: red;
        font-size: 0.9rem;
      }

  body
    include ../../include/navs.pug

    -
      const months = [
        "०१ (जानेवारी)", "०२ (फेब्रुवारी)", "०३ (मार्च)", "०४ (एप्रिल)", 
        "०५ (मे)", "०६ (जून)", "०७ (जुलै)", "०८ (ऑगस्ट)", 
        "०९ (सप्टेंबर)", "१० (ऑक्टोबर)", "११ (नोव्हेंबर)", "१२ (डिसेंबर)"
      ]

    .container
      h2.heading-1.mt-1.mb-2 नमुना २० कामाच्या अंदाजाची नोंदवही

      div
        .d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
          a.btn.btn-primary(href='/namuna/20') यादी

      form(id='namuna-20-form').mt-1
        .form.form-1
          .row.justify-content-center.justify-content-md-between.gx-4.gy-2

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="month") महिना
                select.form-select(id="month" name="month" required)
                  option(value='') --निवडा--
                  each month, monthIndex in months
                    option(value=(monthIndex + 1) selected = (((monthIndex + 1) == namuna20Entry.month) ? true: false)) #{month}

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="year") वर्ष
                select.form-select(id="year" name="year" required)
                  option(value='') --निवडा--
                  - let currentYear = new Date().getFullYear()
                  - let startYear = currentYear - 25
                  each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i).reverse()
                    option(value=year selected = ((year == namuna20Entry.year) ? true: false)) #{year}

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="quantity") परिमाण
                input.form-control(type="text" id="quantity" name="quantity" required placeholder="" value=namuna20Entry.quantity)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="item_description") बाब
                input.form-control(type="text" id="item_description" name="item_description" required placeholder="वर्णन" value=namuna20Entry.item_description)


            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="rate") दर (र. पै.)
                input.form-control(type="number" step='0.001' id="rate" name="rate" placeholder="2.1"  value=namuna20Entry.rate)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="per_amount") प्रत्येकी
                input.form-control(type="text" id="per_unit" name="per_unit" placeholder="प्रत्येकी" value=namuna20Entry.per_unit)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="amount")  रक्कम रू
                input.form-control(type="text" id="amount" name="amount" required placeholder="परिमाण" value=namuna20Entry.amount)

            //- --------------------------

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="serial_number") क्रमांक 
                input.form-control(type="text" id="serial_number" name="serial_number" required placeholder="" value=namuna20Entry.serial_number)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="length") लांबी
                input.form-control(type="number" id="length" name="length" required placeholder="उदा. 22" value=namuna20Entry.length)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="width") रुंदी 
                input.form-control(type="number" id="width" name="width" required placeholder="उदा. 11" value=namuna20Entry.width)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="depth") खोली
                input.form-control(type="number" id="depth" name="depth" required placeholder="खोली" value=namuna20Entry.depth)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="calculated_quantity") परिमाण दशांशात 
                input.form-control(type="number" id="calculated_quantity" name="calculated_quantity" required placeholder="उदा. 29" value=namuna20Entry.calculated_quantity)

            .col-11.col-md-6.col-lg-3
              .form-group
                label.form-label(for="total") एकूण
                input.form-control(type="number" id="total" name="total" required placeholder="उदा. 29" value=namuna20Entry.total)

                input(name='id' value=namuna20Entry.id hidden) 

          .d-flex.gap-4.justify-content-center
            button.btn.btn-success(type='button' id="update-namuna-20-entry") Update
            button.btn.btn-secondary(type='reset' id='reset') Reset
