doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title नमुना २० कामाच्या अंदाजाची नोंदवही

        style.

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            table{
                border-collapse:  collapse;
            }

            tr, th, td{
                border: 1px solid gray;
            }

            th, td {
                padding: 0.1rem 0.4rem;
                text-align: center;
            }

            #hide-buttons{
                button{
                    position: fixed;
                    top: 48%;
                    left: 1rem;
                    background: blue;
                    padding: 0.2rem 0.4rem;
                    color: white;
                }
            }


            /* Print-specific styles */
            @media print {
                @page {
                    size:A4 landscape; /* Forces horizontal orientation */
                }
                body {
                    margin: 0; /* Removes default margin for printing */
                }
                tr {
                    break-inside: avoid; /* Prevents table rows from breaking across pages */
                    page-break-inside: avoid; /* For compatibility with older browsers */
                }
                #hide-buttons {
                    display:none;
                }
            }

        link(rel='stylesheet' href='/asstest/coustom/css/namuna/namuna-1-to-33-print.css')

    body
        - const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        #hide-buttons 

            button(type='button' onclick='window.print()') Print

        table(style='width: 100%;')

            thead

                tr 
                    th(colspan='11' )
                        div
                            div(style='display: flex; align-items: center; justify-content: space-between;')

                                div नमुना २० 

                                div ग्रामपंचायत कार्यालय 
                                    span #{gp.gp_name}
                                div
                                    img(src="/new-gp-page/main-page/images/header-images/mudra-nav-2.png" style='width: 100px;')

                            div 
                                div.text-center(style='font-size:10px;') महा. ग्रा. पं. लेखा संहिता २०११ (नियम  २४ (२) (ग), (५) व ५१ (२) पहा)




                tr 
                    th(colspan='11')
                        | कामाच्या अंदाजाची नोंदवही

                tr 
                    th(colspan='5') सर्वसाधारण वर्णन गोषवारा
                    th(colspan='6') आतील बाजू मोजमाप अंदाजपत्रक मोजमाप
                tr
                    //- 1 to 5
                    th परिमाण
                    th बाब 
                    th दर (र. पै.)
                    th प्रत्येकी
                    th रक्कम रू. (दशांशात)

                    //- 6 to 11
                    th क्रमांक
                    th लांबी
                    th रुंदी
                    th खोली
                    th परिमाण दशांशात
                    th एकूण


                tr 
                    each num in [1,2,3,4,5,6,7,8,9,10,11] 
                        //- [13,14,15,16]
                        th #{num}

            tbody



                each namuna20Entry, index in namuna20Details 
                    //- each namuna20Entry, index in Array(20).fill(paymentnamuna20Entry).flat()
                    tr 
                        td #{namuna20Entry.quantity}
                        td #{namuna20Entry.item_description}
                        td #{namuna20Entry.rate}
                        td #{namuna20Entry.per_unit}
                        td #{namuna20Entry.amount}

                        td #{namuna20Entry.serial_number}
                        td #{namuna20Entry.length}
                        td #{namuna20Entry.width}
                        td #{namuna20Entry.depth}
                        td #{namuna20Entry.calculated_quantity}
                        td #{namuna20Entry.total}

            tfoot 
                tr 
                    td(colspan='12')
                        div
                            div(style='display: flex; align-items: center; justify-content: space-evenly; gap: 1rem;')
                                div दिनांक : 
                                div सचिव
                                div सरपंच