doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

    //- link(href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css' rel='stylesheet')


    title Edit - उपभोग्य वस्तुसाठा लेखा नोंदणी वही

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    //- script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")

    //- //toggle
    //- script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')
    //- // extras
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    //- // common js setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')

    //- link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    //- script(src="https://cdn.jsdelivr.net/npm/flatpickr")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")


    script. 
        const isUpdate = true;
        let existingnamuna15DetailsArray = !{JSON.stringify(namuna15Details)}
        console.log(existingnamuna15DetailsArray)


    script(src='/asstest/coustom/js/handlers/namuna/namuna-15/namuna-15-page-handler.js' type='module' defer)

    style.
        body{
            min-height:100vh;
        }


        label.error{
            color: red;
            font-size: 0.85rem;
        }

body
    include ../../include/navs.pug

    section 
        .container 
             
            -
                const tableData = [
                    {
                        marathiHeader: 'तारीख',
                        tableHeaderClassName: 'table-header-date',
                        tableBodyInputClassName: 'date',
                        nameAttribute: 'date', // तारीख
                        isDate: true,
                        isRequired: true,
                    },

                    {
                        marathiHeader: 'प्रारंभिक शिल्लक',
                        tableHeaderClassName: 'table-header-initial-quantity',
                        tableBodyInputClassName: 'initial-quantity',
                        nameAttribute: 'initial_quantity', // प्रारंभिक शिल्लक
                        
                    },
                    
                    {
                        marathiHeader: 'मिळालेल्या वस्तुंची नाव',
                        tableHeaderClassName: 'table-header-received-item-name',
                        tableBodyInputClassName: 'received-item-name',
                        nameAttribute: 'received_item_name', // मिळालेल्या वस्तुंची नाव
                    },
                    {
                        marathiHeader: 'वस्तूंची संख्या किंवा परिमाण',
                        tableHeaderClassName: 'table-header-item-quantity',
                        tableBodyInputClassName: 'item-quantity',
                        nameAttribute: 'item_quantity', // वस्तूंची संख्या किंवा परिमाण
                    },
                    {
                        marathiHeader: 'एकूण',
                        tableHeaderClassName: 'table-header-total',
                        tableBodyInputClassName: 'total',
                        nameAttribute: 'total', // एकूण
                    },
                    {
                        marathiHeader: 'कोणास दिले किंवा कोणत्या प्रयोजनाकरिता',
                        tableHeaderClassName: 'table-header-purpose-or-receiver',
                        tableBodyInputClassName: 'purpose-or-receiver',
                        nameAttribute: 'purpose_or_receiver', // कोणास दिले किंवा कोणत्या प्रयोजनाकरिता
                    },
                    {
                        marathiHeader: 'दिलेल्या वस्तुंची संख्या किंवा परिमाण',
                        tableHeaderClassName: 'table-header-issued-item-quantity',
                        tableBodyInputClassName: 'issued-item-quantity',
                        nameAttribute: 'issued_item_quantity', // दिलेल्या वस्तुंची संख्या किंवा परिमाण
                    },
                    {
                        marathiHeader: 'शिल्लक',
                        tableHeaderClassName: 'table-header-remaining-quantity',
                        tableBodyInputClassName: 'remaining-quantity',
                        nameAttribute: 'remaining_quantity', // शिल्लक
                    },
                    {
                        marathiHeader: 'वस्तु देणाऱ्या अधिकाऱ्यांचे नाव',
                        tableHeaderClassName: 'table-header-issuing-officer-name',
                        tableBodyInputClassName: 'issuing-officer-name',
                        nameAttribute: 'issuing_officer_name', // वस्तु देणाऱ्या अधिकाऱ्यांचे नाव
                    },
                    {
                        marathiHeader: 'वस्तु घेणाऱ्या अधिकाऱ्याचे नाव',
                        tableHeaderClassName: 'table-header-receiving-officer-name',
                        tableBodyInputClassName: 'receiving-officer-name',
                        nameAttribute: 'receiving_officer_name', // वस्तु घेणाऱ्या अधिकाऱ्याचे नाव
                    },
                    {
                        marathiHeader: 'शेरा',
                        tableHeaderClassName: 'table-header-remarks',
                        tableBodyInputClassName: 'remarks',
                        nameAttribute: 'remarks', // शेरा
                    }
                ];





            .buttons-container(class='py-4')
                .d-flex.align-items-center.justify-content-center.gap-4


                    - let isForYear =  (fromYear && toYear) ? true : false 

                    - let startYear = 2020
                    - let currentYear = new Date().getFullYear()
                    div(class=`${isForYear ? '' : 'd-none'}`)
                        select.form-select(name='from_year' id='from-year')
                            option(value='') -- Select --
                            each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i)
                                option(value=year selected= fromYear == year) #{year}

                    div(class=`${isForYear ? '' : 'd-none'}`) 
                        select.form-select(name='to_year' id='to-year')
                            option(value='') -- Select --
                            each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i + 1)
                                option(value=year selected= toYear == year) #{year}
                    div.d-none
                        button.btn.btn-success(type='button' id='update-all-entries-btn' role='button' aria-label='Update all form entries' data-action='update-all') Submit All
                  
                    div(class=`${isForYear ? 'd-none' : 'text-center'}` style='font-size:1.4rem; font-weight: bold;') All Entries

            form.table-container.table-responsive
                table.table(id='namuna-15-table' data-headers=tableData)
                    thead 
                        tr 
                            th अनु.क्र.
                            each entry in tableData 
                                th(class='width:500px') #{entry.marathiHeader}

                            th UPDATE
                            th DELETE 

                    
                    tbody(id='namuna-15-table-body')
                        each namunaEntry, index in namuna15Details

                            tr(data-rowIndex = index)


                                td 
                                    div(data-rowIndex='0') #{index + 1}

                                each entry in tableData
                                    td()
                                        input.form-control(style='width:200px;' class=`${entry.tableBodyInputClassName}${entry.isDate && entry.isDate == true ? ' datepicker' : ''}` name=entry.nameAttribute tableBodyInputClassName data-rowIndex = index value=`${entry.isDate && entry.isDate == true ? namunaEntry[`_${entry.nameAttribute}`] : namunaEntry[entry.nameAttribute]}` )
                                        
                                td 
                                    button.btn.btn-success(class='update-row-btn' data-entryId=namunaEntry.id data-rowIndex=index) Update

                                td 
                                    button.btn.btn-danger(class='delete-row-btn' data-entryId=namunaEntry.id data-rowIndex=index) DELETE