
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title} 

        script(src="/asstest/coustom/css/tailwind.js")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&family=Yatra+One&display=swap" rel="stylesheet")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js")


        script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
        script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
        script(src='/asstest/coustom/js/common.js')
        link(href='/asstest/coustom/css/pagination.css' rel='stylesheet')


        //- JS  


        script.
            document.addEventListener('DOMContentLoaded', function(){
                const downloadPdf = () => {
                    const element = document.querySelector('#print');
                    const options = {
                        margin: [0.1, 0.1, 0.1, 0.1],
                        filename: 'form8-receipt.pdf',
                        image: { type: 'jpeg', quality: 0.98 },
                        html2canvas: { scale: 2, useCORS: true, scrollY: 0 },
                        jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
                    };
                    html2pdf().set(options).from(element).save();
                }
                const downloadPdfBtn = document.getElementById('download-pdf-btn');
                if (downloadPdfBtn) {
                    downloadPdfBtn.addEventListener('click', downloadPdf);
                }
            })


        script(src="/asstest/coustom/js/handlers/pagination.js" defer)
        style.
            table {
                border-collapse: collapse;
            }
            td, th {
                padding: 0.2rem;
                border: 1px solid oklch(59.2% 0.249 0.584);
            }

            @media print {
                @page {
                    size: A4 portrait;
                    //- margin: 9mm 9mm 9mm 9mm;
                    margin: 18mm 9mm 5mm 9mm; /* top right bottom left */
                }

                .hide-print {
                    display: none !important;
                }

                .print{
                    height:100lvh;
                }

                .my-print {
                    position: relative;
                    background: none !important; /* Prevent bg-white/90 or any tailwind override */
                    page-break-after: always;
                    break-after: page;
                    //- min-height: 100lvh;
                }

                * {
                    -webkit-print-color-adjust: exact !important;
                    print-color-adjust: exact !important;
                }

                .print-bg {
                    background-image: url('/img/background/bg-tricolor.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top center;
                }
            }

            .tiro-devanagari-marathi-regular {
                font-family: "Tiro Devanagari Marathi", serif;
                font-weight: 400;
                font-style: normal;
            }

            .tiro-devanagari-marathi-regular-italic {
                font-family: "Tiro Devanagari Marathi", serif;
                font-weight: 400;
                font-style: italic;
            }

    body
        - let year = ''

        div(class="hide-print")
            div(class="fixed top-[45%] right-[2%] flex flex-col gap-2 z-50")
                button(class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded shadow-md" onclick="window.print()") Print


                select(class="form-select block w-full mt-1 px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500 text-sm text-gray-700")
                    //- option(value='1' selected=(gp.gramsevak_sign_display == 1)) ग्रामसेवक सही दाखवा
                    //- option(value='0' selected=(gp.gramsevak_sign_display == 0)) ग्रामसेवक सही लपवा

                    option(value='1' selected=(gp.srapanch_sign_display == 1)) सरपंच सही दाखवा
                    option(value='-1' selected=(gp.srapanch_sign_display == 0)) सरपंच सही लपवा
                    option(value='2' selected=(gp.srapanch_sign_display == 1)) ग्रा.अ. सही दाखवा
                    option(value='-2' selected=(gp.srapanch_sign_display == 0)) ग्रा.अ. सही लपवा
                    option(value='3' selected=(gp.srapanch_sign_display == 1)) दोन्ही सही दाखवा
                    option(value='-3' selected=(gp.srapanch_sign_display == 0)) दोन्ही सही लपवा



        //- Printing will start from over here

        
        //- first print page
        .print(class="tiro-devanagari-marathi-regular" style='width:210mm;height:297mm;')
            div(class="my-print border border-gray-500  bg-white/60 relative h-full print-bg")

                // ===== WATERMARK =====
                div(class="absolute inset-0 flex items-center justify-center opacity-10 pointer-events-none")
                    img(src="/img/water-mark-images/Seal_of_Maharashtra.png" class="w-[80%]")


                div(class="relative z-10 bg-white/30 bg-opacity-80 h-full")


                    div(class='w-full h-full flex flex-col')

                        div(class='w-full')
                            //- black header with scheme name
                            div(class='bg-stone-600 text-white py-6')
                                h1(class='text-5xl font-bold text-center') महात्मा गांधी राष्ट्रीय रोजगार हमी कायदा



                            //- job card iamge names

                            div(class='mt-3')
                                div(class='w-full grid grid-cols-5 bg-stone-600')
                                    div(class='col-span-1')

                                        img(class='block mx-auto size-32 border-0' src='/print/job-card/ngrega-img.jpeg')
                                    div(class='col-span-3')
                                        div(class='w-full h-full flex items-center justify-center')
                                            div(class='bg-white px-8 py-4 text-stone-800 font-bold text-3xl') जॉब कार्ड 
                                    div(class='col-span-1')
                                        img(class='block mx-auto size-32 border-0' src='/print/job-card/g-ram-g.jpg')

                            //- general grade heading
                        div(class='grow')
                            div(class='mt-4 flex justify-center') 
                                
                                h6(class='w-fit bg-stone-600 py-4 font-extrabold px-8 text-white text-3xl') सामान्य श्रेणी

                            //- Details
                            - let labelClass = `font-extrabold text-black underline underline-offset-[7px]`
                            - let valueClass = `text-stone-850 ml-4`
                            ul(class='mt-4 px-4 flex flex-col gap-4 text-xl')

                                li 
                                    label(class=labelClass) जॉब कार्ड क्रमांक

                                    div(class='mt-3')
                                        div(class='flex justify-start')
                                            if jobCard.job_card_number
                                                each numberCharacter in jobCard.job_card_number
                                                    div(class=`border border-gray-400 size-8 font-bold text-black flex justify-center items-center ${index !== 0 ? '-ml-px' : ''}`) #{numberCharacter} 

                                li 
                                    label(class=labelClass) कुटुंब प्रमुखाचे नाव : 
                                    span(class=valueClass) #{jobCard.family_head_name}

                                li 
                                    label(class=labelClass) अर्जदाराचे नाव : 
                                    span(class=valueClass) #{jobCard.applicant_name}

                                li 
                                    label(class=labelClass) जॉब कार्ड जारी केल्याची तारीख : 
                                    span(class=valueClass) #{jobCard._date_of_acceptance}

                                li 
                                    label(class=labelClass) श्रेणी : 
                                    span(class=valueClass) #{jobCard.caste_category}
                                
                                li 
                                    label(class=labelClass) पत्ता : 
                                    span(class=valueClass) #{jobCard.applicant_address}

                                li 
                                    label(class=labelClass) गावाचे नाव : 
                                    span(class=valueClass) #{gp.gp_name}

                                li 
                                    label(class=labelClass) ग्रामपंचायत : 
                                    span(class=valueClass) #{gp.gp_name}

                                li
                                    label(class=labelClass) तालुका : 
                                    span(class=valueClass) #{gp.gp_taluka}

                                li 
                                    label(class=labelClass) जिल्हा : 
                                    span(class=valueClass) #{gp.gp_dist}

                                li 
                                    label(class=labelClass) SECC दिनांक (उपलब्ध असल्यास) : 
                                    span(class=valueClass)  

                            
                        div(class='mt-auto bg-stone-600 text-white py-6') 
                            p(class='text-5xl font-bold text-center') कामे मनरेगाची, शाश्वत विकासाची
                        


                    

        //- second print page
        .print(class="tiro-devanagari-marathi-regular" style='width:210mm;height:297mm;')
            div(class="my-print border border-gray-500  bg-white/60 relative h-full print-bg")

                // ===== WATERMARK =====
                div(class="absolute inset-0 flex items-center justify-center opacity-10 pointer-events-none")
                    img(src="/img/water-mark-images/Seal_of_Maharashtra.png" class="w-[80%]")

                div(class="relative z-10 bg-white/50 bg-opacity-80 h-full")

                    div(class='w-full h-full flex flex-col')
                    
                        div(class='grow p-2') 
                            - let familyMembers = JSON.parse(jobCard.family_members_list)
                            - let familyHead = familyMembers.find(m => m.relation_to_family_head === 'स्वतः')
                            - let otherMembers = familyMembers.filter(m => m.relation_to_family_head !== 'स्वतः')
                            
                            if familyHead
                                div(class='mb-3')
                                    div(class='flex gap-2')
                                        div(class='grow border p-2 space-y-1')
                                            div 
                                                span(class=labelClass) कुटुंब प्रमुखाचे नाव : 
                                                span(class=valueClass) #{familyHead.member_name || '-'}
                                            div(class='flex')
                                                div(class='grow')
                                                    span(class=labelClass) वय (नोंदणी केलेल्या तारखेला) : 
                                                    span(class=valueClass) #{familyHead.age || '-'}
                                                div(class='shrink') 
                                                    span(class=labelClass) लिंग : 
                                                    span(class=valueClass) #{familyHead.gender || '-'}
                                            div 
                                                span(class=labelClass) भ्रमणध्वनी क्र. : 
                                                span(class=valueClass) #{familyHead.mobile || '-'}
                                        div(class='w-28 h-32 shrink-0 border bg-gray-100 flex items-center justify-center')
                                            if familyHead.family_member_photo_name
                                                img(src=`/uploads/images/job-cards/member-photos/${familyHead.family_member_photo_name}` onerror="this.src='/img/fallback/no-image-found.png'" class='w-full h-full object-cover')
                                            


                            if otherMembers.length
                                div(class='mt-3')

                                    each familyMember in otherMembers
                                        div(class='mb-2')
                                            div(class='flex gap-2')
                                                div(class='grow border p-2 space-y-1')
                                                    div
                                                        span(class=labelClass) नोंदणीकृत सदस्याचे नाव : 
                                                        span(class=valueClass) #{familyMember.member_name || '-'}
                                                    div
                                                        span(class=labelClass) कुटुंब प्रमुखाशी असलेले नाते: 
                                                        span(class=valueClass) #{familyMember.relation_to_family_head || '-'}
                                                    div(class=`flex`)
                                                        div(class=`grow`)
                                                            span(class=labelClass) वय : 
                                                            span(class=valueClass) #{familyMember.age || '-'}
                                                        div(class=`shrink`) 
                                                            span(class=labelClass) लिंग : 
                                                            span(class=valueClass) #{familyMember.gender || '-'}
                                                div(class='w-28 h-32 shrink-0 border bg-gray-100 flex items-center justify-center')
                                                    if familyMember.family_member_photo_name
                                                        img(src=`/uploads/images/job-cards/member-photos/${familyMember.family_member_photo_name}` onerror="this.src='/img/fallback/no-image-found.png'" class='w-full h-full object-cover')

                        div(class='shrink-0 mt-auto')
                            div(class='h-[1px] w-full bg-stone-800')
                            div 
                                p(class='px-2') टीप: मोबाईल क्रमांक असल्यास उपलब्ध करून द्यावा. 
                                div(class='flex justify-center gap-2')
                                    div 
                                        div.opacity-0(class='w-[6rem] h-[2.4rem]') Signature 
                                        div _____________________
                                        div कुटुंब प्रमुखाची
                                        div सही / अंगठा
                                    div 
                                        div
                                            img.gram-adhikari-sign(src='/print/gs.jpeg' class=(gp.gramsevak_sign_display === 1 ? '' : 'opacity-0') alt='gramsevak sign' onerror="this.style.opacity='0'" style='width: 6rem !important; height: 2.4rem !important;')
                                        div _____________________
                                        div कार्यक्रम अधिकाऱ्याची 
                                        div सही व शिक्का

                            div(class='mt-auto bg-stone-600 text-white py-3') 
                                p(class='text-2xl font-bold text-center') समृद्ध महाराष्ट्र जनकल्याण योजना
                        

    
    script.
        document.addEventListener('DOMContentLoaded', function() {

            //- query
            function showHideSignatures(val) {
                const sarpanchSigns = document.querySelectorAll('.sarpanch-sign');
                const gramAdhikariSigns = document.querySelectorAll('.gram-adhikari-sign');

                switch (val) {
                    case '1': // Show Sarpanch sign only
                        sarpanchSigns.forEach(el => el.style.opacity = '1');
                        gramAdhikariSigns.forEach(el => el.style.opacity = '0');
                        break;
                    case '-1': // Hide Sarpanch sign only
                        sarpanchSigns.forEach(el => el.style.opacity = '0');
                        gramAdhikariSigns.forEach(el => el.style.opacity = '1');
                        break;
                    case '2': // Show Gram Adhikari sign only
                        sarpanchSigns.forEach(el => el.style.opacity = '0');
                        gramAdhikariSigns.forEach(el => el.style.opacity = '1');
                        break;
                    case '-2': // Hide Gram Adhikari sign only
                        sarpanchSigns.forEach(el => el.style.opacity = '1');
                        gramAdhikariSigns.forEach(el => el.style.opacity = '0');
                        break;
                    case '3': // Show both signatures
                        sarpanchSigns.forEach(el => el.style.opacity = '1');
                        gramAdhikariSigns.forEach(el => el.style.opacity = '1');
                        break;
                    case '-3': // Hide both signatures
                        sarpanchSigns.forEach(el => el.style.opacity = '0');
                        gramAdhikariSigns.forEach(el => el.style.opacity = '0');
                        break;
                    default:
                        sarpanchSigns.forEach(el => el.style.opacity = '0');
                        gramAdhikariSigns.forEach(el => el.style.opacity = '0');
                        break;
                }
            }

            // Attach the event listener to the select element
            document.querySelector('.form-select').addEventListener('change', function() {
                showHideSignatures(this.value);
            });

        });
