doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

    link(href='/asstest/coustom/css/namuna/namuna-17/namuna-17-page.css' rel='stylesheet')
    script(src='/asstest/coustom/js/handlers/namuna/namuna-17/namuna-17-create-entry-page-handler.js' type='module' defer)

    title नमुना १७ - अग्रीम दिलेल्या / अनामत ठेवलेल्या रकमांची नोंदवही

    style.
      .heading-1 {
        font-weight: bold !important;
        font-size: 1.4rem;
        text-align: center;
        color: #bb2525;
        border-radius: 15px;
        border: 2px solid #bb2525;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: 0 auto 1.4rem; /* Automatically center horizontally */
        width: fit-content; /* Allow width to adjust based on content */
      }

      label.error {
        color: red;
        font-size: 0.9rem;
      }

  body

    include ../../include/navs.pug

    h2.heading-1.mt-2.mb-1 Edit नमुना १७ - अग्रीम दिलेल्या / अनामत ठेवलेल्या रकमांची नोंदवही

    div.d-flex.gap-4.justify-content-end.mb-4(style='margin-right:8rem; gap:1rem;')
      a.btn.btn-primary(href='/namuna/17') नमुना १७ यादी
      a.btn.btn-primary(href='/namuna') नमुने
    - 
      const months = [
        "०१ (जानेवारी)", "०२ (फेब्रुवारी)", "०३ (मार्च)", "०४ (एप्रिल)", 
        "०५ (मे)", "०६ (जून)", "०७ (जुलै)", "०८ (ऑगस्ट)", 
        "०९ (सप्टेंबर)", "१० (ऑक्टोबर)", "११ (नोव्हेंबर)", "१२ (डिसेंबर)"
      ]

    if !namuna17Entry
      h3.text-center.mt-5 माहिती उपलब्ध नाही

    else

      form(id='namuna-17-form').mt-1
        .form.form-1
          //- h4.text-center.fw-bold Edit : नमुना १७ 

          .row.justify-content-center.justify-content-md-between.gx-4.gy-2
            .col-11.col-md-6.col-lg-6
              .form-group
                label.form-label(for="person-name") व्यक्तीचे नाव
                input.form-control(type="text" id="person-name" name="person_name" required placeholder="व्यक्तीचे नाव" value=namuna17Entry.person_name)

            .col-11.col-md-6.col-lg-6 
              .form-group 
                label.form-label(for="company-name") कंपनीचे नाव
                input.form-control(type="text" id="company-name" name="company_name" required placeholder="कंपनीचे नाव" value=namuna17Entry.company_name)

            .col-11.col-md-12.col-lg-12
              .form-group 
                label.form-label(for="work-description") कामाचे विवरण
                textarea.form-control(id="work-description" name="work_description" rows="3" placeholder="कामाचे विवरण" ) #{namuna17Entry.work_description}


            .col-11.col-md-6.col-lg-4
              .form-group 
                label.form-label(for="order-number") आदेश क्रमांक
                input.form-control(id="order-number" name="order_number" placeholder="आदेश क्रमांक" value=namuna17Entry.order_number)

            .col-11.col-md-6.col-lg-4
              .form-group 
                label.form-label(for="payment-amount") भरण्याची रक्कम
                input.form-control(type="number" id="payment-amount" name="payment_amount" required placeholder="उदा. 18000" value=namuna17Entry.payment_amount)

            .col-11.col-md-6.col-lg-4
              .form-group 
                label.form-label(for="date") दिनांक 
                input.form-control.datepicker(type="text" id="date" name="date" required placeholder="दिनांक" value=namuna17Entry._date)

            .col-11.col-md-6.col-lg-4
              .form-group 
                label.form-label(for="remarks") शेरा
                input.form-control(id="remarks" name="remarks" placeholder="" value=namuna17Entry.remarks)

                input(name='id' value=namuna17Entry.id hidden readonly)

          div(style='gap:2rem;').d-flex.justify-content-center
            button.btn.btn-success(type='button' id="update-namuna-17-entry") Update
            button.btn.btn-secondary(type='reset' id='reset') Reset

