doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")

    //- Bootstrap 5 CSS & JS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    //- // common js setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")


    link(href='/asstest/coustom/css/namuna/namuna-1/namuna-1-page.css' rel='stylesheet')
    script(src='/asstest/coustom/js/handlers/namuna/namuna-1/namuna-1-page-handler.js' type='module' defer)

    title नमुना १

    style.


      label.error {
        color: red;
        font-size: 0.9rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 2rem;
        font-size: 90%;
      }

      tr, td, th {
        border: 1px solid black;
        padding: 0.2rem;
      }

      th {
        text-align: center;
      }

  body
    include ../../include/navs.pug




    - 
      const months = [
        "०१ (जानेवारी)", "०२ (फेब्रुवारी)", "०३ (मार्च)", "०४ (एप्रिल)", 
        "०५ (मे)", "०६ (जून)", "०७ (जुलै)", "०८ (ऑगस्ट)", 
        "०९ (सप्टेंबर)", "१० (ऑक्टोबर)", "११ (नोव्हेंबर)", "१२ (डिसेंबर)"
      ]

    .modal.fade#monthYearModal(tabindex="-1" aria-labelledby="monthYearModalLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-md
        .modal-content
          .modal-header
            h1.modal-title.fs-5#monthYearModalLabel महिना व वर्ष निवडा
            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
          .modal-body

            form(id='month-year-form') 

              .d-flex.align-items-center.justify-content-center.gap-4 
                //- select.form-select(name='month')
                  option(value='' ) -- महिना निवडा--
                  each month, monthIndex in months 
                    option(value=(monthIndex + 1)) #{month}

                - let currYear  = new Date().getFullYear()
                - let startYr = currYear  - 25
                select.form-select(name='fromYear')
                  option(value='') -- वर्षापासून --

                  each year in Array.from({length: currYear  - startYr + 1}, (v, i) => startYr + i).reverse()
                    option(value=year) #{year}

                select.form-select(name='toYear')
                  option(value='') -- वर्षापर्यंत --

                  //- - let currYear  = new Date().getFullYear()
                  //- - let startYr = currYear  - 25
                  each year in Array.from({length: currYear  - startYr + 1}, (v, i) => startYr + i).reverse()
                    option(value=(year + 1)) #{year + 1}



          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
            button.btn.btn-primary(type="button" id='print-namuna-1-btn') प्रिंट नमुना १







    .container
      h2.heading-1.mt-2.mb-1 नमुना १


      div.py-2
        .d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
          a(href='/namuna' class='btn btn-sm btn-primary') नमुने
          button(type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#monthYearModal") प्रिंट नमुना १


    div
      -
        const taphshilListCollection = [
          {
            href: '/village-funds',
            linkName: 'जमा ग्रामनिधी',
            bracketName: ''
          },

          {
            href: '/other-income',
            linkName: 'करेत्तर उत्त्पन्न',
            bracketName: ''
          },

          {
            href: '/sanctioned-amount',
            linkName: 'अभिहस्तांतरीत रकमा',
            bracketName: ''
          },

          {
            href: '/auxiliary-grants',
            linkName: 'राज्यशासन सहाय्यक अनुदाने जमा',
            bracketName: ''
          },

          {
            href: '/water-funds',
            linkName: 'ग्राम पाणी पुरवठा निधी',
            bracketName: ''
          },
        ]

      -
        const taphshilListExpenditure = [
          {
            href: '/village-funds',
            linkName: 'ग्रामनिधीतून खर्च',
            bracketName: ''
          },

          {
            href: '/water-funds',
            linkName: 'ग्राम पाणी पुरवठा निधीतून खर्च',
            bracketName: ''
          },

          {
            href: '/other-expenditures',
            linkName: 'इतर खर्च',
            bracketName: ''
          },
        ]


      div
        .container

          h4.fw-bold.text-center जमा

          div(class='tapshil-links')

            each tapshil in taphshilListCollection 
              a(href=`/namuna/1/collection${tapshil.href}` class='box box--white tapshil-link')  
                span #{tapshil.linkName} 
                span(style='font-size:0.85rem;') (#{tapshil.bracketName || 'जमा'})



          h4.fw-bold.text-center खर्च

          div(class='tapshil-links')

            each tapshil in taphshilListExpenditure
              a(href=`/namuna/1/expenditure${tapshil.href}` class='box box--white tapshil-link') 
                span #{tapshil.linkName}
                span(style='font-size:0.85rem;') (#{tapshil.bracketName || 'खर्च'})