doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Print - नमुना १३

    style.
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Basic styles for the body */
        body {
            //- font-family: Arial, sans-serif;
            margin: 0;
            //- padding: 20px;
        }

        .text-center {
            text-align: center;
        }

        /* Styles for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        /* Print styles */
        @media print {
            body {
                margin: 0;
                padding: 0;
            }

            #hide-buttons {
                display: none;
            }

            table {
                page-break-inside: avoid;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: avoid;
            }

            th, td {
                font-size: 12px;
                page-break-inside: avoid;
                page-break-after: avoid;
            }


            .my-print {
                height: 210mm;
                width: 298mm;

            }

                @page {
                    size: A4 landscape;
                    margin: 4mm ;
                    //- padding: 1mm;
                }
            }


    link(rel='stylesheet' href='/asstest/coustom/css/namuna/namuna-1-to-33-print.css')

    body

        //- include ../../include/navs.pug


        -
            const tableHeaderData = [
                {
                    marathiHeader: 'पदनाम',
                    name: 'post_name',
                },
                {
                    marathiHeader: 'पदाची संख्या',
                    name: 'post_count',
                },
                {
                    marathiHeader: 'मंजूर पदे',
                    name: 'approved_post',
                },
                {
                    marathiHeader: 'आदेश क्रमांक',
                    name: 'order_number',
                },
                {
                    marathiHeader: 'दिनांक',
                    name: '_order_date',
                },
                {
                    marathiHeader: 'पूर्णकाळ / अंशकाळ',
                    name: 'employment_type',
                },
                {
                    marathiHeader: 'मंजूर वेतनश्रेणी',
                    name: 'salary_grade',
                },
                {
                    marathiHeader: 'नियुक्त  केलेल्या कर्मचाऱ्याचे नाव',
                    name: 'employee_name',
                },
                {
                    marathiHeader: 'नियुक्तीचा  दिनांक',
                    name: '_appointment_date',
                },

            ];



        .my-print

            if namuna13Details && namuna13Details.length > 0
                table
                    thead

                        tr 
                            th(colspan='14' style='')
                                div
                                    div(style='display: flex; align-items: center; justify-content: space-between;')

                                        div नमुना १३

                                        div ग्रामपंचायत कार्यालय 
                                            span #{gp.gp_name}
                                        div
                                            img(src="/new-gp-page/main-page/images/header-images/mudra-nav-2.png" style='width: 100px;')

                                    div 
                                        div.text-center(style='font-size:10px;') महा. ग्रा. पं. लेखा संहिता २०११ (नियम ३९ (२), ४२(२) पहा)

                                    div 
                                        if fromYear && toYear
                                            div.text-center(style='font-size: 20px; margin-top:0.2rem;') सन #{fromYear} - #{toYear} कर्मचारी वर्गाची सूची व वेतनश्रेणी नोंदवही
                                        else if (month && year)
                                            div.text-center(style='font-size: 20px; margin-top:0.2rem;') #{month} सन #{year} कर्मचारी वर्गाची सूची व वेतनश्रेणी नोंदवही
                                        else if year 
                                            div.text-center(style='font-size: 20px; margin-top:0.2rem;') सन #{year - 1} - #{year} कर्मचारी वर्गाची सूची व वेतनश्रेणी नोंदवही

                                    div#hide-buttons
                                        button(onclick='window.print()') Print


                        tr

                            //- 1
                            th(rowspan='2') अ.क्र.

                            each entry in tableHeaderData
                                th #{entry.marathiHeader}

                            //- th एडिट  / डिलीट 


                    tbody(id='namuna-13-table-body')
                        each namunaEntryRow, index in  namuna13Details

                            tr 
                                td #{index + 1}

                                each entry in tableHeaderData
                                    - let value
                                    if namunaEntryRow[entry.name]
                                        - value= (entry.name == 'employment_type')? ((namunaEntryRow[entry.name] == 'Full-time') ? 'पुर्णकालिक' : 'अंशकालिक') : namunaEntryRow[entry.name] 
                                    else 
                                        -value = '-'
                                    td #{value}

            else 
                h2 ह्या महिना/ वर्ष श्रेणी साठी नोंदणीकृत कर्मचार्यांची संख्या 0 आहे

