doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title #{committee && committee.committee_name ? committee.committee_name : ''} समिती यादी

        // CSS
        link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
        link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
        link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
        link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')
        link(rel='stylesheet' href='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.css')
        link(rel='stylesheet' href='/asstest/coustom/css/main.css')

        // JS
        script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
        script(src='/asstest/plugins/popper/popper.min.js')
        script(src='/asstest/plugins/bs4/js/bootstrap.min.js')
        script(src='/asstest/plugins/date/jquery-ui.js')
        script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
        script(src='/asstest/plugins/notify/notify.js')
        script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
        script(src="/asstest/plugins/jquery_validation/additional-methods.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")
        script(src='/asstest/plugins/bootstrap4toggle/bootstrap4-toggle.min.js')
        script(src='/asstest/coustom/js/base.converter.js')
        script(src='/asstest/coustom/js/common.js')
        script(src='/asstest/coustom/js/handlers/gp/committees/committee-members-list-page-handler.js')

        style.
            .error {
                color: red !important;
                font-style: italic !important;
                font-weight: 700 !important;
            }
            body {
                background-color: #fff3e9 !important;
                min-height: 100vh;
            }
            .page-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
            }
            .table thead th {
                vertical-align: middle;
            }

    body
        include ../../include/navs.pug

        .container-fluid
            .row
                .col-12.mt-3
                    .page-header
                        h4.text-center.mb-0.text-success
                            i.fa.fa-trophy.mr-2
                            | समिती सदस्य यादी

                        div
                            //- a(href="/committees" class="btn btn-primary btn-sm mr-1")
                            button(onclick='window.history.back()' class="btn btn-primary btn-sm mr-1")
                                i.fa.fa-arrow-left.mr-1
                                | मागे

                            a(href=`/committees/members/add/${committee.committee_id}` class="btn btn-primary btn-sm")
                                i.fa.fa-plus-circle.mr-1
                                | नवीन सदस्य जोडा

            if !committee
                .row
                    .col-12.mt-4
                        .alert.alert-danger.text-center
                            i.fa.fa-exclamation-triangle.mr-2
                            | समिती मिळाली नाही किंवा अस्तित्वात नाही.
            else
                .row
                    .col-12
                        .card.shadow-sm.mb-3
                            .card-body
                                h5.text-success.mb-3.font-weight-bold समिती तपशील

                                dl.row.mb-0
                                    dt.col-sm-3.font-weight-bold समिती नाव:
                                    dd.col-sm-9.text-capitalize #{committee.committee_name || '-'}

                                    dt.col-sm-3.font-weight-bold ठराव क्रमांक:
                                    dd.col-sm-9 #{committee.resolution_number || '-'}

                                    dt.col-sm-3.font-weight-bold ठराव दिनांक:
                                    dd.col-sm-9 #{committee._resolution_date || '-'}

                    .col-12
                        .table-responsive.mt-3(style='margin-bottom: 5rem;')
                            table.table.table-bordered.table-hover.text-center
                                thead
                                    tr.bg-success.text-white
                                        th(width="5%") अनु क्र.
                                        th(width="25%") सदस्य नाव
                                        th(width="15%") पद
                                        th(width="7.5%") संपादन
                                        th(width="7.5%") हटवा

                                tbody#committeeMembersList
                                    - const members = committee.committee_members
                                    if !members || !Array.isArray(members) || members.length === 0 || !members[0] || !members[0].member_id
                                        tr.bg-warning.text-dark
                                            td(colspan='5') कोणत्याही सदस्याची नोंद नाही.
                                    else
                                        each c_member, index in members
                                            tr
                                                td #{index + 1}
                                                td.text-capitalize 
                                                    div.d-flex.align-items-center(style='gap:0.8rem;')
                                                        - let imgUrl =  (c_member && c_member.profile_image_url) ? `/uploads/images/committees/committeeMembers/${c_member.profile_image_url}` : ''
                                                        a(href=imgUrl style='width:37px; height:37px; border-radius:50%; overflow:hidden;display:flex;align-items:center;justify-content:center;')
                                                            img(src=imgUrl style='width:100%;height:100%;' onerror="this.src='/img/fallback/no-image-found.png'")
                                                        span #{c_member.member_name || '-'}
                                                td #{c_member.member_post || '-'}
                                                td
                                                    a.btn.btn-outline-primary.btn-sm(
                                                        href=`/committees/members/edit/${c_member.member_id}`,
                                                        title="संपादन करा",
                                                        target="_blank"
                                                    )
                                                        i.fa.fa-edit
                                                td
                                                    button.btn.btn-outline-danger.btn-sm.delete-member-btn(
                                                        data-member-id=`${c_member.member_id}`,
                                                        title="हटवा"
                                                    )
                                                        i.fa.fa-trash
