extends ../include/index-page-master-layout.pug


block content
    section(class='relative py-8 md:py-16')
        .container

            div(class='nagrik-nondani-form-container')
                h4.general-heading(class='sticky text-center text-xl md:text-2xl font-bold my-text-blue-dark tracking-wider w-fit mx-auto px-8 pb-2 border-b-2')  
                    i.fa-solid.fa-pen
                    //- span.ml-2 दिव्यांग नोंदणी
                    span.ml-2 #{t("divyangaRegistrationPage.heading")}

    section(class='py-8 md:py-16 bg-gray-100 relative overflow-hidden')
        .bg-shape(class='absolute top-0 left-64 h-full aspect-square !z-[1] top-1/2 right-1/2 transform -translate-x-1/2 -translate-y-1/2')
            .shape(class='h-full aspect-square my-bg-blue rotate-[210deg]')
        .container 
            .form-container(class='')
                form(id='divyangaRegistrationForm' class='md:w-[80%] mx-auto' )

                    div(class='  mx-auto flex flex-col gap-4')

                        .input-fields-container(class='px-4 lg:px-16 py-8 bg-white z-[100]')
                            div(class='grid grid-cols-1 lg:grid-cols-2 gap-4')

                                //- Full Name
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='full-name') 
                                            //- | संपूर्ण नाव
                                            | #{t("divyangaRegistrationPage.form.inputs.fullName.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-user')
                                            input(id='full-name' name='full_name' type='text' placeholder='संपूर्ण नाव' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Full Name')

                                //- Address
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='address') 
                                            //- | संपूर्ण पत्ता
                                            | #{t("divyangaRegistrationPage.form.inputs.address.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-map-marker-alt')
                                            input(id='address' name='address' type='text' placeholder='संपूर्ण पत्ता' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Address')

                                //- Education
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='education') 
                                            //- | शिक्षण
                                            | #{t("divyangaRegistrationPage.form.inputs.education.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-graduation-cap')
                                            input(id='education' name='education' type='text' placeholder='शिक्षण' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Education')

                                //- Demand
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='demand')
                                            //- | मागणी
                                            | #{t("divyangaRegistrationPage.form.inputs.demand.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-clipboard-list')
                                            input(id='demand' name='demand' type='text' placeholder='मागणी' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Demand')

                                //- Mobile Number
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='mobile') 
                                            //- | मोबाइल नंबर
                                            | #{t("divyangaRegistrationPage.form.inputs.mobile.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-phone-alt')
                                            input(id='mobile' name='mobile' type='text' maxlength='10' placeholder='मोबाइल नंबर' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Mobile Number')

                                //- Type of Disability
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='type-of-disability') 
                                            //- | अपंगत्वाचा प्रकार
                                            | #{t("divyangaRegistrationPage.form.inputs.typeOfDisability.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-wheelchair')
                                            input(id='type-of-disability' name='type_of_disability' type='text' placeholder='अपंगत्वाचा प्रकार' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Type of Disability')

                                //- Percentage of Disability
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='percentage-of-disability') 
                                            //- | अपंगत्वाची टक्केवारी
                                            | #{t("divyangaRegistrationPage.form.inputs.percentageOfDisability.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-percent')
                                            input(id='percentage-of-disability' name='percentage_of_disability' type='text' placeholder='अपंगत्वाची टक्केवारी' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Percentage of Disability')

                                //- Age
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='age') 
                                            //- | वय
                                            | #{t("divyangaRegistrationPage.form.inputs.age.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-calendar-alt')
                                            input(id='age' name='age' type='text' placeholder='वय' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Age')

                                //- Aadhar Number
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='aadhar-number') 
                                            //- | आधार क्र.
                                            | #{t("divyangaRegistrationPage.form.inputs.aadharNumber.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-id-card')
                                            input(id='aadhar-number' name='aadhar_number' type='text' placeholder='आधार क्र.' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Aadhar Number')

                                //- Application Number
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='application-number') 
                                            //- | अँप्लिकेशन नं.
                                            | #{t("divyangaRegistrationPage.form.inputs.applicationNumber.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-file-alt')
                                            input(id='application-number' name='application_number' type='text' placeholder='अँप्लिकेशन नं.' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Application Number')

                                //- Shera
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='shera') 
                                            //- | शेरा
                                            | #{t("divyangaRegistrationPage.form.inputs.remarks.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-tag')
                                            input(id='shera' name='shera' type='text' placeholder='शेरा' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Shera')

                                //- Bank Account Details
                                //- Bank Name
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='bank-name') 
                                            //- | बँकेचे नाव
                                            | #{t("divyangaRegistrationPage.form.inputs.bankName.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-building')
                                            input(id='bank-name' name='bank_name' type='text' placeholder='बँकेचे नाव' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Bank Name')

                                //- IFSC Code
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='bank-ifsc-code') 
                                            //- | IFSC कोड
                                            | #{t("divyangaRegistrationPage.form.inputs.bankIfscCode.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-code')
                                            input(id='bank-ifsc-code' name='bank_ifsc_code' type='text' placeholder='IFSC कोड' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='IFSC Code')

                                //- Bank Account Number
                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='bank-account-number') 
                                            //- | बँक खाते क्रमांक
                                            | #{t("divyangaRegistrationPage.form.inputs.bankAccountNumber.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2')
                                            i(class='fas fa-credit-card')
                                            input(id='bank-account-number' name='bank_account_number' type='text' placeholder='बँक खाते क्रमांक' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Bank Account Number')

                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='bank-account-number') 
                                            //- | प्रमाणपत्र अपलोड 
                                            | #{t("divyangaRegistrationPage.form.inputs.certificateUpload.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2  overflow-hidden')
                                            i(class='fas fa-file')
                                            input(id='certificate-file' name='certificate_file' type='file' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Certificate File')

                                .input-group(class='mb-3 px-lg-2')
                                    div(class='flex flex-col gap-2 w-full')
                                        label(class='font-bold tracking-wider' for='bank-account-number') 
                                            //- | स्वताचा फोटो  
                                            | #{t("divyangaRegistrationPage.form.inputs.photoUpload.label")}
                                        .input-holder(class='relative w-full focus-within:border-blue-600 border border-stone-400 px-4 py-1 rounded-md flex items-center gap-2 overflow-hidden')
                                            i(class='fas fa-file')
                                            input(id='image' name='image' type='file' class='py-1 px-2 outline-none !bg-stone-100 flex-grow placeholder:italic' aria-label='Certificate File')



                        .preview-container(class='px-4 lg:px-16 py-8 bg-white z-[100]')
                            div(class='flex flex-col items-center gap-2')
                                button(type='button' id='capture-image' name="capture_image" class='webcam-js-related px-8 py-2 bg-gray-500 text-white rounded-md') 
                                    //- | फोटो काढा
                                    | #{t("divyangaRegistrationPage.form.captureImageBtn")}

                                div(class='flex flex-col sm:flex-row items-center gap-4')
                                    div#camera-capture-image(class='webcam-js-related p-2 w-[175px] h-[210px] mx-auto border-2 border-gray-300 object-cover')
                                    img#capture-image-preview(class='p-2 w-[175px] h-[210px] mx-auto border-2 border-gray-300' src="image" onerror="this.src='https://png.pngtree.com/png-vector/20190612/ourmid/pngtree-cameraphotographycapturephotoaperture-flat-color-icon-ve-png-image_1347002.jpg'")

                        .button-container(class='z-[100]')
                            div(class='flex items-center justify-center gap-4')

                                button(type='submit' id='divyangaRegisrtationBtn' class='px-10 py-2 rounded-md inline-flex items-center gap-2 bg-emerald-500 transition-all duration-300 ease-in-out hover:bg-emerald-700  text-white font-bold tracking-wider') 
                                    <i class="fa-solid fa-floppy-disk"></i>
                                    //- span जतन करा
                                    span  #{t("divyangaRegistrationPage.form.registerBtn")}



block external_js
    script(src='/asstest/coustom/js/handlers/divyanga/divyanga-handler.js' defer)
