doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title फेरफार / नामांतर करण्यासाठी अर्ज

        script(src="/asstest/coustom/css/tailwind.js")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&family=Yatra+One&display=swap" rel="stylesheet")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js")

        style.
            table { 
                border-collapse: collapse; 
            }
            td, th { padding: 0.2rem; border: 1px solid oklch(59.2% 0.249 0.584); }

            @media print {
                @page {
                    size: A4 portrait;
                    margin: 1rem;
                }
                .hide-print { display: none !important; }
                * {
                    -webkit-print-color-adjust: exact !important;
                    print-color-adjust: exact !important;
                }
            }


            

    body
        - let year = ''

        // ================= NON PRINT UI =================
        div(class="hide-print")
            div(class="fixed top-[45%] right-[2%] flex flex-col gap-2 z-50")
                button(class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded shadow-md" onclick="window.print()")
                    | Print

        // ================= PRINT PAGE =================
        #print(class="tiro-devanagari-marathi-regular text-[15px] leading-relaxed" style='width:210mm; height:297mm;')

            div(class="my-print p-4 border border-gray-500 bg-white/60 relative h-full w-full print-bg")

                //- .absolute.inset-0.z-0.bg-cover.bg-no-repeat.bg-top(style="background-image: url('/img/water-mark-images/Seal_of_Maharashtra.png'); width: 90%;")
                    div(class="absolute inset-0 bg-white opacity-60")


                .absolute(class="inset-0 z-0 flex items-center justify-center")
                    img(src="/img/water-mark-images/Seal_of_Maharashtra.png" class="w-[65%] opacity-40")


                div(class='relative z-10 bg-white/30 h-full p-4 w-full')

                    // ===== HEADER =====
                    div(class="border-b border-gray-400 mb-3 pb-2 bg-pink-100/40")
                        h1(class='font-extrabold text-3xl text-center tracking-wide')
                            | फेरफार / नामांतर करण्यासाठी अर्ज

                    // ===== DATE ROW =====
                    div(class="flex justify-between mb-3")
                        p प्रति,
                        p #{ferfarApplication.application_date ? ferfarApplication._application_date.split(" ")[0] : ''}

                    // ===== ADDRESS =====
                    div(class="mb-3 space-y-1")
                        p सरपंच / ग्रामपंचायत अधिकारी,
                        p ग्रामपंचायत कार्यालय #{gp.gp_name}
                        p ता. #{gp.gp_taluka} जि. #{gp.gp_dist}

                    // ===== SUBJECT =====
                    div(class="mb-3")
                        p(class='font-bold')
                            span विषय :
                            span &nbsp; फेरफार / नामांतर करणे बाबत.

                    // ===== APPLICANT =====
                    div(class="mb-4 space-y-1")
                        p श्री. / सौ. #{ferfarApplication.applicant_name}
                        p
                            span रा. #{ferfarApplication.applicant_address}
                            span &nbsp;&nbsp;मो. नं. #{ferfarApplication.applicant_mobile}

                    // ===== BODY =====
                    div(class="print-body space-y-3")
                        p मा. महोदय,

                        p(class="ml-6")
                            | वरील विषयान्वये सविनय अर्ज सादर करतो / करते की,
                            | ग्रामपंचायत गावठाण हद्दीतील मौजे #{ferfarApplication.applicant_village}
                            | येथील मि. क्र. #{ferfarApplication.malmatta_no} मूळ मालक
                            | #{ferfarApplication.original_owner_name} यांच्या कडून

                        p(class="ml-6")
                            | मी / आम्ही खालीलप्रमाणे मिळकत प्राप्त केली आहे :

                        ol(class="list-decimal ml-12 space-y-1")
                            li #{ferfarApplication.ferfar_document}
                        p(class="mt-3")
                            | सदरील मिळकतीची चतुःसिमा खालील प्रमाणे आहे :

                        ol(class="ml-12 space-y-1")
                            li पूर्वेस : #{ferfarApplication.east_landmark} 
                            li पश्चिमेस : #{ferfarApplication.west_landmark} 
                            li दक्षिणेस : #{ferfarApplication.south_landmark} 
                            li उत्तरेस : #{ferfarApplication.north_landmark} 

                        p(class="mt-3")
                            | नियमानुसार सर्व थकबाकी व फिस भरण्यास मी तयार आहे.
                            | करिता सदरील फेरफार माझ्या / आमच्या नावे
                            | करण्यात यावा ही नम्र विनंती.

                    // ===== FOOTER =====
                    div(class="grid grid-cols-2 gap-4 mt-6")
                        div
                            h6(class="font-semibold mb-1") सोबत :
                            ol(class="list-decimal ml-6 space-y-1")
                                li #{ferfarApplication.ferfar_document}


                        div(class="flex flex-col justify-end items-end")
                            p अर्जदाराचे नाव
                            p #{ferfarApplication.applicant_name}
                            p(class="mt-8") स्वाक्षरी / अंगठ्याचा ठसा


    //- script.
        window.print()


script.
    window.addEventListener('load', function () {
        const element = document.getElementById('print');
        const options = {
            margin: 0,
            filename: 'ferfar-namantar-arj.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2, useCORS: true },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };
        html2pdf().set(options).from(element).save();
    });

