extends ../../include/internal-gp-master-layout.pug 

block custom_css 
    //- Optional future CSS hook

block content


    include ./ferfar-applications-report-print-modal.pug
    include ./ferfar-details-modal.pug


    div.container-fluid.mt-4
        //- Header
        div.row.justify-content-center.mb-3
            div.col-12.col-xl-11
                - let background = {pending: 'oklch(86.9% 0.022 252.894)', accepted: "oklch(90.5% 0.093 164.15)", rejected : "oklch(88.5% 0.062 18.334)", resolved : 'oklch(70.4% 0.14 182.503)'}
                - let statuses = {pending: 'प्रलंबित', accepted: "मान्य", rejected : "रद्द", resolved : 'पूर्त'}
                div.card.shadow-sm(style=`background: ${background[status]};`)
                    div.card-body.d-flex.flex-column.flex-md-row.align-items-center.justify-content-between.gap-3
                        div
                            h4.mb-1
                                i.fa.fa-users.me-2
                                | #{statuses[status]} फेरफार नोंदणी अर्ज यादी
                            p.mb-0.text-muted.small #{statuses[status]} फेरफार नोंदणी खाली दर्शविली आहे.
                        div.d-flex(style='gap:1rem;')
                            button.btn.btn-secondary.btn-sm(data-bs-toggle="modal" data-bs-target="#print-report-modal")
                                i.fa.fa-print.me-1
                                | रिपोर्ट
                            
                            if status != 'pending'
                                a.btn.btn-secondary.btn-sm(href='/gp-applications/f8-ferfar/list') प्रलंबित फेरफार अर्ज
                            
                            if status != 'accepted'
                                a.btn.btn-success.btn-sm(href=`/gp-applications/f8-ferfar/list?status=accepted&sort=${sort}`) मान्य फेरफार अर्ज
                                
                            if status != 'rejected'
                                a.btn.btn-danger.btn-sm(href=`/gp-applications/f8-ferfar/list?status=rejected&sort=${sort}`) रद्द फेरफार अर्ज

                            if status != 'resolved' 
                                a.btn.btn-success.btn-sm(style='background: oklch(60% 0.118 184.704);' href=`/gp-applications/f8-ferfar/list?status=resolved&sort=${sort}`) पूर्त तक्रार



        //- Table
        div.row.justify-content-center
            div.col-12.col-xl-11

                div.mb-4
                    div(class="d-flex align-items-center" style="gap:0.75rem;")

                        label(class="small fw-bold mb-0") क्रमवारी :

                        select(id="complaint-sort-order" class="form-select form-select-sm" style="width:160px;")
                            option(value="desc" selected=(sort=="desc")) नवीन आधी
                            option(value="asc" selected=(sort=="asc")) जुने आधी

                div.card.shadow-sm


                    div.card-body

                        div.table-responsive
                            table.table.table-bordered.table-hover.align-middle.mb-0
                                thead
                                    tr.bg-primary.text-white.text-center
                                        th(width="8%") फेरफार नोंदणी क्र.
                                        th(width="14%") अर्जदार
                                        th(width="12%") संपर्क
                                        th(width="25%") फेरफार तपशील
                                        th(width="10%") अर्ज प्रत
                                        th(width="21%") फेरफार नोंदणी माहिती
                                        th(width="5%") संदेश

                                        if status != 'resolved'
                                            th(width="5%") Action

                                tbody#f8FerfarApplications
                                    if !f8FerfarApplications || f8FerfarApplications.length == 0
                                        tr
                                            td(colspan="8" class="text-center text-danger py-4")
                                                i.fa.fa-info-circle.me-2
                                                | फेरफार अर्ज उपलब्ध नाही. 
                                    else
                                        each f8Ferfar, _index in f8FerfarApplications
                                            tr
                                                //- Index
                                                //- td.text-center #{_index + 1}

                                                //- ID
                                                td.text-center
                                                    span.badge.bg-secondary #{f8Ferfar.id}

                                                //- Applicant
                                                td.text-start
                                                    strong #{f8Ferfar.applicant_name}
                                                    br
                                                    small.text-muted आधार:
                                                    span.ms-1 #{f8Ferfar.applicant_adhar}

                                                //- Contact
                                                td.text-center
                                                    div(class="d-flex justify-content-start align-items-center gap-2")
                                                        i(class="fa fa-phone text-muted")
                                                        span #{f8Ferfar.applicant_mobile}

                                                    //- div(class="d-flex justify-content-start align-items-center gap-2 small text-muted mt-1")
                                                        i(class="fa fa-envelope")
                                                        span #{f8Ferfar.formEmail}

                                                //- Complaint Details                                                
                                                td.text-center
                                                    button.btn.btn-sm.btn-outline-primary.view-ferfar-details-btn(type="button" data-ferfar=JSON.stringify(f8Ferfar))
                                                        i.fa.fa-eye.me-1
                                                        | तपशील बघा
                                                td.text-center 
                                                    a.btn.btn-sm.btn-info(href=`/gp-applications/f8-ferfar/print/${f8Ferfar.id}` target='_blank')
                                                        i.fa.fa-print

                                                td.text-center
                                                    div.d-flex.flex-column.align-items-center.gap-1
                                                        span.small.text-muted नोंदणी दिनांक
                                                        span.fw-semibold #{f8Ferfar._application_date}
                                                        //- span.badge.bg-light.text-dark
                                                            | #{daysAgo(complaint._application_date)} दिवसापूर्वी नोंदवली


                                                //- SMS
                                                td.text-center
                                                    i.fa.fa-envelope.text-primary.hand.sendSMSNewApplication(
                                                        data-id=index
                                                        title="संदेश पाठवा"
                                                    )

                                                //- Actions
                                                if status != 'resolved'
                                                    td
                                                        div.d-flex.justify-content-center.align-items-center(style="gap:0.6rem;")

                                                            if status == 'pending'
                                                                button.btn.btn-success.btn-sm.accept-ferfar-application-btn(
                                                                    type="button"
                                                                    data-ferfar=JSON.stringify(f8Ferfar)
                                                                    data-ferfarId=f8Ferfar.id
                                                                )
                                                                    | Accept

                                                                button.btn.btn-danger.btn-sm.reject-ferfar-application-btn(
                                                                    type="button"
                                                                    data-ferfar=JSON.stringify(f8Ferfar)
                                                                    data-ferfarId=f8Ferfar.id
                                                                )
                                                                    | Reject

                                                            else if status == 'accepted'
                                                                button.btn.btn-success.btn-sm.resolve-ferfar-application-btn(
                                                                    type="button"
                                                                    data-ferfar=JSON.stringify(f8Ferfar)
                                                                    data-ferfarId=f8Ferfar.id
                                                                )
                                                                    | Resolve                                                            
                                                            
                                                            if (status == 'accepted' || status == 'rejected')
                                                                button.btn.btn-secondary.btn-sm.revoke-ferfar-application-btn(
                                                                    type="button"
                                                                    data-ferfar=JSON.stringify(f8Ferfar)
                                                                    data-ferfarId=f8Ferfar.id
                                                                )
                                                                    | Revoke



    //- ACCEPTANCE MODAL
    .modal(tabindex="-1" id="accept-ferfar-application-modal")
        .modal-dialog(class="modal-dialog-centered")
            .modal-content(class="shadow-lg rounded-3")

                // ================= HEADER =================
                .modal-header(class="bg-success text-white")
                    h5.modal-title(class="mb-0")
                        i(class="fa fa-check-circle me-2")
                        | फेरफार अर्ज स्वीकारा
                    button(type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close")

                // ================= BODY =================
                .modal-body
                    form#accept-ferfar-application-form
                        .mb-3
                            label(for="applicant_name" class="form-label fw-semibold") फेरफार अर्जदार
                            input(type='text' name='applicant_name' class='form-control' readonly) 
                        

                        .mb-2
                            label(for="acceptance_remark" class="form-label fw-semibold")
                                i(class="fa fa-comment-dots me-1 text-muted")
                                | शेरा
                            textarea(type="text" name="acceptance_remark" class="form-control" placeholder="शेरा लिहा (ऐच्छिक)")


                            input(name='id' hidden required)

                // ================= FOOTER =================
                .modal-footer(class="justify-content-between")
                    button(type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal")
                        i(class="fa fa-times me-1")
                        | बंद करा

                    button(type="submit" id='accept-ferfar-application-btn' class="btn btn-sm btn-success")
                        i(class="fa fa-check me-1")
                        | स्वीकारा


    //- REJECTION MODAL
    .modal(tabindex="-1" id="reject-ferfar-application-modal")
        .modal-dialog(class="modal-dialog-centered")
            .modal-content(class="shadow-lg rounded-3")

                // ================= HEADER =================
                .modal-header(class="bg-danger text-white")
                    h5.modal-title(class="mb-0")
                        i(class="fa fa-times-circle me-2")
                        | फेरफार अर्ज नाकारा
                    button(type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close")

                // ================= BODY =================
                .modal-body
                    form#reject-ferfar-application-form
                        .mb-3
                            label(for="applicant_name" class="form-label fw-semibold") फेरफार अर्जदार
                            input(type='text' name='applicant_name' class='form-control' readonly) 

                        .mb-2
                            label(for="rejection_remark" class="form-label fw-semibold")
                                i(class="fa fa-comment-dots me-1 text-muted")
                                | नकाराचे कारण
                            textarea(name="rejection_remark" class="form-control" placeholder="नकार देण्याचे कारण लिहा")

                            input(name="id" hidden required)

                // ================= FOOTER =================
                .modal-footer(class="justify-content-between")
                    button(type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal")
                        i(class="fa fa-times me-1")
                        | बंद करा

                    button(type="submit" id='reject-ferfar-application-btn' class="btn btn-sm btn-danger")
                        i(class="fa fa-ban me-1")
                        | नाकारा


    //- REsolve MODAL
    .modal(tabindex="-1" id="resolve-ferfar-application-modal")
        .modal-dialog(class="modal-dialog-centered")
            .modal-content(class="shadow-lg rounded-3")

                // ================= HEADER =================
                .modal-header(class="bg-success text-white")
                    h5.modal-title(class="mb-0")
                        i(class="fa fa-times-circle me-2")
                        | फेरफार अर्ज पूर्तता झाले
                    button(type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close")

                // ================= BODY =================
                .modal-body
                    form#resolve-ferfar-application-form
                        .mb-3
                            label(for="applicant_name" class="form-label fw-semibold") फेरफार अर्जदार
                            input(type='text' name='applicant_name' class='form-control' readonly) 

                        .mb-3
                            label(for="masik_sabha_date" class="form-label fw-semibold") मासिक सभा दिनांक
                            input.datepicker(type='text' name='masik_sabha_date' class='form-control') 


                        .mb-3
                            label(for="masik_tharav_number" class="form-label fw-semibold") मासिक ठराव क्रमांक
                            input(type='text' name='masik_tharav_number' class='form-control') 

                        .mb-3
                            label(for="resolution_malmatta_number" class="form-label fw-semibold") निवारण मालमत्ता क्रमांक
                            input(type='text' name='resolution_malmatta_number' class='form-control') 

                        .mb-2
                            label(for="resolution_remark" class="form-label fw-semibold")
                                i(class="fa fa-comment-dots me-1 text-muted")
                                | पूर्तता झाल्याचा शेरा
                            textarea(name="resolution_remark" class="form-control" placeholder="पूर्तता झाल्याचा शेरा")

                            input(name="id" hidden required)

                // ================= FOOTER =================
                .modal-footer(class="justify-content-between")
                    button(type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal")
                        i(class="fa fa-times me-1")
                        | बंद करा

                    button(type="submit" id='resolve-ferfar-application-btn' class="btn btn-sm btn-success")
                        i(class="fa fa-ban me-1")
                        | पूर्तता झाली


block custom_js 
    script(src='/asstest/coustom/js/handlers/gp-applications/ferfar/f8-ferfar-applications-list-page-handler.js')
    script(src='/asstest/coustom/js/handlers/gp-applications/ferfar/f8-ferfar-sorting-handler.js')
