doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title नमुना २५ प्रिंट गुंतवणूक नोंदवही

        style.
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            table{
                border-collapse:  collapse;
            }

            tr, th, td{
                border: 1px solid gray;
            }

            th, td {
                padding: 0.1rem 0.4rem;
                text-align: center;
            }

            #hide-buttons{
                button{
                    position: fixed;
                    top: 48%;
                    left: 1rem;
                    background: blue;
                    padding: 0.2rem 0.4rem;
                    color: white;
                }
            }


            /* Print-specific styles */
            @media print {
                @page {
                    size:A4 landscape; /* Forces horizontal orientation */
                }
                body {
                    margin: 0; /* Removes default margin for printing */
                }

                tr {
                    break-inside: avoid; /* Prevents table rows from breaking across pages */
                    page-break-inside: avoid; /* For compatibility with older browsers */
                }

                #hide-buttons {
                    display:none;
                }
            }

        link(rel='stylesheet' href='/asstest/coustom/css/namuna/namuna-1-to-33-print.css')

    body

        if !namuna25Details || namuna25Details.length == 0
            h3(style='text-align: center; margin-top: 5rem;') सदर महिना (#{month}) व वर्षासाठी (#{year}) नमुना २५ मध्ये नोंदी उपलब्ध नाही. येथे 
                a(href='/namuna/25/create') नवीन नोंदणी करा



        else
            - const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
            #hide-buttons 

                button(type='button' onclick='window.print()') Print

            table(style='width: 100%;')

                thead

                    tr 
                        th(colspan='15' )
                            div
                                div(style='display: flex; align-items: center; justify-content: space-between;')

                                    div नमुना २५

                                    div ग्रामपंचायत कार्यालय 
                                        span #{gp.gp_name}
                                    div
                                        img(src="/new-gp-page/main-page/images/header-images/mudra-nav-2.png" style='width: 100px;')

                                div 
                                    div.text-center(style='font-size:10px;') महा. ग्रा. पं. लेखा संहिता २०११ (नियम ६९ पहा)


                    tr 
                        th(colspan='15')
                            | गुंतवणूक नोंदवही
                    tr
                        //- 1
                        th(rowspan='2') अनु. क्र

                        //- 2 to 3
                        th(rowspan='2') गुंतवणुकीची तारीख
                        th(rowspan='2') गुंतवणुकीचा तपशिल बँकेत मुदत  ठेव राष्ट्रीय बचत  प्रमाणपत्र/सरकारी रोखे सहकारी व इतर क्रमांक व तारीख

                        //- 4 an 5
                        th(rowspan='1' colspan='2') गुंतवणुकीची रक्कम

                        //- 6 to 11
                        th(rowspan='2') परिणत होण्याची तारीख
                        th(rowspan='2') निव्वळ  देय रक्कम
                        th(rowspan='2') उपार्जित व्याजाची तारीख


                        th(rowspan='2') सचिवांची सही
                        th(rowspan='2') सरपंचाची सही

                        th(rowspan='2') बदलीचा  पदोन्नीत्तेचा दिनांक


                        //-  12 TO 15  
                        th(rowspan='2') दैनिक रोकड वहीतील जमा रक्कम
                        th(rowspan='2') प्रक्रतीचां तपशिल

                        th(rowspan='2') सचिवाची सही
                        th(rowspan='2') सरपंचाची सही






                    tr 
                        //- th 
                        //- th
                        //- th
                        th(rowspan='1' colspan='1') दर्शनी मूल्य

                        th(rowspan='1' colspan='1') खरेदी किंमत
                        //- th
                        //- th
                        //- th

                        //- th
                        //- th
                        //- th
                        //- th

                        //- th
                        //- th
                        //- th


                    tr 
                        each num in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] 
                            //-12,13,14,15]
                            th #{num}

                tbody
                    each investment, index in namuna25Details
                        tr
                            td #{index + 1}
                            td #{investment._investment_date}
                            td #{investment.investment_details} / #{investment.reference_number} | #{investment._reference_date}
                            td #{investment.face_value}
                            td #{investment.purchase_price}

                            td #{investment._maturity_date}
                            td #{investment.net_payable_amount}
                            td #{investment._interest_earned_date}

                            td
                            td 
                            td #{investment._transfer_promotion_date}
                            td #{investment.cashbook_deposited_amount}
                            td #{investment.specific_details}

                            td
                            td


