extends ./occupation-noc-print-layout.pug

block declaration_body

    div(class="text-lg leading-loose text-justify mt-6")

        p महोदय / महोदया,

        p(class="mt-4")
            | मी खाली सही करणारा अर्जदार श्री./श्रीमती 
            span(class="font-extrabold") #{occupationNoc.applicant_name}
            |  राहणार : 
            span(class="font-extrabold") #{occupationNoc.applicant_address}
            |  मोबाईल नं. : 
            span(class="font-extrabold") #{occupationNoc.applicant_mobile}
            |  माझ्या मालकीच्या / ताब्यातील जमिनीतून महावितरण (MSEDCL) यांची
            |  विद्युत वाहिनी / विद्युत खांब / वायर टाकण्याचा प्रस्ताव आहे.

        p(class="mt-3")
            | सदर जमिनीचा तपशील खालीलप्रमाणे आहे :
            |  गट क्रमांक : 
            span(class="font-extrabold") #{occupationNoc.survey_no || '________'}
            |  मौजे : 
            span(class="font-extrabold") #{occupationNoc.applicant_village}
            |  तालुका : 
            span(class="font-extrabold") #{occupationNoc.applicant_taluka}
            |  जिल्हा : 
            span(class="font-extrabold") #{occupationNoc.applicant_district}

        p(class="mt-3")
            | सदर विद्युत वहनामुळे मला कोणतीही हरकत नाही तसेच शासन व महावितरण नियमांनुसार
            |  आवश्यक ती कार्यवाही करण्यास मी संमती देत आहे.

        p(class="mt-3")
            | तरी माझ्या जमिनीतून महावितरण विद्युत वहन / विद्युत लाईन / पोल टाकण्यासाठी
            |  ना हरकत प्रमाणपत्र (NOC) देण्यात यावे, ही नम्र विनंती.

        div(class="mt-8 text-right")
            p धन्यवाद.
            p आपला विश्वासू,
