extends ./self-declaration-print-layout.pug

block declaration_body

    div(class="text-lg leading-loose text-justify mt-6")

        p महोदय/महोदया,

        p(class="mt-2")
            | मी खाली सही 
            span(class="font-extrabold") #{doer}
            |  
            span(class="font-extrabold") #{prefix}.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantFullSelfNameM || selfDeclaration.sd_applicantFullSelfNameE}
            | , रा.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantAddressM || selfDeclaration.sd_applicantAddressE}
            |  आधार क्रमांक 
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantAadharM || selfDeclaration.sd_applicantAadharE}
            | , याद्वारे जाहीर 
            span(class="font-extrabold") #{declarer}
            |  की, माझ्या 
            span(class="font-extrabold")
                | #{selfDeclaration.occupationPlaceOwnership === "OWNED" ? "मालकीच्या" : "भाडेतत्त्वावरील"}
            |  जागेमध्ये खालीलप्रमाणे व्यवसाय सुरू करीत आहे.

        p(class="mt-1")
            | व्यवसायाचे नाव : 
            span(class="font-extrabold")
                | #{selfDeclaration.occupationName || "__________________________"}

        p(class="mt-1")
            | व्यवसायाचा प्रकार : 
            span(class="font-extrabold")
                | #{selfDeclaration.occupationType || "__________________________"}
            //- |  (उदा. किराणा दुकान, हॉटेल, सलून, वर्कशॉप, गोदाम इ.)

        p(class="mt-1")
            | सदर व्यवसाय सुरू करण्यासाठी ग्रामपंचायत / नगरपंचायत यांचे 
            span(class="font-extrabold") ना हरकत प्रमाणपत्र (NOC)
            |  आवश्यक आहे.

        p(class="mt-1")
            | तरी सदर व्यवसायास कोणतीही हरकत नसल्याचे प्रमाणपत्र देण्यात यावे,
            |  ही नम्र विनंती.

        p(class="mt-3")
            | मी दिलेली वरील सर्व माहिती खरी व बरोबर आहे.

        p(class="mt-6 text-right font-extrabold")
            | धन्यवाद
