extends ./self-declaration-print-layout.pug

block declaration_body

    div(class="text-lg leading-loose text-justify mt-6")

        p महोदय/महोदया,

        p(class="mt-4")
            | मी खाली सही 
            span(class="font-extrabold") #{doer}
            |  
            span(class="font-extrabold") #{prefix}.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantFullSelfNameM || selfDeclaration.sd_applicantFullSelfNameE}
            | , रा.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantAddressM || selfDeclaration.sd_applicantAddressE}
            |  आधार क्रमांक 
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantAadharM || selfDeclaration.sd_applicantAadharE}
            | , याद्वारे जाहीर 
            span(class="font-extrabold") #{declarer}
            |  की, माझ्या घरामध्ये घरगुती शौचालय बांधलेले असून ते नियमितपणे वापरात आहे.

        p(class="mt-3")
            | सदर शौचालयाबाबत 
            span(class="font-extrabold") #{selfDeclaration.certificateReason || "__________________________"}
            |  या कारणासाठी मला 
            span(class="font-extrabold") शौचालय प्रमाणपत्र
            |  आवश्यक आहे.

        p(class="mt-3")
            | मी दिलेली वरील सर्व माहिती खरी व बरोबर असून,
            |  भविष्यात ती चुकीची अथवा खोटी आढळल्यास त्याची संपूर्ण जबाबदारी माझी राहील.

        p(class="mt-3")
            | तरी नियमाप्रमाणे मला शौचालय प्रमाणपत्र देण्यात यावे,
            |  ही नम्र विनंती.

        p(class="mt-6 text-right font-extrabold")
            | धन्यवाद