extends ./self-declaration-print-layout.pug

block declaration_body

    div(class="text-lg leading-loose text-justify mt-6")

        p महोदय/महोदया,

        p(class="mt-4")
            | मी खाली सही 
            span(class="font-extrabold") #{doer}
            |  
            span(class="font-extrabold") #{prefix}.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantFullSelfNameM || selfDeclaration.sd_applicantFullSelfNameE}
            | , रा.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantAddressM || selfDeclaration.sd_applicantAddressE}
            |  आधार क्रमांक 
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantAadharM || selfDeclaration.sd_applicantAadharE}
            |  माझ्या मालकीच्या / वास्तव्यास असलेल्या घरासाठी घरगुती नळ जोडणी घेणेकरिता मला ग्रामपंचायत / पाणीपुरवठा विभागाची अनुमती आवश्यक आहे.

        p(class="mt-3")
            | तरी नियमाप्रमाणे माझ्या घरास नळ जोडणीस अनुमती देण्यात यावी,
            |  ही नम्र विनंती.

        p(class="mt-3")
            | मी दिलेली वरील सर्व माहिती खरी व बरोबर आहे.

        p(class="mt-6 text-right font-extrabold")
            | धन्यवाद
