extends ./self-declaration-print-layout.pug

block declaration_body

    div(class="text-lg leading-loose text-justify mt-6")

        p महोदय/महोदया,

        p(class="mt-4")
            | मी खाली सही 
            span(class="font-extrabold") #{doer}
            |  
            span(class="font-extrabold") #{prefix}.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantFullSelfNameM || selfDeclaration.sd_applicantFullSelfNameE}
            | , रा.
            span(class="font-extrabold")
                | #{selfDeclaration.sd_applicantAddressM || selfDeclaration.sd_applicantAddressE}
            |  याद्वारे जाहीर 
            span(class="font-extrabold") #{declarer}
            |  की, माझे पती 
            span(class="font-extrabold")
                | #{selfDeclaration.husbandNameM || selfDeclaration.husbandNameE}
            |  यांचे निधन दिनांक 
            span(class="font-extrabold")
                | #{selfDeclaration._husbandDeathDate}
            |  रोजी झाले आहे.

        p(class="mt-3")
            | सध्या मी विधवा असून सदर प्रमाणपत्र 
            span #{selfDeclaration.certificateReason} 
            span कारणासाठी आवश्यक आहे.

        p(class="mt-3")
            | मी दिलेली माहिती खरी व बरोबर असून भविष्यात ती चुकीची आढळल्यास त्याची संपूर्ण जबाबदारी माझी राहील.

        p(class="mt-6 text-right font-extrabold")
            | धन्यवाद
