doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title} 

        script(src="/asstest/coustom/css/tailwind.js")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&family=Yatra+One&display=swap" rel="stylesheet")

        style.
            table { border-collapse: collapse; width: 100%; }
            td, th {
                padding: 0.3rem;
                border: 1px solid oklch(26.2% 0.051 172.552);
                vertical-align: top;
                font-size:0.8rem;
            }

            @media print {
                @page { size:  landscape; margin: 9mm; }
                .hide-print { display: none !important; }
                #print { height:100lvh; }
                .my-print { position: relative; background: none !important; }
                * { -webkit-print-color-adjust: exact !important; print-color-adjust: exact !important; }
                .print-bg {
                    background-image: url('/img/background/bg-tricolor.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top center;
                }

                /* keep header repeating */
                thead { display: table-header-group !important; }
                //- tfoot { display: table-footer-group !important; }
                tr    { page-break-inside: avoid; break-inside: avoid; }
            }

            .tiro-devanagari-marathi-regular {
                font-family: "Tiro Devanagari Marathi", serif;
                font-weight: 400;
                font-style: normal;
            }

            .qrcode {
                width: 30mm;
                height: 30mm;
            }

            .qrcode img {
                width: 100%;
                height: 100%;
            }


        script(src='/asstest/plugins/qrcodejs/qrcode.min.js')

    body
        //- - let year = ''

        div(class="hide-print")
            div(class="fixed top-[45%] right-[2%] flex flex-col gap-2 z-50")
                button(class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded shadow-md" onclick="window.print()") Print

                select(class="form-select block w-full mt-1 px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500 text-sm text-gray-700")
                    option(value='1' selected=(gp && gp.srapanch_sign_display == 1)) सरपंच सही दाखवा
                    option(value='-1' selected=(gp && gp.srapanch_sign_display == 0)) सरपंच सही लपवा
                    option(value='2' selected=(gp && gp.srapanch_sign_display == 1)) ग्रा.अ. सही दाखवा
                    option(value='-2' selected=(gp && gp.srapanch_sign_display == 0)) ग्रा.अ. सही लपवा
                    option(value='3' selected=(gp && gp.srapanch_sign_display == 1)) दोन्ही सही दाखवा
                    option(value='-3' selected=(gp && gp.srapanch_sign_display == 0)) दोन्ही सही लपवा


                select(id='subject-dropdown' class="form-select block w-full mt-1 px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500 text-sm text-gray-700")

                    option(value="" selected= (subject == "")) सर्व दाखले #{subject === "" ? `(${occupationNocs.length})` : ""}
                    each _option in occupationNocSubjects
                        option(value=_option.subject_code selected=(subject == _option.subject_code)) #{_option.subject_code ? _option.subject_code.split("_").join(" ") : "सर्व"} दाखवा #{subject === _option.subject_code ?`(${occupationNocs.length})` : ""}


        if !(occupationNocs && occupationNocs.length)
            h2(class='mt-8 text-center text-2xl font-bold text-red-500') निवडलेल्या विषयासाठी कोणताही मान्य अर्ज सापडला नाही.
        else
            #print(class="tiro-devanagari-marathi-regular")
                div(class="my-print p-2 border border-gray-900 bg-white/80 relative h-full print-bg")
                    div(class="absolute inset-0 bg-white opacity-80")
                    .relative.z-10.bg-white.bg-opacity-80.h-full

                        table
                            thead
                                tr
                                    th(colspan='10' class='border !border-b-0 p-0') 
                                        p(class='text-xl p-0') ग्रामपंचायत कार्यालय , #{gp && gp.gp_name ? gp.gp_name : '—'} , पं. स. #{gp && gp.gp_taluka ? gp.gp_taluka : '—'} , जि. #{gp && gp.gp_dist ? gp.gp_dist : '—'}
                                //- tr(class='border-b-0')
                                    th(colspan='10' class='border !border-b-0 !border-t-0 p-0') 
                                        p(class='text-sm p-0') महाराष्ट्र लोकसेवा हक्क अध्यादेश २०१५ क्रमांक - आर.टी.एस-२०१५/प्र.क्र. ३२/पं.स.-५, दिनांक १४ जुलै २०१५

                                //- tr(class='border-b-0') 
                                    th(colspan='10' class='border !border-b-0 !border-t-0 p-0') 
                                        p(class='text-lg p-0') सहपत्र - ब


                                tr(class='border-b-0')
                                    th(colspan='10' class='border !border-b-0 !border-t-0 p-0')
                                        p(class='text-lg p-0')
                                            | व्यवसाय ना हरकत अर्जाची नोंदवही रिपोर्ट &nbsp; (
                                            if type == "yearToYear"
                                                span #{fromYear} ते #{toYear}
                                            else
                                                span माहे : #{month} वर्ष : #{year}
                                            | )


                                tr
                                    th(colspan='10')
                                        div  ग्रामपंचायत कार्यालय , #{gp && gp.gp_name ? gp.gp_name : '—'} , पं. स. #{gp && gp.gp_taluka ? gp.gp_taluka : '—'} , जि. #{gp && gp.gp_dist ? gp.gp_dist : '—'}

                                tr
                                    th(rowspan='1' colspan='1') अ. क्र.
                                    th(rowspan='1' colspan='1') अर्ज क्र.

                                    th(rowspan='1' colspan='1') अर्जदाराचा तपशील
                                    th(rowspan='1' colspan='1') नोंदणी दिनांक

                                    th(rowspan='1' colspan='1') अर्जाचा विषय
                                    th(rowspan='1' colspan='1') निवारणीचा दिनांक 

                                    th(rowspan='1' colspan='1') QR Code
                                    th(rowspan='1' colspan='1') शेरा

                                tr
                                    each c in ['१','२','३','४','५','६','७','८']
                                        th #{c}

                            tbody
                                each occupationNoc, _index in occupationNocs 
                                    - const applicantName = occupationNoc.applicant_name || '—'
                                    - const applicantAddr = occupationNoc.applicant_address || ''

                                    tr
                                        //- 1st and 2nd
                                        td #{_index + 1}
                                        td #{occupationNoc.id}

                                        //- 3rd
                                        td
                                            div 
                                                span(class='font-bold') नाव :
                                                span #{applicantName}
                                            if applicantAddr
                                                div 
                                                    span(class='font-bold') पत्ता: 
                                                    span #{applicantAddr}
                                            if occupationNoc.applicant_mobile
                                                div 
                                                    span(class='font-bold') मोबाईल क्र.: 
                                                    span #{occupationNoc.applicant_mobile}
                                            if occupationNoc.applicant_email
                                                div 
                                                    span(class='font-bold') ई-मेल: 
                                                    span #{occupationNoc.applicant_email}

                                        //- 4rth
                                        td #{occupationNoc._createdAt}
                                            
                                        td #{occupationNoc.subject_code ? occupationNoc.subject_code.split("_").join(" ") : "-"}


                                        //- 5th
                                        td #{occupationNoc._date_of_acceptance}
                                        td
                                            div(class='flex justify-center p-1')
                                                - let qrId = `qrcode-${occupationNoc.id}`
                                                div.qrcode(id=qrId)
                                        td #{occupationNoc.acceptance_remark}
                                        
                                        //- td 
                                        //-     span.opacity-0 dummy



script.
    (function(){
        let _occupationNocs = !{JSON.stringify(occupationNocs)}
        //- console.log(_complaints)

        if(_occupationNocs){
            _occupationNocs.forEach((_occNoc) =>{
                generateQRCode(_occNoc.id);
            })
        }

        function generateQRCode(id){
            let qrUrl = window.location.origin + "/gp-applications/occupation-noc/card/" + id;
            new QRCode(document.getElementById(`qrcode-${id}`), qrUrl)
        }


        let subjectDropdown = document.getElementById('subject-dropdown')

        subjectDropdown.addEventListener("change", function(){
            const subjectValue = this.value;
            const url = new URL(window.location.href);
            if (subjectValue) {
                url.searchParams.set('subject', subjectValue);
            } else {
                url.searchParams.delete('subject');
            }
            window.location.href = url.toString();
        })
    })()
