doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // common css
    link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
    link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
    link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
    link(rel='stylesheet' href='/asstest/coustom/css/main.css')
    link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

    script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
    script(src='/asstest/plugins/popper/popper.min.js')
    script(src='/asstest/plugins/date/jquery-ui.js')
    script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
    script(src='/asstest/plugins/notify/notify.js')
    script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
    script(src="/asstest/plugins/jquery_validation/additional-methods.js")

    //- Bootstrap 5 CSS & JS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    //- // common js setups
    script(src='/asstest/coustom/js/base.converter.js')
    script(src='/asstest/coustom/js/common.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")


    link(href='/asstest/coustom/css/namuna/namuna-11/namuna-11-page.css' rel='stylesheet')
    script(src='/asstest/coustom/js/handlers/namuna/namuna-11/namuna-11-page-handler.js' type='module' defer)

    title नमुना ११ किरकोळ मागणी नोंदवही

    style.


      label.error {
        color: red;
        font-size: 0.9rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 2rem;
        font-size: 90%;
      }

      tr, td, th {
        border: 1px solid black;
        padding: 0.2rem;
      }

      th {
        text-align: center;
      }

  body
    include ../../include/navs.pug


    - 
      const months = [
        "०१ (जानेवारी)", "०२ (फेब्रुवारी)", "०३ (मार्च)", "०४ (एप्रिल)", 
        "०५ (मे)", "०६ (जून)", "०७ (जुलै)", "०८ (ऑगस्ट)", 
        "०९ (सप्टेंबर)", "१० (ऑक्टोबर)", "११ (नोव्हेंबर)", "१२ (डिसेंबर)"
      ]

    .modal.fade#monthYearModal(tabindex="-1" aria-labelledby="monthYearModalLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h1.modal-title.fs-5#monthYearModalLabel महिना व वर्ष निवडा
            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
          .modal-body

            form(id='month-year-form') 

              .d-flex.align-items-center.justify-content-center.gap-4 
                select.form-select(name='month')
                  option(value='' ) -- महिना निवडा--
                  each month, monthIndex in months 
                    option(value=(monthIndex + 1)) #{month}


                select.form-select(name='year')
                  option(value='') -- वर्ष निवडा --

                  - let currYear  = new Date().getFullYear()
                  - let startYr = currYear  - 25
                  each year in Array.from({length: currYear  - startYr + 1}, (v, i) => startYr + i).reverse()
                    option(value=year) #{year}



          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
            button.btn.btn-primary(type="button" id='print-namuna-11-btn') Print

    .container
      h2.heading-1.mt-2.mb-1 नमुना ११ किरकोळ मागणी नोंदवही




      div.py-2
        .d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
          button(type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#monthYearModal") Print


          a.btn.btn-primary.btn-sm(href='/namuna/11/create')
            .d-flex.gap-2.align-items-center
              <i class="fa fa-plus"></i>
              | नवीन नोंदणी 

          a(href='/namuna' class="btn btn-primary btn-sm") नमुने

      div.d-flex.gap-4.justify-content-center.mb-4.d-none

        div 
          select.form-select(name='show-report-by')

            option(value='-1') --Select Report Type--

            option(value='1') फक्त वर्ष
            option(value='2') वर्ष श्रेणी
            option(value='3') महिना व वर्ष

        - let startYear = 1999
        - let currentYear = new Date().getFullYear()

        div(id='show-report-by-div')
          div(data-target='1' style='display:none')
            div.d-flex.gap-2
              select.form-select(name='selected_year' id='selected-year')
                option(value='') -- Select --
                each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i)
                  option(value=year) #{year}

          div(data-target='2' style='display:none')
            div.d-flex.gap-2

              div
                select.form-select(name='selected_from_year' id='selected-from-year')
                  option(value='') -- Select --
                  each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i)
                    option(value=year) #{year}

              div 
                select.form-select(name='selected_to_year' id='selected-to-year')
                  option(value='') -- Select --
                  each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i + 1)
                    option(value=year) #{year}

          div(data-target='3' style='display:none')
            div.d-flex.gap-2
              div
                select.form-select(name='selected_month' id='selected-month')
                  option(value='-1') --Select Month --
                  each month, monthNum in months
                    option(value=(monthNum + 1))= month

              div
                select.form-select(name='selected_year_2' id='selected-year-2')
                  option(value='') -- Select Year--
                  each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i)
                    option(value=year) #{year}

        div
          button.btn.btn-secondary.btn-sm(id='show-namuna-11-report-btn')
            | Report
        div
          a.btn.btn-primary.btn-sm(href='/namuna/11/create')
            .d-flex.gap-2.align-items-center
              <i class="fa fa-plus"></i>
              | नवीन नोंदणी 



      .table-container 

        .table-responsive 


          table(style='width: 100%;')

            thead

              tr 
                th(colspan='14' )
                  div
                    div(style='display: flex; align-items: center; justify-content: space-between;')

                      div नमुना ११

                      div ग्रामपंचायत कार्यालय 
                        span #{gp.gp_name}
                      div
                        img(src="/new-gp-page/main-page/images/header-images/mudra-nav-2.png" style='width: 100px;')

                    div 
                      div.text-center(style='font-size:10px;') महा ग्रा. पं. लेख संहिता २०११ (नियम २६ (१) व (२), ३७ (१) पहा)


              tr 
                th(colspan='14')
                  | नमुना ११ किरकोळ मागणी नोंदवही
              tr
                //- 1
                th(rowspan='2') अनु. क्र

                //- 2 to 5
                th(rowspan='2') ज्या व्यक्तीने मागणीची रक्कम द्यावयाची आहे त्या व्यक्तीचे नाव व पत्ता 
                th(rowspan='2') मागणीचे स्वरूप
                th(rowspan='2') मागणीसाठी प्रधिकार

                th(rowspan='1' colspan='3') मागणी

                //- 6 to 11
                th(rowspan='2') देयक क्रमांक व तारीख
                th(rowspan='1' colspan='2') वसूल झालेल्या रकमा
                th(rowspan='1' colspan='2') सूट
                th(rowspan='2') शिल्लक
                th(rowspan='2') शेरा
                th(rowspan='2') Action

              tr
                //- 1
                //- th(rowspan='1')
                //- th(rowspan='1')
                //- th(rowspan='1')
                //- th(rowspan='1')
                //- th(rowspan='1')

                //- 
                th(rowspan='1' colspan='1') हफ्ता
                th(rowspan='1' colspan='1') रक्कम
                th(rowspan='1' colspan='1') एकूण रक्कम

                //- th(rowspan='1')

                th(rowspan='1' colspan='1') पावतीचा क्रमांक व तारीख 
                th(rowspan='1' colspan='1') रक्कम

                th(rowspan='1' colspan='1') आदेशाचा क्रमांक व तारीख 
                th(rowspan='1' colspan='1') रक्कम

                //- th 
                //- th 

              tr 
                each num in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
                  th #{num}

            tbody



              each namuna11Entry, index in namuna11Details 
                //- each namuna11Entry, index in Array(20).fill(paymentnamuna11Entry).flat()
                tr 

                  td #{index +  1}

                  td #{namuna11Entry.name_of_person}, #{namuna11Entry.address_of_person}
                  td #{namuna11Entry.nature_of_demand}
                  td #{namuna11Entry.authority_for_demand}
                  td #{namuna11Entry.demand_installment}

                  td #{namuna11Entry.demand_amount}
                  td #{namuna11Entry.demand_total_amount}
                  td #{namuna11Entry.bill_number}, #{namuna11Entry._bill_date}

                  td #{namuna11Entry.receipt_number}, #{namuna11Entry._receipt_date}
                  td #{namuna11Entry.recovered_amount}

                  td #{namuna11Entry.order_number}, #{namuna11Entry._order_date}
                  td #{namuna11Entry.exemption_amount}

                  td #{namuna11Entry.remaining_amount}
                  td #{namuna11Entry.remarks}



                  td 

                    .d-flex.align-items-center.justify-content-center.gap-1
                      a.btn.btn-success.btn-sm(href=`/namuna/11/edit/${namuna11Entry.id}`)
                        i.fa.fa-pencil

                      button.btn.btn-danger.btn-sm(class='delete-namuna-11-entry-btn' data-namuna11Entry=namuna11Entry.id)
                        i.fa.fa-trash