doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		// common css
		link(rel='stylesheet' href='/asstest/plugins/bs4/css/bootstrap.css')
		link(rel='stylesheet' href='/asstest/plugins/font-awesome470/css/font-awesome.css')
		link(rel='stylesheet' href='/asstest/plugins/date/jquery-ui.css')
		link(rel='stylesheet' href='/asstest/coustom/css/main.css')
		link(rel='stylesheet' href='/asstest/plugins/select/css/select2.min.css')  

		script(src='/asstest/plugins/jquery/jquery-3.3.1.min.js')
		script(src='/asstest/plugins/popper/popper.min.js')
		script(src='/asstest/plugins/date/jquery-ui.js')
		script(src='/asstest/plugins/sweetalert/sweetalert.min.js')
		script(src='/asstest/plugins/notify/notify.js')
		script(src="/asstest/plugins/jquery_validation/jquery.validate.min.js")
		script(src="/asstest/plugins/jquery_validation/additional-methods.js")

		// Bootstrap 5 CSS & JS
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

		// common js setups
		script(src='/asstest/coustom/js/base.converter.js')
		script(src='/asstest/coustom/js/common.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")

		link(href='/asstest/coustom/css/namuna/namuna-11/namuna-11-page.css' rel='stylesheet')
		script(src='/asstest/coustom/js/handlers/namuna/namuna-11/namuna-11-create-entry-page-handler.js' type='module' defer)


		title Edit नमुना ११ किरकोळ मागणी नोंदवही
		style.
			.heading-1 {
				font-weight: bold !important;
				font-size: 1.4rem;
				text-align: center;
				color: #bb2525;
				border-radius: 15px;
				border: 2px solid #bb2525;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 8px;
				margin: 0 auto 1.4rem;
				width: fit-content;
			}

			label.error {
				color: red;
				font-size: 0.9rem;
			}

	body
		include ../../include/navs.pug
		- 
			const months = [
				"०१ (जानेवारी)", "०२ (फेब्रुवारी)", "०३ (मार्च)", "०४ (एप्रिल)", 
				"०५ (मे)", "०६ (जून)", "०७ (जुलै)", "०८ (ऑगस्ट)", 
				"०९ (सप्टेंबर)", "१० (ऑक्टोबर)", "११ (नोव्हेंबर)", "१२ (डिसेंबर)"
			]
		.container
			h2.heading-1.mt-2.mb-1 Edit नमुना ११ किरकोळ मागणी नोंदवही

			div
				.d-flex.align-items-center.justify-content-end(style="gap: 1rem;")
					a.btn.btn-primary(href='/namuna/11') यादी

			if namuna11Entry

				form(id='namuna-11-form').mt-1
					.form.form-1
						//- h4.text-center.fw-bold नमुना १८ नोंदणी

						.row.justify-content-center.justify-content-md-between.gx-4.gy-2
							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="month") महिना
									select.form-select(id="month" name="month" required)
										option(value='') --निवडा--
										each month, monthIndex in months 
											option(value=(monthIndex + 1) selected = (((monthIndex + 1) == namuna11Entry.month) ? true: false))=month

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="year") वर्ष
									select.form-select(id="year" name="year" required)
										option(value='') --निवडा--
										- let currentYear = new Date().getFullYear()
										- let startYear = currentYear - 25
										each year in Array.from({length: currentYear - startYear + 1}, (v, i) => startYear + i).reverse()
											option(value=year selected = ((year == namuna11Entry.year) ? true: false)) #{year}

							//- THIS IS THE BELOW
							.col-11.col-md-6.col-lg-6
								.form-group
									label.form-label(for="name_of_person") व्यक्तीचे नाव
									input.form-control(type="text" id="name_of_person" name="name_of_person" required placeholder=" " value=namuna11Entry.name_of_person)

							//- Doubtness
							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="address_of_person") व्यक्तीचा पत्ता
									input.form-control(type="text" id="address_of_person" name="address_of_person" required placeholder=" " value=namuna11Entry.address_of_person)

							.col-11.col-md-12.col-lg-4
								.form-group
									label.form-label(for="nature_of_demand") मागणीचे स्वरूप
									input.form-control(type='text' id="nature_of_demand" name="nature_of_demand" required placeholder="" value=namuna11Entry.nature_of_demand)

							.col-11.col-md-12.col-lg-4
								.form-group
									label.form-label(for="authority_for_demand") मागणीसाठी प्राधिकार
									input.form-control(type='text' id="authority_for_demand" name="authority_for_demand" required placeholder="" value=namuna11Entry.authority_for_demand)

							//- 
							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="demand_installment") मागणी हप्ता
									input.form-control(type="number" id="demand_installment" name="demand_installment" required placeholder="" value=namuna11Entry.demand_installment)

							.col-11.col-md-12.col-lg-3
								.form-group
									label.form-label(for="demand_amount") मागणी रक्कम
									input.form-control(type="number" id="demand_amount" name="demand_amount" placeholder="" value=namuna11Entry.demand_amount)

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="demand_total_amount") मागणी एकूण रक्कम
									input.form-control(type="number" id="demand_total_amount" name="demand_total_amount" required placeholder="" value=namuna11Entry.demand_total_amount)

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="bill_number") देयक क्रमांक
									input.form-control(type="text" id="bill_number" name="bill_number" required placeholder="" value=namuna11Entry.bill_number)

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="bill_date") देयक तारीख
									input.form-control.datepicker(type="text" id="bill_date" name="bill_date" required placeholder="" value=namuna11Entry._bill_date)

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="receipt_number") पावतीचा क्रमांक
									input.form-control(type="text" id="receipt_number" name="receipt_number" required placeholder="" value=namuna11Entry.receipt_number)

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="receipt_date") पावतीची तारीख
									input.form-control.datepicker(type="text" id="receipt_date" name="receipt_date" required placeholder="" value=namuna11Entry._receipt_date)

							.col-11.col-md-6.col-lg-3
								.form-group
									label.form-label(for="recovered_amount") वसूल झालेल्या रकमा
									input.form-control(type="number" id="recovered_amount" name="recovered_amount" required placeholder="" value=namuna11Entry.recovered_amount)

							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="order_number") आदेशाचा क्रमांक
									input.form-control(type="text" id="order_number" name="order_number" required placeholder="" value=namuna11Entry.order_number)

							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="order_date") आदेशाची तारीख
									input.form-control.datepicker(type="text" id="order_date" name="order_date" required placeholder="" value=namuna11Entry._order_date)

							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="exemption_amount") वसुलीतून सूट
									input.form-control(type="number" id="exemption_amount" name="exemption_amount" required placeholder="" value=namuna11Entry.exemption_amount)

							.col-11.col-md-6.col-lg-4
								.form-group
									label.form-label(for="remaining_amount") शिल्लक
									input.form-control(type="number" id="remaining_amount" name="remaining_amount" required placeholder="" value=namuna11Entry.remaining_amount)

							.col-11.col-md-12.col-lg-8
								.form-group
									label.form-label(for="remarks") शेरा
									input.form-control(id="remarks" name="remarks" placeholder="शेरा" value=namuna11Entry.remarks)


									input(name='id' value=namuna11Entry.id hidden)


						.d-flex.gap-4.justify-content-center
							button.btn.btn-success(type='button' id="update-namuna-11-entry") Update
							button.btn.btn-secondary(type='reset' id='reset') Reset             
			else 
				h4.fw-bold.text-center संबंधित नोंद उपलब्ध नाही

